<h2>Complexidade</h2>
<p-dataTable 
  [value]="linhasResumo"
  [responsive]="true" 
  scrollable="true" 
  scrollWidth="100%">
  <p-column field="label"></p-column>

  <div *ngFor="let complexidade of complexidades">
    <p-column [header]="complexidade">
      <ng-template let-linhaResumo="rowData" pTemplate="body">
        {{ linhaResumo.totalPorComplexidade(complexidade) }}
      </ng-template>
    </p-column>
  </div>

  <!-- <p-column header="Impacto">
    IMPLEMENTAR NA PRÓXIMA VERSÃO
  </p-column> -->

  <p-column header="Quantidade">
    <ng-template let-linhaResumo="rowData" pTemplate="body">
      {{ linhaResumo.getQuantidadeTotal() }}
    </ng-template>
  </p-column>

  <p-column header="PF - Total">
    <ng-template let-linhaResumo="rowData" pTemplate="body">
      {{ linhaResumo.getTotalGrossPF() | number }}
    </ng-template>
  </p-column>

  <p-column header="PF - Ajustado">
    <ng-template let-linhaResumo="rowData" pTemplate="body">
      {{ linhaResumo.getTotalPf() | number }}
    </ng-template>
  </p-column>

</p-dataTable>


<h2>Impacto</h2>

<p-dataTable 
  [value]="linhasResumo"
  [responsive]="true" 
  scrollable="true" 
  scrollWidth="100%">
  
  <p-column field="label"></p-column>

  <p-column header="Inclusão">
    <ng-template pTemplate="body">
    </ng-template>
  </p-column>

  <p-column header="Alteração">
    <ng-template pTemplate="body">
    </ng-template>
  </p-column>

  <p-column header="Exclusão">
    <ng-template pTemplate="body">
    </ng-template>
  </p-column>

  <p-column header="Conversão">
    <ng-template pTemplate="body">
    </ng-template>
  </p-column>

</p-dataTable>