<div class="ui-g-12 ui-md-12 ui-sm-12">
  <div class="ui-g-7 ui-md-7 ui-sm-12">
    <h2>Complexidade</h2>
    <p-dataTable [value]="linhasResumo" [responsive]="true" scrollable="true" scrollWidth="100%">
      <p-column field="label"></p-column>

      <div *ngFor="let complexidade of complexidades">
        <p-column [header]="updateNameComplexidade(complexidade)">
          <ng-template let-linhaResumo="rowData" pTemplate="body">
            {{ linhaResumo.totalPorComplexidade(complexidade) }}
          </ng-template>
        </p-column>
      </div>

      <p-column header="Qtd">
        <ng-template let-linhaResumo="rowData" pTemplate="body">
          {{ linhaResumo.getQuantidadeTotal() }}
        </ng-template>
      </p-column>

      <p-column header="PF - Total">
        <ng-template let-linhaResumo="rowData" pTemplate="body">
          {{ linhaResumo.getTotalGrossPF() | number }}
        </ng-template>
      </p-column>

      <p-column header="PF - Ajust">
        <ng-template let-linhaResumo="rowData" pTemplate="body">
          {{ linhaResumo.getTotalPf() | number }}
        </ng-template>
      </p-column>

    </p-dataTable>
  </div>

  <div class="ui-g-5 ui-md-5 ui-sm-12">
    <h2>Impacto</h2>
    <p-dataTable [value]="linhasResumo" [responsive]="true" scrollable="true" scrollWidth="100%">
      <p-column field="label"></p-column>

      <div *ngFor="let impacto of impactos">
        <p-column [header]="updateNameImpacto(impacto)">
          <ng-template let-linhaResumo="rowData" pTemplate="body">
            {{ linhaResumo.totalPorImpacto(impacto) }}
          </ng-template>
        </p-column>
      </div>

    </p-dataTable>
  </div>
</div>