<div class="ui-g-12 ui-md-12 ui-sm-12">
  <div class="ui-g-12 ui-md-12 ui-sm-12">
    <h2 translate="Cadastros.FuncaoDados.Complexidade">Complexidade</h2>
    <p-table [value]="linhasResumo" [responsive]="true" scrollable="true" scrollWidth="100%">
      <p-column field="label"></p-column>
      <div *ngFor="let complexidade of complexidades">
        <p-column [header]="updateNameComplexidade(complexidade)">
          <ng-template let-linhaResumo="rowData" pTemplate="body">
            {{ linhaResumo.totalPorComplexidade(complexidade) }}
          </ng-template>
        </p-column>
      </div>
      <p-column [header]="this.getLabel('Cadastros.FuncaoDados.Qtd')">
        <ng-template let-linhaResumo="rowData" pTemplate="body">
          {{ linhaResumo.getQuantidadeTotal() }}
        </ng-template>
      </p-column>
      <p-column [header]="this.getLabel('Cadastros.FuncaoDados.PFTotal')">
        <ng-template let-linhaResumo="rowData" pTemplate="body">
          {{ linhaResumo.getTotalGrossPF() | number }}
        </ng-template>
      </p-column>
      <p-column [header]="this.getLabel('Cadastros.FuncaoDados.PFAjustado')">
        <ng-template let-linhaResumo="rowData" pTemplate="body">
          {{ linhaResumo.getTotalPf() | number }}
        </ng-template>
      </p-column>
    </p-table>
  </div>

  <!--<div class="ui-g-5 ui-md-5 ui-sm-12">
    <h2 translate="Cadastros.FuncaoDados.Impacto">Impacto</h2>
    <p-table [value]="linhasResumo" [responsive]="true" scrollable="true" scrollWidth="100%">
      <p-column field="label"></p-column>

      <div *ngFor="let impacto of impactos">
        <p-column [header]="updateNameImpacto(impacto)">
          <ng-template let-linhaResumo="rowData" pTemplate="body">
            {{ linhaResumo.totalPorImpacto(impacto) }}
          </ng-template>
        </p-column>
      </div>

    </p-table>
  </div>-->
</div>
