<div class="ui-g">

    <div class="ui-g-12" style="margin-bottom: 05px">

        <div class="ui-g-6 ui-md-6 ui-sm-12">

            <div class="ui-g-10 ui-md-10 ui-sm-10">
                <!-- filtro/pesquisa? -->
                <label translate="Analise.Analise.Modulo*">Módulo*</label>
                <p-dropdown
                        [filter]="true"
                        optionLabel="nome"
                        name="modulo"
                        [placeholder]="this.getLabel('Analise.Analise.Selecione')"
                        [options]="modulos"
                        [(ngModel)]="moduloSelecionado"
                        (onChange)="moduloSelected($event.value)"
                        [autoWidth]="false">
                </p-dropdown>
                <span class="md-inputfield">
                    <div *ngIf="erroModulo"
                    class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
                        Campo Obrigatório.
                    </div>
                </span>
            </div>

            <div class="ui-g-2 ui-md-2 ui-sm-2">
                <app-blue-button
                        buttonIcon="ui-icon-add"
                        (click)="abrirDialogModulo()"
                        [isDisabled]="!isSistemaSelected()">
                </app-blue-button>
            </div>
        </div>

        
        <div class="ui-g-6 ui-md-6 ui-sm-12">
            <div class="ui-g-10 ui-md-10 ui-sm-10">
                <!-- filtro/pesquisa? -->
                <label translate="Analise.Analise.Funcionalidade*">Funcionalidade *</label>
                <p-dropdown
                        [filter]="true"
                        optionLabel="nome"
                        name="funcionalidade"
                        [options]="funcionalidades"
                        [(ngModel)]="funcionalidadeSelecionada"
                        (onChange)="funcionalidadeSelected($event.value)"
                        [placeholder]="funcionalidadeDropdownPlaceholder()"
                        [disabled]="!isModuloSelected()"
                        [autoWidth]="false">
                </p-dropdown>
                <span class="md-inputfield">
                    <div *ngIf="erroModulo"
                    class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
                        Campo Obrigatório.
                    </div>
                </span>
            </div>
    
            <div class="ui-g-2 ui-md-2 ui-sm-2">
                <app-blue-button
                        buttonIcon="ui-icon-add"
                        (click)="abrirDialogFuncionalidade()"
                        [isDisabled]="!isModuloSelected()">
                </app-blue-button>
            </div>
        </div>
    </div>

    <!-- Dialog módulo -->
    <p-dialog
            [header]="this.getLabel('Cadastros.FuncaoDados.Modulo')"
            [(visible)]="mostrarDialogModulo"
            [contentStyle]="{'overflow':'visible'}"
            [width]="800">

        <div class="ui-g">
            <div class="ui-g-12" style="margin-bottom: 05px">
        <span class="md-inputfield">
          <input
                  type="text"
                  name="nomeModulo"
                  [(ngModel)]="novoModulo.nome"
                  pInputText
                  (keydown.enter)="adicionarModulo()"/>
         <label translate="Analise.Analise.Nome*">Nome *</label>
        </span>
            </div>
        </div>

        <div class="ui-g ui-md-12" style="justify-content: flex-end">
            <div class="ui-g-2">
                <app-white-button
                        [buttonLabel]="this.getLabel('Global.Botoes.Cancelar')"
                        (click)="fecharDialogModulo()">
                </app-white-button>
            </div>

            <div class="ui-g-2">
                <app-green-button
                        [buttonLabel]="this.getLabel('Global.Botoes.Salvar')"
                        (click)="adicionarModulo()">
                </app-green-button>
            </div>
        </div>

    </p-dialog>

    <!-- Dialog Funcionalidade -->
    <p-dialog
            [header]="this.getLabel('Analise.Analise.Funcionalidade')"
            [(visible)]="mostrarDialogFuncionalidade"
            [contentStyle]="{'overflow':'visible'}"
            [width]="800">

        <div class="ui-g">
            <div class="ui-g-12" style="margin-bottom: 05px">
                <span>{{this.getLabel('Cadastros.FuncaoDados.Modulo')}} {{ moduloName() }}</span>
            </div>
            <div class="ui-g-12" style="margin-bottom: 05px">
        <span class="md-inputfield">
          <input
                  type="text"
                  name="nomeFuncionalidade"
                  [(ngModel)]="novaFuncionalidade.nome"
                  pInputText />
         <label translate="Analise.Analise.Nome*">Nome *</label>
        </span>
            </div>
        </div>

        <div class="ui-g ui-md-12" style="justify-content: flex-end">
            <div class="ui-g-2">
                <app-white-button [buttonLabel]="this.getLabel('Global.Botoes.Cancelar')" (click)="fecharDialogFuncionalidade()"></app-white-button>
            </div>
            <div class="ui-g-2">
                <app-green-button [buttonLabel]="this.getLabel('Global.Botoes.Salvar')" (click)="adicionarFuncionalidade()"></app-green-button>
            </div>
        </div>
    </p-dialog>
</div>