<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ funcionalidade.id ? 'Editar Funcionalidade' : 'Cadastrar Funcionalidade' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g">
          <div class="ui-g-6" [hidden]="!funcionalidade.id">
            <span class="md-inputfield">
              <input type="text" class="ui-inputtext" name="id" pInputText [(ngModel)]="funcionalidade.id" readonly/>
              <label>ID</label>
            </span>
          </div>          
          <div class="ui-g-6">
            <span class="md-inputfield">
              <input type="text" name="nome" [(ngModel)]="funcionalidade.nome" pInputText/>
              <label>Nome</label>
            </span>
          </div>
          
          <div class="ui-g-6">
            <p-dropdown 
              [filter]="true"
              [options]="modulos" 
              optionLabel="id" 
              placeholder="Modulo" 
              name="modulo" 
              [(ngModel)]="funcionalidade.modulo" 
              [autoWidth]="false" 
              dataKey="id">
            </p-dropdown>
          </div>

          <div class="ui-g-6">
            <p-dropdown 
              [filter]="true"
              [options]="funcaodados" 
              optionLabel="id" 
              placeholder="FuncaoDados" 
              name="funcaoDados" 
              [(ngModel)]="funcionalidade.funcaoDados" 
              [autoWidth]="false" 
              dataKey="id">
            </p-dropdown>
          </div>

          <div class="ui-g-6">
            <p-dropdown 
              [filter]="true"
              [options]="funcaotransacaos" 
              optionLabel="id" 
              placeholder="FuncaoTransacao" 
              name="funcaoTransacao" 
              [(ngModel)]="funcionalidade.funcaoTransacao" 
              [autoWidth]="false" 
              dataKey="id">
            </p-dropdown>
          </div>

        </div>
        <div class="ui-g">
          <div class="ui-g-2">
            <button pButton type="button" label="Cancelar" routerLink="/funcionalidade"></button>
          </div>
          <div class="ui-g-2">
            <button pButton type="submit" label="Salvar" [disabled]="editForm.form.invalid || isSaving" ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>