<button pButton type="button"
  class="blue-btn flat ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
  label="Referenciar AR"
  [disabled]="!habilitarBotaoAbrirDialog()"
  (click)="abrirDialog()">
</button>

<p-dialog [header]="this.getLabel('Referenciar AR')" [(visible)]="mostrarDialog"  [(visible)]="display" [style]="{width: '80vw'}">

  <div class="ui-g">
    
    <div class="ui-g-12" style="margin-bottom: 25px">
      <p-dropdown 
        [filter]="true"
        [options]="funcoesDados"
        [(ngModel)]="funcaoDadosSelecionada"
        (onChange)="funcaoDadosSelected($event.value)"
        [placeholder]="funcoesDadosDropdownPlaceholder()"
        optionLabel="name">
      </p-dropdown>
    </div>

    <div class="ui-g-12" style="margin-bottom: 25px">
      <p-multiSelect 
        name="dersMultiSelect"
        [defaultLabel]="dersMultiSelectedPlaceholder()"
        [disabled]="!funcaoDadosSelecionada"
        [options]="ders"
        [(ngModel)]="dersReferenciados"
        optionLabel="nome">
      </p-multiSelect>
    </div>

    <div class="ui-g ui-md-12" style="justify-content: flex-end; margin-bottom: 25px;">
      <div class="ui-g-2">
        <button 
          pButton type="button"
          class=" abaco-white-btn flat ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
          [label]="this.getLabel('Cancelar')"
          (click)="fecharDialog()">
        </button>
      </div>

      <div class="ui-g-2">
        <button 
          pButton type="button"
          class="green-btn flat ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
          [label]="this.getLabel('Relacionar')"
          (click)="relacionar()">
        </button>
      </div>
    </div>

  </div>

</p-dialog>
