<p-tabView (onChange)="handleChange($event)">
    <p-tabPanel [header]="this.getLabel('Analise')" [selected]= "true">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="ui-g">
                    <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                        <label>Identificador: </label>
                        <label>{{analise.identificadorAnalise}}</label> 
                    </div>
                    <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px" *ngIf="analise.organizacao && analise.organizacao.nome">
                        <label>Organização: </label>
                        <label>{{analise.organizacao.nome}}</label> 
                    </div>
                    <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px" *ngIf="analise.sistema && analise.sistema.nome">
                        <label >Sistema: </label>
                        <label>{{analise.sistema.nome}}</label> 
                    </div>
                    <div>
                        <p-fieldset *ngFor=" let analiseComparada of analise.analisesComparadas" [toggleable]="true" [collapsed]="true">
                            <p-header>
                                <label>Análise: </label>
                                <label>{{analiseComparada.identificadorAnalise}}</label>
                            </p-header>
                            <div class="ui-g" >
                                    <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                        <label>Identificador: </label>
                                        <label>{{analiseComparada.identificadorAnalise}}</label> 
                                    </div>
                                    <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                        <label >Manual: </label>
                                        <label>{{analiseComparada.contrato.numeroContrato}}</label> 
                                    </div>
                                    <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px" >
                                        <label >Propósito da Contagem:</label>
                                        <span class="md-inputfield">
                                            <textarea
                                                    maxlength="4000"
                                                    pInputTextarea name="propositoContagem"
                                                    id="idPropositoContagemFormAnalise"
                                                    [(ngModel)]="analiseComparada.propositoContagem">
                                            </textarea>
                                        </span>
                                    </div>

                                    <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px" >
                                        <label >Escopo da Contagem:</label>
                                        <span class="md-inputfield">
                                            <textarea
                                                    maxlength="4000"
                                                    pInputTextarea name="escopo"
                                                    id="idEscopoContagemFormAnalise"
                                                    [(ngModel)]="analiseComparada.escopo">
                                            </textarea>
                                        </span>
                                    </div>

                                    <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px"
                                    >
                                        <label >Fronteira</label>
                                        <span class="md-inputfield">
                                            <textarea
                                                    maxlength="4000"
                                                    pInputTextarea name="fronteiras"
                                                    id="idFronteirasFormAnalise"
                                                    [(ngModel)]="analiseComparada.fronteiras">
                                            </textarea>
                                        </span>
                                    </div>

                                    <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px" >
                                        <label>Documentação</label>
                                        <span class="md-inputfield">
                                            <textarea
                                                    maxlength="4000"
                                                    required
                                                    pInputTextarea name="documentacao"
                                                    id="idDocumentacaoFormAnalise"
                                                    [(ngModel)]="analiseComparada.documentacao">
                                            </textarea>
                                        </span>
                                    </div>

                                    <p-fieldset [legend]="this.getLabel('Fases')" [toggleable]="true" [collapsed]="true" *ngIf="analiseComparada.esforcoFases">
                                        <div class="ui-g-12 ui-md-12 ui-sm-12" style="margin-bottom: 05px">
                                            <p-table
                                                    dataKey="id"
                                                    [rowHover]="true"
                                                    [emptyMessage]="this.getLabel('Selecione um Contrato para escolher Fases')"
                                                    [value]="analiseComparada.esforcoFases"
                                                    id="idTabelaFases"
                                                    [resizableColumns]="true">
                                                <ng-template pTemplate="caption">
                                                    Fases
                                                </ng-template>
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th pSortableColumn="fase.nome">Nome <p-sortIcon></p-sortIcon></th>
                                                        <th pSortableColumn="esforco">Esforço <p-sortIcon></p-sortIcon></th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-esforcoFase>
                                                    <tr class="ui-selectable-row">
                                                        <td>
                                                            {{esforcoFase.fase.nome}}
                                                        </td>
                                                        <td>
                                                            {{esforcoFase.esforco}}%
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="footer">
                                                    <tr>
                                                        <td colspan="2" style="text-align:center">{{this.getLabel('Total')}} {{ totalEsforcoFases() }}%</td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </p-fieldset>
                                    <div class="ui-g-12 ui-md-12 ui-sm-12" style="margin-bottom: 05px">
                                        <label>Observações</label>
                                        <span class="md-inputfield">
                                            <textarea
                                                    [rows]="3"
                                                    id="idObservacoesFormAnalise"
                                                    [cols]="180"
                                                    maxlength="4000"
                                                    autoResize=true
                                                    pInputTextarea name="observacoes"
                                                    [(ngModel)]="analiseComparada.observacoes">
                                            </textarea>
                                        </span>
                                    </div>
                                </div>
                            </p-fieldset>
                    </div>
                </div>
            </div>
        </div>
        
    </p-tabPanel>

    <p-tabPanel [header]="this.getLabel('Funções Dados')" ></p-tabPanel>

    <p-tabPanel [header]="this.getLabel('Funções Transação')"></p-tabPanel>

    <p-tabPanel [header]="this.getLabel('Resumo')" ></p-tabPanel>
</p-tabView>

<!-- Dialog confirmação deleção -->
<p-confirmDialog [header]="this.getLabel('Confirmação')" #dialog>
    <p-footer>
        <button type="button" pButton icon="fa-close" [label]="'Não' "
                (click)="dialog.reject()"></button>
        <button type="button" pButton icon="fa-check" [label]="'Sim' "
                (click)="dialog.accept()"></button>
    </p-footer>
</p-confirmDialog>
