<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Ativação de Usuário</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Olá
        </p>
        <p th:text="#{email.activation.text1}">
            Sua conta Ábaco foi criada, por favor clique no URL abaixo para ativá-la:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
               th:text="|${user.login}|">Link de Ativação</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Saudações, </span>
            <br/>
            <em th:text="#{email.signature}">Ábaco.</em>
        </p>
    </body>
</html>
