<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Ábaco, redefinir senha</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Caro
        </p>
        <p th:text="#{email.reset.text1}">
            Para sua conta Ábaco, foi solicitada a redefinição de senha, por favor, acesse a seguinte URL para altera-la:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
               th:text="|${user.login}|">Link para Reredeninir</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Saudações, </span>
            <br/>
            <em th:text="#{email.signature}">Ábaco.</em>
        </p>
    </body>
</html>
