<div class="ui-g-11">
  <p-dataTable [value]="value"
    [immutable]="false"
    [(selection)]="selectedRow"
    [emptyMessage]="'Nenhum registro encontrado.'"
    selectionMode="single"
    [responsive]="responsive"
    [scrollable]="scrollable"
    [scrollWidth]="scrollWidth"
    [rows]="rows"
    [paginator]="paginator"
    [sortField]="sortF" 
    (onSort)="changeSort($event)">
  </p-dataTable>
</div>
  
<div class="ui-g-1 ui-g-nopad">
  <basis-datatable-button
    *ngIf="!disableEdit"
    [tooltip]="selectedRow != null ? 'Editar' : 'Escolha um registro para editar.'"
    [disabled]="selectedRow == null"
    (click)="onClick(editEventName, $event)"
    class="ui-button-success"
    icon="edit"> 
  </basis-datatable-button>

  <basis-datatable-button 
    *ngIf="!disableDelete"
    [tooltip]="selectedRow != null ? 'Excluir' : 'Escolha um registro para excluir.'" 
    [disabled]="selectedRow == null"
    (click)="onClick(deleteEventName, $event)" 
    class="ui-button-danger"
    icon="delete">
  </basis-datatable-button>

  <basis-datatable-button
    *ngIf="!disableClone"
    [tooltip]="selectedRow != null ? 'Clonar' : 'Escolha um registro para clonar.'" 
    [disabled]="selectedRow == null"
    (click)="onClick(cloneEventName, $event)"
    class="ui-button-dark"
    icon="content-copy">
    </basis-datatable-button>

    <basis-datatable-button
    *ngIf="!disableCrud && showCrud"
    [tooltip]="selectedRow != null ? 'Criar Crud' : 'Escolha um registro para criar crud.'" 
    [disabled]="selectedRow == null"
    (click)="onClick(crudEventName, $event)"
    class="ui-button-success"
    icon="input">
    </basis-datatable-button>

</div>