<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12 ui-sm-12">
        <div class="card card-w-title">
            <h1 translate="Cadastros.Fase.Fase">Tipo de Fase</h1>
            <div class="ui-g">

            <div class="ui-g-12 ui-md-12 ui-sm-12 form-fields-container">
                <span class="md-inputfield">
                    <input type="text" pInputText class="ui-inputtext"
                        name="filtroTipoFase"
                        [(ngModel)]="filtro.nome"
                        (keyup.enter)="obterTodaFases()"
                        maxlength="100" />
                <label translate="Cadastros.Fase.Descricao">Descrição</label>
              </span>
            </div>

            <div class="ui-g">
                <div class="ui-g ui-md-12 form-buttons-container">
                    
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-white-button
                                [buttonLabel]="'Global.Botoes.LimparPesquisa' | translate"
                                buttonIcon="ui-icon-clear-all"
                                (click)="limparPesquisa()">
                        </app-white-button>
                    </div>

                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-blue-button
                                [buttonLabel]="'Global.Botoes.Pesquisar' | translate"
                                buttonIcon="ui-icon-search"
                                (click)="obterTodaFases()">
                        </app-blue-button>
                    </div>

                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-green-button
                                [buttonLabel]="'Global.Botoes.Novo' | translate"
                                routerLink="/fase/new"
                                buttonIcon="ui-icon-add">
                        </app-green-button>
                    </div>

                </div>

                <div class="dynamic-table-container">
                    <div class="table-container">
                        <p-dataTable
                            (onRowDblclick)="editarClickEvent()"
                            [rows]="20"
                            [value]="fases.content"
                            (onRowSelect)="susbcribeSelectRow($event.data)"
                            (onRowUnselect)="subscrbeUnselectRow()"
                            [rowsPerPageOptions]="[5, 10, 20]"
                            [totalRecords]="fases.totalElements"
                            [paginator]="true"
                            selectionMode="single"
                            [lazy]="true"
                            (onLazyLoad)="obterTodaFases()"
                            dataKey="nome"
                            #datatable>
                            <p-column [header]="'Cadastros.Fase.Codigo' | translate" 
                                field="id" [sortable]="true">
                            </p-column>
                            <p-column [header]="'Cadastros.Fase.Nome' | translate" 
                                field="nome" [sortable]="true">
                            </p-column>
                        </p-dataTable>
                    </div>

                    <div class="table-next-containter">
                        <div class="btn-table">
                            <button type="button" pButton class="green-btn side-button" name="edit" icon="ui-icon-edit" value="edit"
                                [title]="'Global.Botoes.Editar' | translate" (click)="editarClickEvent()" [disabled]="tipoFaseSelecionada == null">
                            </button>
                            <button type="button" pButton class="side-button" name="view" icon="ui-icon-remove-red-eye"
                                [title]="'Global.Botoes.Visualizar' | translate" (click)="abrirVisualizar()" [disabled]="tipoFaseSelecionada == null">
                            </button>
                            <button type="button" pButton class="ui-button-danger side-button" name="delete"
                                icon="ui-icon-trash" [title]="'Global.Botoes.Excluir' | translate" (click)="confirmDelete()" 
                                [disabled]="tipoFaseSelecionada == null">
                            </button>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-2">
                    <app-export-button [dataTable]="dataTable" resourceName="fases" [filter]="filtro">
                    </app-export-button>
                </div>

            </div>
        </div>
    </div>
</div>
<p-confirmDialog [header]="'Global.Mensagens.Confirmacao' | translate" #dialog>
    <p-footer>
        <button type="button" pButton icon="fa-close" [label]="'Global.Botoes.Nao' | translate" (click)="dialog.reject()"></button>
        <button type="button" pButton icon="fa-check" [label]="'Global.Botoes.Sim' | translate" (click)="dialog.accept()"></button>
    </p-footer>
</p-confirmDialog>
