<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>{{ fase.id ? ('Cadastros.Fase.EditarTipoFase' | translate ) : ('Cadastros.Fase.CadastrarTipoFase' | translate) }}</h1>

            <form name="form" (ngSubmit)="save(form)" #form="ngForm">
                <div class="ui-g-12 ui-md-12 ui-sm-12 form-fields-container">
                    <span class="md-inputfield">
                        <input
                            type="text"
                            name="nomeTipoFase"
                            [(ngModel)]="fase.nome"
                            [maxlength]="250"
                            pInputText
                            required/>
                        <label translate="Cadastros.Fase.Nome">Nome</label>
                        <div *ngIf="form.controls['nomeTipoFase'] 
                            && !form.controls['nomeTipoFase'].valid 
                            && (form.controls['nomeTipoFase'].touched 
                            || form.submitted)"
                            class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
                            Campo obrigatório.
                        </div>
                    </span>
                </div>
                <div class="ui-g ui-md-12 form-buttons-container">
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-white-button [buttonLabel]="'Global.Botoes.Cancelar' | translate" routerLink="/fase"></app-white-button>
                    </div>
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-submit-button [buttonLabel]="'Global.Botoes.Salvar' | translate" [isDisabled]="form.invalid"></app-submit-button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
