<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>{{ fase.id ? this.getLabel('Cadastros.Fase.EditarTipoFase') : this.getLabel('Cadastros.Fase.CadastrarTipoFase') }}</h1>

            <form name="editForm" role="form" novalidate (ngSubmit)="save(editForm)" #editForm="ngForm">
                <div class="ui-g" style="margin-bottom: 25px; margin-top: 25px">
                    <div class="ui-g-12 ui-md-12 ui-sm-12" style="margin-bottom: 25px">
                        <span class="md-inputfield">
                            <input
                                    type="text"
                                    name="nomeTipoFase"
                                    [(ngModel)]="fase.nome"
                                    [maxlength]="250"
                                    #nomeTipoFase='ngModel'
                                    pInputText
                                    id="idNomeTipoFase"
                                    required/>
                            <label translate="Cadastros.Fase.Nome">Nome</label>
                            <div *ngIf="editForm.controls['nomeTipoFase'] 
                                && !editForm.controls['nomeTipoFase'].valid 
                                && (editForm.controls['nomeTipoFase'].touched 
                                || editForm.submitted)"
                                class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                        </span>
                    </div>
                </div>

                <div class="ui-g ui-md-12" style="justify-content: center">
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-white-button [buttonLabel]="'Global.Botoes.Cancelar' | translate" routerLink="/tipoFase"
                                          id="idBtnCancelarFormTipoFase"></app-white-button>
                    </div>
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-submit-button [buttonLabel]="'Global.Botoes.Salvar' | translate" [isDisabled]="editForm.invalid || isSaving"
                                           id="idBtnSalvarFormTipoFase"></app-submit-button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
