<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12 ui-sm-12">
        <div class="card card-w-title">
            <h1 translate="Cadastros.Fase.Fase">Tipo de Fase</h1>
            <div class="ui-g">

                <div class="ui-g-12 ui-md-12 ui-sm-12">
              <span class="md-inputfield">
                <input type="text" pInputText class="ui-inputtext"
                       name="filtroTipoFase"
                       [(ngModel)]="filtro.nome"
                       id="idDescricaoTipoFaseComponent"
                       (keyup.enter)="obterTodaFases()"
                       #filter maxlength="100" />
                <label translate="Cadastros.Fase.Descricao">Descrição</label>
              </span>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 25px; margin-top: 25px">
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-white-button
                                [buttonLabel]="'Global.Botoes.LimparPesquisa' | translate"
                                buttonIcon="ui-icon-clear-all"
                                id="idBtnLimparComponentTipoFase"
                                (click)="limparPesquisa()">
                        </app-white-button>
                    </div>
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-blue-button
                                [buttonLabel]="'Global.Botoes.Pesquisar' | translate"
                                buttonIcon="ui-icon-search"
                                id="idBtnPesquisarComponentTipoFase"
                                (click)="obterTodaFases()">
                        </app-blue-button>
                    </div>
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-green-button
                                [buttonLabel]="'Global.Botoes.Novo' | translate"
                                id="idBtnNovoComponentTipoFase"
                                routerLink="/tipoFase/new"
                                buttonIcon="ui-icon-add">
                        </app-green-button>
                    </div>
                </div>

                <div>
                    <div class="ui-g-11 ui-md-11">
                        <p-dataTable id="idTabelaComponentTipoFase"
                            (onRowDblclick)="editarClickEvent()"
                            [rows]="20"
                            [value]="fases"
                            [rowsPerPageOptions]="rowsPerPageOptions"
                            [paginator]="true"
                            selectionMode="single"
                            dataKey="nome"
                            #datatable>
                            <p-column [header]="'Cadastros.Fase.Codigo' | translate" 
                                field="id" id="idCodigoTabelaComponentTipoFase" [sortable]="true">
                            </p-column>
                            <p-column [header]="'Cadastros.Fase.Nome' | translate" 
                                field="nome" id="idNomeTabelComponentTipoFase" [sortable]="true">
                            </p-column>
                        </p-dataTable>
                    </div>

                    <div class="ui-g-1 btn-table">
                        <button type="button" pButton class="green-btn side-button" name="edit" icon="ui-icon-edit" value="edit"
                            [title]="'Global.Botoes.Editar' | translate" (click)="editarClickEvent()" [disabled]="tipoFaseSelecionada == null">
                        </button>
                        <button type="button" pButton class="side-button" name="view" icon="ui-icon-remove-red-eye"
                            [title]="'Global.Botoes.Visualizar' | translate" (click)="abrirVisualizar()" [disabled]="tipoFaseSelecionada == null">
                        </button>
                        <button type="button" pButton class="ui-button-danger side-button" name="delete"
                            icon="ui-icon-trash" [title]="'Global.Botoes.Excluir' | translate" (click)="confirmDelete()" 
                            [disabled]="tipoFaseSelecionada == null">
                        </button>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-2">
                    <app-botoes-exportacao [query]="filtro.nome" resourceName="tipoFase" fileName="TipoFase" id="idBtnExportacaoComponentTipoFase">
                    </app-botoes-exportacao>
                </div>

            </div>
        </div>
    </div>
</div>
<p-confirmDialog [header]="'Global.Mensagens.Confirmacao'  | translate" #dialog>
    <p-footer>
        <button type="button" pButton icon="fa-close" [label]="'Global.Botoes.Nao' | translate" (click)="dialog.reject()"
                id="idBtnNaoComponentTipoFase"></button>
        <button type="button" pButton icon="fa-check" [label]="'Global.Botoes.Sim' | translate" (click)="dialog.accept()"
                id="idBtnSimComponentTipoFase"></button>
    </p-footer>
</p-confirmDialog>
