<div class="ui-g ui-fluid" *ngIf="tipoEquipe">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1 translate="Cadastros.TipoEquipe.Visualizar">Visualizar Tipo Equipe</h1>
      <div class="ui-g">
        <div class="ui-g-6">
          <label>{{this.getLabel('Cadastros.TipoEquipe.Codigo:')}} {{ tipoEquipe.id }}</label>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-6">
          <label>{{this.getLabel('Cadastros.TipoEquipe.Nome:')}} {{ tipoEquipe.nome }}</label>
        </div>
      </div>

      <div class="ui-g" style="margin-bottom: 25px">
          <h3 class="first" translate="Cadastros.TipoEquipe.Organizacao">Organização</h3>
          <p-dataTable [value]="tipoEquipe.organizacoes">
            <p-column field="nome" [header]="getLabel('Cadastros.TipoEquipe.Nome')"></p-column>
          </p-dataTable>
      </div>

      <div class="ui-g">
        <div class="ui-g-2">
          <button pButton type="button" [label]="this.getLabel('Global.Botoes.Voltar')" (click)="return()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
