<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ tipoEquipe.id ? 'Editar Tipo de Equipe' : 'Cadastrar Tipo de Equipe' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        
        <div class="ui-g">

          <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px; margin-top: 25px">
            <span class="md-inputfield">
              <input 
                id="nome_tipo_equipe" 
                type="text" 
                name="nomeTipoEquipe" 
                maxlength="250" 
                [(ngModel)]="tipoEquipe.nome" 
                pInputText required/>
              <label>Nome *</label>
            </span>
          </div>

          <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px; margin-top: 25px">
              <h3 class="first">Organização *</h3>
              <p-multiSelect
                name= "organizacoesMultiSelect"
                [options]="organizacoes"
                [(ngModel)]="tipoEquipe.organizacoes"
                dataKey="id"
                defaultLabel="Selecione ao menos uma organização" 
                optionLabel="nome"
                selectedItemsLabel="{0} organizações selecionadas">
              </p-multiSelect>
          </div>

        </div>

        <div class="ui-g ui-md-12" style="justify-content: center">
          
          <div class="ui-g-2">
            <app-white-button 
              buttonLabel="Cancelar" 
              routerLink="/admin/tipoEquipe">
            </app-white-button>
          </div>
          
          <div class="ui-g-2">
            <app-submit-button 
              (click)="editForm.submit" 
              buttonlabel="Salvar" 
              buttonLabel="Salvar" 
              [disabled]="editForm.form.invalid || isSaving ">
            </app-submit-button>
          </div>

        </div>
        
      </form>
    </div>
  </div>
</div>
