<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ tipoEquipe.id ? this.getLabel('Cadastros.TipoEquipe.EditarTipodeEquipe') : this.getLabel('Cadastros.TipoEquipe.CadastrarTipoEquipe') }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save(editForm)" #editForm="ngForm">
        
        <div class="ui-g">

          <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px; margin-top: 25px">
            <span class="md-inputfield">
              <input 
                type="text" 
                name="nomeTipoEquipe" 
                maxlength="250" 
                [(ngModel)]="tipoEquipe.nome" 
                pInputText
                #nomeTipoEquipe='ngModel'
                required/>
              <label translate="Cadastros.TipoEquipe.Nome*">Nome *</label>
              <div *ngIf="editForm.controls['nomeTipoEquipe'] 
              && !editForm.controls['nomeTipoEquipe'].valid 
              && (editForm.controls['nomeTipoEquipe'].touched 
              || editForm.submitted)" 
              class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
              Campo obrigatório.
            </div>
            </span>
          </div>

          <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px; margin-top: -25px">
            <span>
              <h3 class="first" translate="Cadastros.TipoEquipe.Organizacao*">Organização *</h3>
              <p-multiSelect
                name= "organizacoesMultiSelect"
                [options]="organizacoes"
                [(ngModel)]="tipoEquipe.organizacoes"
                dataKey="id"
                [defaultLabel]="getLabel('Cadastros.TipoEquipe.SelecioneOrganizacao')" 
                optionLabel="nome"
                selectedItemsLabel="{0} organizações selecionadas"
                #organizacoesMultiSelect='ngModel'
                required>
              </p-multiSelect>
              <div *ngIf="editForm.controls['organizacoesMultiSelect'] 
              && !editForm.controls['organizacoesMultiSelect'].valid 
              && (editForm.controls['organizacoesMultiSelect'].touched 
              || editForm.submitted)" 
              style="color: red; font-size: 10px;" translate="Global.Mensagens.CampoObrigatorio">
              Campo obrigatório.
            </div>
            </span>
          </div>

        </div>

        <div class="ui-g ui-md-12" style="justify-content: center">
          
          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-white-button 
              [buttonLabel]="'Global.Botoes.Cancelar' | translate"
              routerLink="/admin/tipoEquipe">
            </app-white-button>
          </div>
          
          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-submit-button 
              (click)="editForm.submit"
              [buttonLabel]="'Global.Botoes.Salvar' | translate"
              [disabled]="editForm.form.invalid || isSaving">
            </app-submit-button>
          </div>

        </div>
        
      </form>
    </div>
  </div>
</div>
