<div class="ui-g ui-fluid" *ngIf="tipoEquipe">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Visualizar Tipo Equipe</h1>
      <div class="ui-g">
        <div class="ui-g-6">
          <label>Código: {{ tipoEquipe.id }}</label>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-6">
          <label>Nome: {{ tipoEquipe.nome }}</label>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-2">
          <button pButton type="button" label="Voltar" (click)="return()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
