<p-tabView (onChange)="handleChange($event)">
    <p-tabPanel [header]="this.getLabel('Geral')">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <form name="editForm" role="form" novalidate #editForm="ngForm">
                        <div class="ui-g" *ngIf="isEdicao || isView">
                            <fieldset class="ui-g-12 ui-md-12 ui-sm-12">
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 25px; margin-top: 25px">
                                    <label>Organização</label>
                                    <p-dropdown
                                            dataKey="id"
                                            name="organizacao"
                                            optionLabel="nome"
                                            [placeholder]="this.getLabel('Selecione')"
                                            id="idOrganizacaoViewAnalise"
                                            [filter]="true"
                                            [disabled]="this.isEdicao || this.isView"
                                            [options]="organizacoes"
                                            [(ngModel)]="analise.organizacao"

                                            (onChange)="setSistamaOrganizacao($event.value)">
                                    </p-dropdown>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 25px; margin-top: 25px">
                                    <label >Equipe Responsável</label>
                                    <p-dropdown
                                            [filter]="true"
                                            dataKey="id"
                                            name="equipeResponsavel"
                                            id="idEquipeResponsavelViewAnalise"
                                            optionLabel="nome"
                                            [placeholder]="this.getLabel('Selecione')"
                                            [disabled]="this.isEdicao || this.isView"
                                            [options]="equipeResponsavel"
                                            [(ngModel)]="analise.equipeResponsavel"

                                            (onChange)="setSistamaOrganizacao($event.value)">
                                    </p-dropdown>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 25px; margin-top: 25px">
                                    <label>Sistema</label>
                                    <p-dropdown
                                            [filter]="true"
                                            dataKey="id"
                                            id="idSistemaViewAnalise"
                                            optionLabel="sigla"
                                            [disabled]="this.isEdicao || this.isView"
                                            placeholder="{{ sistemaDropdownPlaceholder() }}"
                                            (onChange)="getSistemaSelecionado()"
                                            name="sistema"
                                            [options]="sistemas"
                                            [(ngModel)]="analise.sistema"
                                            >
                                    </p-dropdown>
                                </div>
                            </fieldset>
                        </div>
                        <div style="margin-bottom: 25px; margin-top: 25px" *ngIf="isEdicao">
                            <div class="ui-g">
                                <div class="ui-g-6 ui-md-4 ui-sm-12" style="margin-bottom: 25px">
                                    <label >Identificador da Analise*</label>
                                    <span class="md-inputfield">
                                        <input
                                                required
                                                type="text"
                                                maxlength="100"
                                                id="idIdentificarAnaliseViewAnalise"
                                                name="identificadorAnalise"
                                                [disabled]="this.isView"
                                                [(ngModel)]="analise.identificadorAnalise"
                                                pInputText/>
                                    </span>
                                </div>

                                <div class="ui-g-6 ui-md-4 ui-sm-12" style="margin-bottom: 25px">
                                    <label >Data da Criação da Ordem
                                        de Serviço *</label>
                                    <span class="md-inputfield">
                                        <input type="text"
                                               name="dataCriacaoOrdemServico"
                                               [disabled]="this.isView"
                                               pInputText [ngModel]="analise.dataCriacaoOrdemServico|date:'dd/MM/y'"
                                               readonly/>
                                    </span>
                                </div>

                                <div class="ui-g-3 ui-md-4 ui-sm-12" style="margin-bottom: 25px">
                                    <label>Contrato *</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            dataKey="id"
                                            id="idContratoViewAnalise"
                                            optionLabel="numeroContrato"
                                            [placeholder]="this.getLabel('Selecione')"
                                            (onChange)="contratoSelected($event.value)"
                                            name="contrato"
                                            [disabled]="this.isView"
                                            [options]="contratos"
                                            [(ngModel)]="analise.contrato"
                                            >
                                    </p-dropdown>
                                </div>

                                <div class="ui-g-3 ui-md-4 ui-sm-12" style="margin-bottom: 25px">
                                    <label >Método de Contagem *</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            id="idMetodoContagemViewAnalise"
                                            placeholder="{{ needContratoDropdownPlaceholder() }}"
                                            name="metodoContagem"
                                            [disabled]="this.isView"
                                            [options]="metodosContagem"
                                            [(ngModel)]="analise.metodoContagem"
                                            >
                                    </p-dropdown>
                                </div>

                                <div class="ui-g-3 ui-md-4 ui-sm-12" style="margin-bottom: 25px">
                                    <label>Tipo de Contagem *</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            name="tiposAnalise"
                                            id="idTipoContagemViewAnalise"
                                            [disabled]="this.isView"
                                            [placeholder]="this.getLabel('Selecione')"
                                            [options]="tiposAnalise"
                                            [(ngModel)]="analise.tipoAnalise"
                                            >
                                    </p-dropdown>
                                </div>

                                <div class="ui-g-3 ui-md-4 ui-sm-12" style="margin-bottom: 25px3"
                                     [hidden]="validacaoCampos">
                                    <label >Manual</label>
                                    <span class="md-inputfield">
                                        <input
                                                required
                                                type="text"
                                                maxlength="100"
                                                id="idManualViewAnalise"
                                                name="manualContrato"
                                                [disabled]="this.isView"
                                                [(ngModel)]="nomeManual"
                                                pInputText/>
                                    </span>
                                </div>

                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px"
                                     [hidden]="validacaoCampos">
                                    <label >Propósito da Contagem</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                pInputTextarea
                                                name="propositoContagem"
                                                id="idPropositoContagemViewAnalise"
                                                [disabled]="this.isView"
                                                [(ngModel)]="analise.propositoContagem">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px"
                                     [hidden]="validacaoCampos">
                                    <label >Escopo da Contagem</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                pInputTextarea
                                                name="escopo"
                                                id="idEscopoViewAnalise"
                                                [disabled]="this.isView"
                                                [(ngModel)]="analise.escopo">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px"
                                     [hidden]="validacaoCampos">
                                    <label >Fronteira</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                pInputTextarea
                                                name="fronteiras"
                                                id="idFronteiraViewAnalise"
                                                [disabled]="this.isView"
                                                [(ngModel)]="analise.fronteiras">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px"
                                     [hidden]="validacaoCampos">
                                    <label >Documentação</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                required
                                                pInputTextarea
                                                id="idDocumentacaoViewAnalise"
                                                name="documentacao"
                                                [disabled]="this.isView"
                                                [(ngModel)]="analise.documentacao">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g-4 ui-md-6 ui-sm-12" [hidden]="validacaoCampos">

                                    <div class="ui-g-6 ui-md-6 ui-sm-12">
                                        {{this.getLabel('Aguardar prazo de garantia')}} {{diasGarantia > 0 ? this.getLabel('De') + diasGarantia + this.getLabel('Dias')
                                        : null}}?
                                    </div>

                                    <div class="ui-g-3 ui-md-2 ui-sm-12">
                                        <p-radioButton
                                                name="baseline_imediatamente"
                                                [disabled]="this.isView"
                                                [label]="this.getLabel('Sim')"
                                                id="idAguardarPrazoGarantiaSimViewAnalise"
                                                [value]="true"
                                                [(ngModel)]="analise.baselineImediatamente">
                                        </p-radioButton>
                                    </div>

                                    <div class="ui-g-3 ui-md-2 ui-sm-12">
                                        <p-radioButton
                                                name="baseline_imediatamente"
                                                [disabled]="this.isView"
                                                [label]="this.getLabel('Não')"
                                                id="idAguardarPrazoGarantiaNaoViewAnalise"
                                                [value]="false"
                                                [(ngModel)]="analise.baselineImediatamente">
                                        </p-radioButton>
                                    </div>

                                </div>

                                <div class="ui-g-4 ui-md-6 ui-sm-12" style="margin-bottom: 25px; margin-top: 25px"
                                     [hidden]="validacaoCampos">
                                    <span class="md-inputfield">
                                         <p-calendar
                                                 name="dataHomol"
                                                 [disabled]="this.isView"
                                                 id="idDataHomologacaoViewAnalise"
                                                 [(ngModel)]="analise.dataHomologacao"
                                                 dateFormat="dd/mm/yy">
                                         </p-calendar>
                                         <label>{{this.getLabel('Data Homologação')}} {{analise.baselineImediatamente ? " *" : null}}</label>
                                    </span>
                                </div>

                                <div class="ui-g-12 ui-md-12 ui-sm-12" style="margin-bottom: 25px"
                                     [hidden]="validacaoCampos">
                                    <p-table
                                            dataKey="id"
                                            [emptyMessage]="this.getLabel('SelecioneContrato')"
                                            [value]="esforcoFases"
                                            id="idTabelaFasesViewAnalise"
                                            [(selection)]="analise.esforcoFases"
                                            [headerCheckboxToggleAllPages]="true">

                                        <p-header>Fases</p-header>

                                        <p-column
                                                [header]="this.getLabel('Analise.Analise.Nome')"
                                                field="fase.nome">
                                        </p-column>

                                        <p-column
                                                [header]="this.getLabel('Analise.Analise.Esforco')"
                                                field="esforcoFormatado">
                                        </p-column>

                                        <p-footer
                                                *ngIf="analise.contrato">
                                            {{this.getLabel('Total')}} {{ totalEsforcoFases() }}%
                                        </p-footer>
                                    </p-table>
                                </div>

                                <div class="ui-g-12 ui-md-12 ui-sm-12" style="margin-bottom: 25px"
                                     [hidden]="validacaoCampos">
                                    <label>Observações</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                [rows]="3"
                                                [cols]="180"
                                                id="idObservacoesViewAnalise"
                                                autoResize=true
                                                pInputTextarea
                                                name="observacoes"
                                                [disabled]="this.isView"
                                                [(ngModel)]="analise.observacoes"
                                                maxlength="4000">
                                        </textarea>
                                    </span>
                                </div>
                            </div>

                            <div class="ui-g-2 ui-md-2 ui-sm-12" style="margin-bottom: 25px">
                                <app-white-button
                                        [buttonLabel]="this.getLabel('Voltar')"
                                        id="idBtnVoltarViewAnalise"
                                        routerLink="/analise">
                                </app-white-button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel [header]="this.getLabel('Funções de Dados')" [disabled]="disableAba"></p-tabPanel>
    <p-tabPanel [header]="this.getLabel('Funções de Transação')" [disabled]="disableFuncaoTrasacao"></p-tabPanel>
    <p-tabPanel [header]="this.getLabel('Resumo')" [disabled]="disableAba"></p-tabPanel>
</p-tabView>

<!-- Dialog confirmação deleção -->
<p-confirmDialog [header]="this.getLabel('Confirmação')" #dialog>
    <p-footer>
        <button type="button" id="idBtnNaoDeleteViewAnalise" pButton icon="fa-close"
                [label]="this.getLabel('Não')" (click)="dialog.reject()"></button>
        <button type="button" id="idBtnSimDeleteViewAnalise" pButton icon="fa-check"
                [label]="this.getLabel('Sim')" (click)="dialog.accept()"></button>
    </p-footer>
</p-confirmDialog>

