
<div *ngIf="fatorAjuste">
    <h2><span jhiTranslate="abacoApp.fatorAjuste.detail.title">Fator Ajuste</span> {{fatorAjuste.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="abacoApp.fatorAjuste.nome">Nome</span></dt>
        <dd>
            <span>{{fatorAjuste.nome}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.fatorAjuste.fator">Fator</span></dt>
        <dd>
            <span>{{fatorAjuste.fator}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.fatorAjuste.ativo">Ativo</span></dt>
        <dd>
            <span>{{fatorAjuste.ativo}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.fatorAjuste.tipoAjuste">Tipo Ajuste</span></dt>
        <dd>
            <span jhiTranslate="{{'abacoApp.TipoFatorAjuste.' + fatorAjuste.tipoAjuste}}">{{fatorAjuste.tipoAjuste}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.fatorAjuste.impacto">Impacto</span></dt>
        <dd>
            <span jhiTranslate="{{'abacoApp.ImpactoFatorAjuste.' + fatorAjuste.impacto}}">{{fatorAjuste.impacto}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.fatorAjuste.manual">Manual</span></dt>
        <dd>
            <div *ngIf="fatorAjuste.manual">
                <a [routerLink]="['/manual', fatorAjuste.manual?.id]">{{fatorAjuste.manual?.nome}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'fator-ajuste/'+ fatorAjuste.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
