<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12 ui-sm-12">
        <div class="card card-w-title">
            <h1>Reindexar Índices</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-10">
                    <p-dropdown [options]="indexList" [(ngModel)]="indexToReindexar" placeholder="Selecione o índice" required ></p-dropdown>
                </div>
                <div class="ui-g-2 ui-md-2 ui-sm-6">
                    <button pButton type="button" label="Reindexar" (click)="submitIndexador()" class="ui-button-raised ui-button-success"></button>
                </div>
            </div>
        </div>
    </div>
</div>
