<div class="ui-g ui-fluid">

    <div class="ui-g-12 ui-md-12 ui-sm-12">

        <div class="card card-w-title">

            <h1>Análise</h1>

            <div class="ui-g">
                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <span class="md-inputfield">
                        <input
                              type="text"
                              pInputText class="ui-inputtext"
                              [(ngModel)]="searchGroup.identificadorAnalise"
                              (keyup.enter)="performSearch()"
                              id="idIdentificadorComponentAnalise"
                              maxlength="50">
                        <label >Identificador</label>
                    </span>
                </div>

                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            [filter]="true"
                            [options]="nomeSistemas"
                            optionLabel="nome"
                            id="idNomeSistemaComponentAnalise"
                            [(ngModel)]="searchGroup.sistema"
                            
                            placeholder="Sistema">
                    </p-dropdown>
                </div>
                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            id="idUsuarioFiltrotAnalise"
                            [filter]="true"
                            [options]="usuariosOptions"
                            optionLabel="nome"
                            
                            [(ngModel)]="searchGroup.usuario"
                            placeholder="Usuários" >
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            id="idOrganizacaoComponentAnalise"
                            [filter]="true"
                            [options]="organizations"
                            optionLabel="nome"
                            
                            [(ngModel)]="searchGroup.organizacao"
                            placeholder="Organização">
                    </p-dropdown>
                </div>

                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            [filter]="true"
                            [options]="teams"
                            optionLabel="nome"
                            id="idTimeComponentAnalise"
                            [(ngModel)]="searchGroup.equipe"
                            placeholder="Equipe">
                    </p-dropdown>
                </div>
                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            [filter]="true"
                            [options]="metsContagens"
                            id="idMetodoContagemComponentAnalise"
                            [(ngModel)]="searchGroup.metodoContagem"
                            
                            placeholder="Método de contagem">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g ui-md-12" >
                    <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 25px; margin-top: 25px">
                        
                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                            <app-white-button
                            buttonLabel="Limpar Pesquisa"
                            id="idBtnLimparPesquisaComponentAnalise"
                            buttonIcon="ui-icon-clear-all"
                            (click)="limparPesquisa()">
                        </app-white-button>
                    </div>
                    
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-blue-button
                            buttonLabel="Pesquisar"
                            id="idBtnPesquisarComponentAnalise"
                            buttonIcon="ui-icon-search"
                            (click)="performSearch()">
                        </app-blue-button>
                    </div>
                    
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-green-button
                            buttonLabel="Novo"
                            id="idBtnNovoComponentAnalise"
                            buttonIcon="ui-icon-add"
                            routerLink="new">
                        </app-green-button>
                    </div>
                </div>
            </div>
            <div *ngIf="enableTable">
                        <basis-datatable
                                type="server"
                                [url]="userAnaliseUrl"
                                (dblclick)="onRowDblclick($event)"
                                (buttonClick)="datatableClick($event)"
                                [rows]="20"
                                id="idTabelaComponentAnalise"
                                [rowsPerPageOptions]="rowsPerPageOptions"
                                [showPaginationFooter]="true"
                                (click) = "selectAnalise($event)"
                                resizableColumns="true"
                                #datatable
                                >

                            <basis-datatable-button
                                    *ngIf="blocked"
                                    name="desbloquear"
                                    [tooltip]="desbloquear"
                                    icon="block"
                                    (click)="bloqueiaAnalise(blocked)"
                                    class="ui-button-success">
                            </basis-datatable-button>

                            <basis-datatable-button
                                    *ngIf="!blocked && inicial"
                                    name="bloquear"
                                    [tooltip]="Bloquear"
                                    icon="block"
                                    (click)="bloqueiaAnalise(blocked)"
                                    class="ui-button-danger">
                            </basis-datatable-button>

                            <basis-datatable-button
                                    name="compartilhar"
                                    [tooltip]="compartilharTooltip()"
                                    icon="share"
                                    class="ui-button-info"
                                    disabled="desabilitarBotaoRelatorio()">
                            </basis-datatable-button>

                            <basis-datatable-button
                                    name="clone"
                                    [tooltip]="clonarTooltip()"
                                    icon="content-copy"
                                    disabled="desabilitarBotaoRelatorio()">
                            </basis-datatable-button>

                            <basis-datatable-button
                                    name="relatorioBrowserDetalhado"
                                    [tooltip]="relatorioTooltip()"
                                    icon="description"
                                    disabled="desabilitarBotaoRelatorio()">
                            </basis-datatable-button>

                            <basis-datatable-button
                                    name="relatorioExcelDetalhado"
                                    [tooltip]="relatorioExcelTooltip()"
                                    icon="description"
                                    disabled="desabilitarBotaoRelatorio()"
                                    class="ui-button-success">
                            </basis-datatable-button>

                            <basis-datatable-button
                                    name="relatorioAnaliseContagem"
                                    [tooltip]="relatorioContagemTooltip()"
                                    icon="description"
                                    disabled="desabilitarBotaoRelatorio()"
                                    class="ui-button-danger">
                            </basis-datatable-button>

                            <basis-datatable-button
                                    name="cloneParaEquipe"
                                    [tooltip]="clonarParaEquipeTooltip()"
                                    icon="content-copy"
                                    disabled="desabilitarBotaoRelatorio()"
                                    class="ui-button-success">
                            </basis-datatable-button>


                            <p-column header="Organização" field="organizacao.nome" [sortable]="true">
                                <ng-template let-col let-analise="rowData" pTemplate="body">
                                    {{ analise.organizacao.nome}}
                                </ng-template>
                            </p-column>
                            <p-column header="Identificador Analise" field="identificadorAnalise" [sortable]="true"></p-column>
                            <p-column header="Número Os." field="numeroOs" [sortable]="true"></p-column>
                            <p-column header="Equipe" field="equipeResponsavel.nome" [sortable]="true">
                                <ng-template let-col let-analise="rowData" pTemplate="body">
                                    {{ analise.equipeResponsavel.nome}}
                                </ng-template>
                            </p-column>
                            <p-column header="Sistema" field="sistema.nome" [sortable]="true">
                                <ng-template let-col let-analise="rowData" pTemplate="body">
                                    {{ analise.sistema.nome}}
                                </ng-template>
                            </p-column>
                            <p-column header="Metodo Contagem" field="metodoContagem" [sortable]="true"></p-column>
                            <p-column header="PF Total" field="pfTotal" [sortable]="true">
                                <ng-template let-col let-analise="rowData" pTemplate="body">
                                    {{ analise.pfTotal > 0 ? analise.pfTotal : 0 | number: '00.00'}}
                                </ng-template>
                            </p-column>
                            <p-column header="PF Ajustado" field="adjustPFTotal" [sortable]="true">
                                <ng-template let-col let-analise="rowData" pTemplate="body">
                                    {{ analise.adjustPFTotal > 0 ? analise.adjustPFTotal : 0 | number: '00.00'}}
                                </ng-template>
                            </p-column>
                            <p-column header="Data criação" field="dataCriacaoOrdemServico"
                                    [sortable]="true">
                                <ng-template let-col let-analise="rowData"
                                            pTemplate="body">
                                    {{ analise.dataCriacaoOrdemServico | date: 'dd/MM/y - HH:mm' }}
                                </ng-template>
                            </p-column>
                            <p-column header="Bloqueado" field="bloqueiaAnalise" [sortable]="true">
                                <ng-template let-col let-analise="rowData" pTemplate="body">
                                    {{ analise.bloqueado ? 'Sim' : 'Não' }}
                                </ng-template>
                            </p-column>
                            <p-column header="Clonada para equipe" field="clonadaParaEquipe" [sortable]="true">
                                <ng-template let-col let-analise="rowData" pTemplate="body">
                                    {{ analise.bloqueado ? 'Sim' : 'Não' }}
                                </ng-template>
                            </p-column>
                            <p-column header="Usuários" field="users" [sortable]="false">
                                <ng-template let-col let-row="rowData" pTemplate="body">
                                    <li *ngFor="let user of row.users">
                                        {{ user.firstName }}
                                    </li>
                                </ng-template>
                            </p-column>
                        </basis-datatable>
                        
                        <div class="ui-g-12 ui-md-2">
                            <app-botoes-exportacao [query]="changeUrl()" resourceName="analise" id="idBtnExportacaoComponentAnalise"
                            fileName="analise">
                            </app-botoes-exportacao>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<p-confirmDialog header="Confirmação" #dialog>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="Não"
                (click)="dialog.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Sim"
                (click)="dialog.accept()"></button>
    </p-footer>
</p-confirmDialog>

<p-dialog *ngIf="equipeShare" header="Compartilhar Análise"
          [(visible)]="mostrarDialog" [modal]="true" (onHide)="limparSelecaoCompartilhar()">
    <p-dataTable
            [(value)]="equipeShare"
            [headerCheckboxToggleAllPages]="true"
            [(selection)]="selectedEquipes"
            dataKey="equipeId"
            emptyMessage="Nenhuma outra equipe na sua organização pode ter acesso à essa análise">

        <p-column
                selectionMode="multiple"
                [style]="{'width':'10%'}">
        </p-column>

        <p-column
                header="Equipe"
                field="nomeEquipe">
        </p-column>

        <p-column
                header="Somente Visualizar?"
                field="viewOnly"
                [style]="{'width':'15%'}">
            <ng-template let-col let-equipeShare="rowData" pTemplate="body">
                <p-toggleButton [(ngModel)]="equipeShare.viewOnly" onLabel="Sim" offLabel="Não"></p-toggleButton>
            </ng-template>
        </p-column>
    </p-dataTable>

    <app-green-button buttonLabel="Adicionar" (click)="salvarCompartilhar()"
                      style="float:right; margin-top: 5px"></app-green-button>
    <br/>
    <br/>

    <hr/>
    <h3 >Compartilhada com:</h3>
    <p-dataTable
            [(value)]="analiseTemp.compartilhadas"
            selectionMode="single"
            [(selection)]="selectedToDelete"
            dataKey="equipeId"
            [emptyMessage]="Mensagens.msgNenhumaEquipeAcessoAnalise">
        <p-column
                header="Equipe"
                field="nomeEquipe">
        </p-column>

        <p-column
                header="SomenteVisualizar"
                field="viewOnly"
                [style]="{'width':'15%'}">
            <ng-template let-col let-analiseTemp="rowData" pTemplate="body">
                <p-toggleButton [(ngModel)]="analiseTemp.viewOnly" onLabel="Sim" offLabel="Não"
                                (onChange)="updateViewOnly()"></p-toggleButton>
            </ng-template>
        </p-column>
    </p-dataTable>

    <app-red-button buttonLabel="Remover" (click)="deletarCompartilhar()"
                    style="float:right; margin-top: 5px"></app-red-button>
</p-dialog>
<p-dialog header="Clonar para equipe" [(visible)]="showDialogAnaliseCloneTipoEquipe" [width]="500" [minHeight]="300" [modal]="true" >
    <div style="min-height:300px">
        <div class="ui-g" >
            <div class="ui-g-12 ui-md-12 ui-sm-12">
                <p-dropdown
                        [style]="{'width':'100%'}"
                        [filter]="true"
                        [options]="tipoEquipesToClone"
                        optionLabel="nome"
                        id="idCloneToTipoEquipe"
                        
                        [(ngModel)]="equipeToClone"
                        placeholder="Mensagens.msgSelecioneEquipeResponsavel">
                </p-dropdown>
            </div>
        </div>
        <app-green-button buttonLabel="Adicionar" (click)="cloneAnaliseToEquipe()" style="float:right; margin-top: 5px"></app-green-button>
    </div>
</p-dialog>
<p-dialog header="Tem certeza que deseja bloquear o registro ?" [(visible)]="showDialogAnaliseBlock" [width]="410" [minHeight]="500" [modal]="true" >
    <div *ngIf="analiseTemp && analiseTemp">
        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-label" style="margin-bottom: 05px; margin-top: 05px; min-height:350px;" >
                <label>Data Homologação</label>
                <div class="ui-g-12 ui-md-12 ui-sm-12">
                    <p-calendar
                    name="dataHomologacao"
                    [(ngModel)]="analiseTemp.dataHomologacao"
                    dateFormat="dd/mm/yy"
                    showIcon="true">
                </p-calendar>
            </div>
        </div>
    </div>
    <button type="button" pButton icon="fa-close" (click)="showDialogAnaliseBlock=false" label="Cancelar" style="float:right; margin-top: 5px"></button>
    <button type="button" pButton icon="fa-check" (click)="alterAnaliseBlock()" label="Bloquear" style="float:right; margin-top: 5px"></button>
</p-dialog>