
<div *ngIf="alr">
    <h2><span jhiTranslate="abacoApp.alr.detail.title">Alr</span> {{alr.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="abacoApp.alr.funcaoTransacao">Funcao Transacao</span></dt>
        <dd>
            <div *ngIf="alr.funcaoTransacao">
                <a [routerLink]="['/funcao-transacao', alr.funcaoTransacao?.id]">{{alr.funcaoTransacao?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'alr/'+ alr.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
