<div>
    <h2>
        <span jhiTranslate="abacoApp.funcaoTransacao.home.title">Funcao Transacaos</span>
        <button class="btn btn-primary float-right create-funcao-transacao" [routerLink]="['/', { outlets: { popup: ['funcao-transacao-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="abacoApp.funcaoTransacao.home.createLabel">
            Create new Funcao Transacao
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'abacoApp.funcaoTransacao.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="funcaoTransacaos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="abacoApp.funcaoTransacao.tipo">Tipo</span></th>
            <th><span jhiTranslate="abacoApp.funcaoTransacao.complexidade">Complexidade</span></th>
            <th><span jhiTranslate="abacoApp.funcaoTransacao.pf">Pf</span></th>
            <th><span jhiTranslate="abacoApp.funcaoTransacao.analise">Analise</span></th>
            <th><span jhiTranslate="abacoApp.funcaoTransacao.fatorAjuste">Fator Ajuste</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let funcaoTransacao of funcaoTransacaos ;trackBy: trackId">
                <td><a [routerLink]="['../funcao-transacao', funcaoTransacao.id ]">{{funcaoTransacao.id}}</a></td>
                <td jhiTranslate="{{'abacoApp.TipoFuncaoTransacao.' + funcaoTransacao.tipo}}">{{funcaoTransacao.tipo}}</td>
                <td jhiTranslate="{{'abacoApp.Complexidade.' + funcaoTransacao.complexidade}}">{{funcaoTransacao.complexidade}}</td>
                <td>{{funcaoTransacao.pf}}</td>
                <td>
                    <div *ngIf="funcaoTransacao.analise">
                        <a [routerLink]="['../analise', funcaoTransacao.analise?.id ]" >{{funcaoTransacao.analise?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="funcaoTransacao.fatorAjuste">
                        <a [routerLink]="['../fator-ajuste', funcaoTransacao.fatorAjuste?.id ]" >{{funcaoTransacao.fatorAjuste?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../funcao-transacao', funcaoTransacao.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'funcao-transacao/'+ funcaoTransacao.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'funcao-transacao/'+ funcaoTransacao.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
