
<div *ngIf="funcaoTransacao">
    <h2><span jhiTranslate="abacoApp.funcaoTransacao.detail.title">Funcao Transacao</span> {{funcaoTransacao.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="abacoApp.funcaoTransacao.tipo">Tipo</span></dt>
        <dd>
            <span jhiTranslate="{{'abacoApp.TipoFuncaoTransacao.' + funcaoTransacao.tipo}}">{{funcaoTransacao.tipo}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.funcaoTransacao.complexidade">Complexidade</span></dt>
        <dd>
            <span jhiTranslate="{{'abacoApp.Complexidade.' + funcaoTransacao.complexidade}}">{{funcaoTransacao.complexidade}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.funcaoTransacao.pf">Pf</span></dt>
        <dd>
            <span>{{funcaoTransacao.pf}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.funcaoTransacao.analise">Analise</span></dt>
        <dd>
            <div *ngIf="funcaoTransacao.analise">
                <a [routerLink]="['/analise', funcaoTransacao.analise?.id]">{{funcaoTransacao.analise?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="abacoApp.funcaoTransacao.fatorAjuste">Fator Ajuste</span></dt>
        <dd>
            <div *ngIf="funcaoTransacao.fatorAjuste">
                <a [routerLink]="['/fator-ajuste', funcaoTransacao.fatorAjuste?.id]">{{funcaoTransacao.fatorAjuste?.nome}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'funcao-transacao/'+ funcaoTransacao.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
