

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFuncaoTransacaoLabel" jhiTranslate="abacoApp.funcaoTransacao.home.createOrEditLabel">Create or edit a Funcao Transacao</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!funcaoTransacao.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="funcaoTransacao.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.funcaoTransacao.tipo" for="field_tipo">Tipo</label>
            <select class="form-control" name="tipo" [(ngModel)]="funcaoTransacao.tipo" id="field_tipo" >
                <option value="EE" jhiTranslate="abacoApp.TipoFuncaoTransacao.EE">EE</option>
                <option value="SE" jhiTranslate="abacoApp.TipoFuncaoTransacao.SE">SE</option>
                <option value="CE" jhiTranslate="abacoApp.TipoFuncaoTransacao.CE">CE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.funcaoTransacao.complexidade" for="field_complexidade">Complexidade</label>
            <select class="form-control" name="complexidade" [(ngModel)]="funcaoTransacao.complexidade" id="field_complexidade" >
                <option value="BAIXA" jhiTranslate="abacoApp.Complexidade.BAIXA">BAIXA</option>
                <option value="MEDIA" jhiTranslate="abacoApp.Complexidade.MEDIA">MEDIA</option>
                <option value="ALTA" jhiTranslate="abacoApp.Complexidade.ALTA">ALTA</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.funcaoTransacao.pf" for="field_pf">Pf</label>
            <input type="number" class="form-control" name="pf" id="field_pf"
                [(ngModel)]="funcaoTransacao.pf"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="abacoApp.funcaoTransacao.analise" for="field_analise">Analise</label>
            <select class="form-control" id="field_analise" name="analise" [(ngModel)]="funcaoTransacao.analise" >
                <option [ngValue]="null"></option>
                <option [ngValue]="analiseOption.id === funcaoTransacao.analise?.id ? funcaoTransacao.analise : analiseOption" *ngFor="let analiseOption of analises; trackBy: trackAnaliseById">{{analiseOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="abacoApp.funcaoTransacao.fatorAjuste" for="field_fatorAjuste">Fator Ajuste</label>
            <select class="form-control" id="field_fatorAjuste" name="fatorAjuste" [(ngModel)]="funcaoTransacao.fatorAjuste" >
                <option [ngValue]="null"></option>
                <option [ngValue]="fatorAjusteOption.id === funcaoTransacao.fatorAjuste?.id ? funcaoTransacao.fatorAjuste : fatorAjusteOption" *ngFor="let fatorAjusteOption of fatorajustes; trackBy: trackFatorAjusteById">{{fatorAjusteOption.nome}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
