<div class="ui-g ui-fluid">

  <div class="ui-g-12">

    <div class="card card-w-title">

      <h1>Tipo de Equipe</h1>
      <div class="ui-g">

        <div class="ui-g-12 ui-md-12 ui-sm-12">
          <span class="md-inputfield">
            <input type="text" pInputText class="ui-inputtext" name="filtroTipoEquipe" maxlength="250"
              [(ngModel)]="elasticQuery.value" #filter />

            <label>Descrição</label>
          </span>
        </div>

      </div>

      <div class="ui-g">

        <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 25px; margin-top: 25px">

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-white-button [buttonLabel]="'Limpar Pesquisa'" buttonIcon="ui-icon-clear-all"
              (click)="limparPesquisa()">
            </app-white-button>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-blue-button [buttonLabel]="'Pesquisar'" buttonIcon="ui-icon-search"
                *ngIf="canPesquisar"
              (click)="recarregarDataTable()">
            </app-blue-button>
          </div>

          <div class="uui-g-2 ui-md-2 ui-sm-12">
            <app-green-button *ngIf="canCadastrar"
            [buttonLabel]="'Novo'" buttonIcon="ui-icon-add" (click)="criarTipoEquipe()">
            </app-green-button>
          </div>

        </div>

        <basis-datatable [url]="searchUrl" (buttonClick)="datatableClick($event)" (dblclick)="onRowDblclick($event)"
          (click)="selectTipoEquipe()" [rows]="20" [rowsPerPageOptions]="rowsPerPageOptions"
          [disableDelete]="!canDeletar"
          [disableEdit]="!canEditar"
          [disableView]="!canConsultar"
          [showPaginationFooter]="true" #datatable>

          <p-column header="Nome" field="nome" [sortable]="true" [style]="{'word-wrap':'break-word', 'width': '35%'}">
          </p-column>
          <p-column header="CFPS Responsável" field="cfpsResponsavel" [sortable]="false"
            [style]="{'word-wrap':'break-word', 'width': '35%'}">
            <ng-template let-col let-cfpsResponsavel="rowData.cfpsResponsavel" pTemplate="body">
              {{ cfpsResponsavel && cfpsResponsavel.firstName ? cfpsResponsavel.firstName : null }} {{ cfpsResponsavel
              && cfpsResponsavel.lastName ? cfpsResponsavel.lastName : null}}
            </ng-template>
          </p-column>
          <p-column header="Preposto" field="preposto" [sortable]="true"
            [style]="{'word-wrap':'break-word', 'width': '35%'}">
          </p-column>
          <p-column header="Email Preposto" field="emailPreposto" [sortable]="true"
            [style]="{'word-wrap':'break-word', 'width': '35%'}">
          </p-column>
          <p-column header="Organização" [style]="{'word-wrap':'break-word', 'width': '50%'}" [sortable]="false"
            field="organizacoes.nome">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <li *ngFor="let org of row.organizacoes">
                {{ org.nome }}
              </li>
            </ng-template>
          </p-column>
        </basis-datatable>
        <div class="ui-g-12 ui-md-2">
          <app-export-button [dataTable]="datatable" resourceName="tipoEquipe" [filter]="tipoEquipeFiltro" funcionalidadeName="tipo_equipe">
          </app-export-button>
        </div>
        <div class="ui-g-12 ui-md-2">
          <app-botoes-exportacao [query]="elasticQuery.value" resourceName="tipoEquipe" fileName="TipoEquipe" >
          </app-botoes-exportacao>
        </div>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog header="Confirmação" #dialog>
  <p-footer>
    <button type="button" pButton icon="fa-close" [label]="this.getLabel('Não')" (click)="dialog.reject()"></button>
    <button type="button" pButton icon="fa-check" [label]="this.getLabel('Sim')" (click)="dialog.accept()"></button>
  </p-footer>
</p-confirmDialog>
