<p-tabView (onChange)="handleChange($event)" *ngIf="analise && analise.pfTotalEsforco">
    <p-tabPanel [header]="this.getLabel('Analise.Analise.Geral')"></p-tabPanel>

    <p-tabPanel [header]="this.getLabel('Analise.Analise.FuncoesDados')"></p-tabPanel>

    <p-tabPanel [header]="this.getLabel('Analise.Analise.FuncoesTransacao')"
                [disabled]="disableAba" ></p-tabPanel>

    <p-tabPanel [header]="this.getLabel('Analise.Analise.Resumo')" [selected]="true">
        <div class="ui-g ui-fluid">
            <div class="card card-w-title">
                <div class="ui-g-12" *ngIf="analise && analise.pfTotal ">
                    <h2>{{this.getLabel('Analise.Analise.PfFinalTotal')}} {{ pfTotal }}</h2>
                    <h2>{{this.getLabel('Analise.Analise.PfFinalAjustado')}} {{ pfAjustada }}</h2>
                    <div class="ui-g-12 ui-md-12 ui-sm-12">
                        <div class="ui-g-12 ui-md-12 ui-sm-12">
                          <h2 translate="Cadastros.FuncaoDados.Complexidade">Complexidade</h2>
                          <p-dataTable  [value]="linhaResumo" [responsive]="true" scrollable="true" scrollWidth="100%">
                            <p-column >
                                <ng-template let-linhaResumo="rowData" pTemplate="body">
                                  {{ linhaResumo['tipo']}}
                                </ng-template>
                            </p-column>
                            <p-column [header]="this.getLabel('Analise.Analise.lstComplexidades.SEM')">
                              <ng-template let-linhaResumo="rowData" pTemplate="body">
                                {{ linhaResumo['sem']}}
                              </ng-template>
                            </p-column>
                            <p-column [header]="this.getLabel('Analise.Analise.lstComplexidades.Baixa')">
                                <ng-template let-linhaResumo="rowData" pTemplate="body">
                                  {{ linhaResumo['baixa']}}
                                </ng-template>
                            </p-column>
                            <p-column [header]="this.getLabel('Analise.Analise.lstComplexidades.Media')">
                                <ng-template let-linhaResumo="rowData" pTemplate="body">
                                  {{ linhaResumo['media']}}
                                </ng-template>
                            </p-column>
                            <p-column [header]="this.getLabel('Analise.Analise.lstComplexidades.Alta')">
                                <ng-template let-linhaResumo="rowData" pTemplate="body">
                                  {{ linhaResumo['alta']}}
                                </ng-template>
                            </p-column>
                            <p-column [header]="this.getLabel('Analise.Analise.lstComplexidades.INM')">
                                <ng-template let-linhaResumo="rowData" pTemplate="body">
                                  {{ linhaResumo['inm']}}
                                </ng-template>
                            </p-column>
                            <p-column [header]="this.getLabel('Cadastros.FuncaoDados.Qtd')">
                                <ng-template let-linhaResumo="rowData" pTemplate="body">
                                  {{ linhaResumo['quantidadeTipo']}}
                                </ng-template>
                            </p-column>
                            <p-column [header]="this.getLabel('Cadastros.FuncaoDados.PFTotal')">
                              <ng-template let-linhaResumo="rowData" pTemplate="body">
                                {{ linhaResumo['pfTotal'] | number }}
                              </ng-template>
                            </p-column>
                            <p-column [header]="this.getLabel('Cadastros.FuncaoDados.PFAjustado')">
                              <ng-template let-linhaResumo="rowData" pTemplate="body">
                                {{ linhaResumo['pfAjustada'] | number }}
                              </ng-template>
                            </p-column>
                          </p-dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-white-button
                [buttonLabel]="this.getLabel('Global.Botoes.Voltar')"
                routerLink="/analise">
        </app-white-button>
        <app-green-button *ngIf="!this.isView"
                [buttonLabel]="this.getLabel('Analise.Analise.Botoes.GerarRelatorioExcel')"
                (click)="geraRelatorioExcelBrowser()">
        </app-green-button>
        <app-gray-button *ngIf="!this.isView"
                [buttonLabel]="this.getLabel('Analise.Analise.Botoes.GerarRelatorio')"
                (click)="geraRelatorioPdfDetalhadoBrowser()">
        </app-gray-button>
        <app-red-button *ngIf="!this.isView"
                [buttonLabel]="this.getLabel('Analise.Analise.Botoes.BloquearAnalise')"
                (click)="bloquearAnalise()">
        </app-red-button>
        <app-blue-button *ngIf="!this.isView"
                [buttonLabel]="this.getLabel('Analise.Analise.Botoes.CompartilharAnalise')"
                (click)="openCompartilharDialog()">
        </app-blue-button>
    </p-tabPanel>
</p-tabView>
<p-dialog [header]="this.getLabel('Analise.Analise.CompartilharAnalise')" [(visible)]="mostrarDialog" [width]="800"
          [modal]="true" (onHide)="limparSelecaoCompartilhar()" *ngIf="equipeShare">
    <p-dataTable
            [(value)]="equipeShare"
            [headerCheckboxToggleAllPages]="true"
            [(selection)]="selectedEquipes"
            dataKey="equipeId">
        <p-column
                selectionMode="multiple"
                [style]="{'width':'10%'}">
        </p-column>
        <p-column
                [header]="this.getLabel('Analise.Analise.Equipe')"
                field="nomeEquipe">
        </p-column>
        <p-column
                [header]="this.getLabel('Analise.Analise.SomenteVisualizar')"
                field="viewOnly"
                [style]="{'width':'12%'}">
            <ng-template let-col let-equipeShare="rowData" pTemplate="body">
                <p-toggleButton [(ngModel)]="equipeShare.viewOnly" onLabel="Sim" offLabel="Não"></p-toggleButton>
            </ng-template>
        </p-column>
    </p-dataTable>

    <app-green-button [buttonLabel]="'Global.Botoes.Adicionar' | translate" (click)="salvarCompartilhar()"
                      style="float:right; margin-top: 5px"></app-green-button>
    <br/>
    <br/>

    <hr/>
    <h3 translate="Analise.Analise.CompartilhadaCom">Compartilhada com:</h3>
    <p-dataTable
            *ngIf="analise && analise.compartilhadas"
            [(value)]="analise.compartilhadas"
            selectionMode="single"
            [(selection)]="selectedToDelete"
            dataKey="equipeId">
        <p-column
                [header]="this.getLabel('Analise.Analise.Equipe')"
                field="nomeEquipe">
        </p-column>

        <p-column
                [header]="this.getLabel('Analise.Analise.SomenteVisualizar')"
                field="viewOnly"
                [style]="{'width':'12%'}">
            <ng-template let-col let-analiseTemp="rowData" pTemplate="body">
                <p-toggleButton [(ngModel)]="analiseTemp.viewOnly" onLabel="Sim" offLabel="Não"
                                (onChange)="updateViewOnly()"></p-toggleButton>
            </ng-template>
        </p-column>
    </p-dataTable>
    <app-red-button [buttonLabel]="this.getLabel('Global.Botoes.Remover')" (click)="deletarCompartilhar()"
                    style="float:right; margin-top: 5px"></app-red-button>
</p-dialog>
<p-confirmDialog [header]="this.getLabel('Global.Mensagens.Confirmacao')" #dialog>
    <p-footer>
        <button type="button" pButton icon="fa-close" [label]="'Global.Botoes.Nao' | translate"
                (click)="dialog.reject()"></button>
        <button type="button" pButton icon="fa-check" [label]="'Global.Botoes.Sim' | translate"
                (click)="dialog.accept()"></button>
    </p-footer>
</p-confirmDialog>
