<div class="ui-g ui-fluid" style="justify-content: center;">
  <div class="ui-g-6">
    <div class="card card-w-title login-panel" *ngIf="!authenticated"
      style="margin: 0px auto 0 auto; min-height: 400px;">
      <form name="loginForm" role="form" (ngSubmit)="login()">
        <h1>Login</h1>
        <div class="ui-g" style="justify-content: center;">
          <div class="ui-g-12" style="margin-bottom: 25px;">
            <span class="md-inputfield">
              <input type="text" name="username" [(ngModel)]="username" pInputText />
              <label>Usuário</label>
            </span>
          </div>
          <div class="ui-g-12" style="margin-bottom: 25px;">
            <span class="md-inputfield">
              <input pPassword type="password" name="password" [(ngModel)]="password" [feedback]="false" />
              <label>Senha</label>
            </span>
          </div>
        </div>
        <div class="ui-g-12" style="justify-content: center">
            <button pButton type="submit" label="Login"></button>
        </div>
      </form>
    </div>

    <div class="card login-panel" *ngIf="authenticated"
      style="margin: 0px auto 0 auto; min-height: 50px;">
      <span style="font-size: 20px;"> {{ authenticatedUserFullName() }} </span>

      <p style="font-size: 20px;">Bem-vindo ao Ábaco</p>
      <i class="material-icons" style="font-size: 200px; color: #618849;">blur_linear</i>
    </div>

  </div>
</div>