<div class="ui-g ui-fluid login-template" *ngIf="!authenticated">
  <div class="ui-g-12 container-login">

    <div class="card card-w-title login-panel">
      
      <form novalidate #loginForm="ngForm"
        name="loginForm" 
        role="form" 
        (ngSubmit)="login()">

        <span class="logo">
          <!--<i class="fa ui-icon-landscape">logo</i>-->
        </span>

        <h1 class="title p-b-34 p-t-27">LOGIN</h1>

        <div class="ui-g"> 

          <div class="ui-g-12 ui-md-12 ui-sm-12 input">
            <input 
                required
                type="text" 
                name="username" 
                [(ngModel)]="username"
                placeholder="Usuário *" 
                pInputText />
                <span class="username" data-placeholder=""></span>
                
          </div>
          <div *ngIf="(loginForm.controls['username']
                                        && !loginForm.controls['username'].valid
                                        && (loginForm.controls['username'].touched
                                        || loginForm.submitted))" class="ui-message ui-messages-error">
                                Campo obrigatório.
                </div>
          <div class="ui-g-12 ui-md-12 ui-sm-12 input">
            <input
                required
                pPassword 
                type="password" 
                name="password"
                placeholder="Senha *"
                [(ngModel)]="password" 
                [feedback]="false" />
                <span class="password" data-placeholder=""></span>
                
          </div>
          <div *ngIf="(loginForm.controls['password']
                                        && !loginForm.controls['password'].valid
                                        && (loginForm.controls['password'].touched
                                        || loginForm.submitted))" class="ui-message ui-messages-error">
                                Campo obrigatório.
                </div>
        </div>

        <div class="ui-g-12 login-btn">
            <button pButton type="submit">
                <p-progressSpinner *ngIf="loginStateLoading"
                                   [style]="{width: '20px', height: '20px'}"
                                   strokeWidth="6"></p-progressSpinner>
                <span [ngClass]="('state' + (loginStateLoading ? ' loading' : '')  + (loginStateSuccess ? ' ok' : ''))">{{ loginStateText }}</span>
            </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="ui-g ui-fluid" *ngIf="authenticated">
    <div class="ui-g-12">

    <!-- Inicio Após a autenticação exibir o campo abaixo-->
    <div class="card login-panel" style="margin: 0px auto 0 auto; min-height: 50px;">
      <span style="font-size: 20px;"> {{ authenticatedUserFullName() }} </span>

      <p style="font-size: 20px;">Bem-vindo ao Ábaco</p>
      <i class="material-icons" style="font-size: 200px; color: #618849;">blur_linear</i>
    </div>
    <!-- Fim Após a autenticação exibir o campo abaixo-->
  </div>
</div>
