<div class="ui-g ui-fluid" *ngIf="fatorAjuste">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1 translate="Cadastros.FatorAjuste.VisualizarDeflator">Visualizar Deflator</h1>
      <div class="ui-g">
        <div class="ui-g-6">
          <span class="md-inputfield">
            <input type="text" class="ui-inputtext" name="id" pInputText [(ngModel)]="fatorAjuste.id" readonly/>
            <label translate="Cadastros.FatorAjuste.ID">ID</label>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="md-inputfield">
            <input type="text" name="nome" pInputText [ngModel]="fatorAjuste.nome" readonly/>
            <label translate="Cadastros.FatorAjuste.Nome">Nome</label>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="md-inputfield">
            <input type="text" name="fator" pInputText [ngModel]="fatorAjuste.fator" readonly/>
            <label translate="Cadastros.FatorAjuste.Deflator">Deflator</label>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="md-inputfield">
              <input type="text" name="ativo" pInputText [ngModel]="fatorAjuste.ativo ? 'Sim' : (fatorAjuste.ativo != null ? 'Não' : null)" readonly/>
              <label translate="Cadastros.FatorAjuste.Ativo">Ativo</label>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="md-inputfield">
            <input type="text" name="tipoAjuste" pInputText [ngModel]="fatorAjuste.tipoAjuste" readonly/>
            <label translate="Cadastros.FatorAjuste.TipoDeflator">Tipo Deflator</label>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="md-inputfield">
            <input type="text" name="impacto" pInputText [ngModel]="fatorAjuste.impacto" readonly/>
            <label translate="Cadastros.FatorAjuste.Impacto">Impacto</label>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="md-inputfield">
            <input type="text" name="manual" pInputText [ngModel]="fatorAjuste.manual.nome" readonly/>
            <label translate="Cadastros.FatorAjuste.Manual">Manual</label>
          </span>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-2">
          <button pButton type="button" label="Global.Botoes.Voltar" routerLink="/fatorAjuste"></button>
        </div>
      </div>
    </div>
  </div>
</div>