<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1 >Usuários</h1>
            <div class="ui-g">
                <div class="ui-g-4 ui-md-4 ui-sm-12">
                <span class="md-inputfield" style="margin-bottom: 5px">
                  <input
                          type="text"
                          pInputText class="ui-inputtext"
                          name="filtroUser"
                          [(ngModel)]="searchParams.fullName"
                          (keyup.enter)="performSearch()"
                          #filter
                          maxlength="50">
                <label>Nome</label>
                </span>
                </div>

                <div class="ui-g-4 ui-md-4 ui-sm-12">
                <span class="md-inputfield" style="margin-bottom: 5px">
                  <input
                          type="text"
                          pInputText class="ui-inputtext"
                          name="filtroUser"
                          [(ngModel)]="searchParams.login"
                          (keyup.enter)="performSearch()"
                          #filter
                          maxlength="50"/>
                  <label >Login</label>
                </span>
                </div>

                <div class="ui-g-4 ui-md-4 ui-sm-12">
                <span class="md-inputfield" style="margin-bottom: 5px">
                  <input
                          type="text"
                          pInputText class="ui-inputtext"
                          name="filtroUser"
                          [(ngModel)]="searchParams.email"
                          (keyup.enter)="performSearch()"
                          #filter
                          maxlength="100"/>
                  <label >E-mail</label>
                </span>
                </div>
            </div>
            <div class="ui-g">

                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            [filter]="true"
                            [options]="organizations"
                            optionLabel="nome"
                            [(ngModel)]="searchParams.organizacao"
                            
                            (keyup.enter)="performSearch()"
                            placeholder="Organização">
                    </p-dropdown>
                </div>

                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            [filter]="true"
                            [options]="authorities"
                            optionLabel="description"
                            [(ngModel)]="searchParams.profile"
                            
                            (keyup.enter)="performSearch()"
                            placeholder="Perfil">
                    </p-dropdown>
                </div>

                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            [filter]="true"
                            [options]="teams"
                            optionLabel="nome"
                            
                            [(ngModel)]="searchParams.team"
                            (keyup.enter)="performSearch()"
                            placeholder="Equipe">
                    </p-dropdown>
                </div>

            </div>
            <div class="ui-g">
                <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 25px; margin-top: 25px">
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-white-button
                                [buttonLabel]="'Limpar Pesquisa'"
                                buttonIcon="ui-icon-clear-all"
                                (click)="limparPesquisa()">
                        </app-white-button>
                    </div>

                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-blue-button
                                [buttonLabel]="'Pesquisar'"
                                buttonIcon="ui-icon-search"
                                (click)="performSearch()">
                        </app-blue-button>
                    </div>

                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-green-button
                                [buttonLabel]="'Novo'"
                                routerLink="/admin/user/new"
                                buttonIcon="ui-icon-add">
                        </app-green-button>
                    </div>

                </div>
                <div class="ui-g-12 ui-md-12" style="padding: 0;">
                    <basis-datatable
                            [url]="searchUrl"
                            (dblclick)="onRowDblclick($event)"
                            (buttonClick)="datatableClick($event)"
                            [rows]="20"
                            [rowsPerPageOptions]="rowsPerPageOptions"
                            [showPaginationFooter]="true"
                            #datatable>

                        <p-column header="Nome" field="firstName" [style]="{width:'15%'}" [sortable]="true">
                            <ng-template let-user="rowData" pTemplate="body">
                                {{ user.firstName + ' ' + user.lastName }}
                            </ng-template>
                        </p-column>

                        <p-column header="Login" field="login" [sortable]="true"></p-column>

                        <p-column
                                header="E-mail"
                                field="email"
                                [style]="{'word-wrap':'break-word'}"
                                [sortable]="true">
                        </p-column>

                        <p-column
                                header="Organização"
                                [style]="{'word-wrap':'break-word', 'width': '17.5%'}"
                                [sortable]="true">
                            <ng-template let-col let-row="rowData" pTemplate="body">
                                <li *ngFor="let org of row.organizacoes">
                                    {{ org.nome }}
                                </li>
                            </ng-template>
                        </p-column>

                        <p-column
                                header="Perfil"
                                [sortable]="true">
                            <ng-template let-col let-row="rowData" pTemplate="body">
                                <li *ngFor="let perfil of row.authorities">
                                    {{ perfil.description }}
                                </li>
                            </ng-template>
                        </p-column>

                        <p-column header="Equipe" [style]="{width:'15%'}" [sortable]="true">
                            <ng-template let-col let-row="rowData" pTemplate="body">
                                <li *ngFor="let equipe of row.tipoEquipes">
                                    {{ equipe.nome }}
                                </li>
                            </ng-template>
                        </p-column>

                        <p-column header="Ativo" field="activated"
                                  [style]="{width:'6.5%'}" [sortable]="true">
                            <ng-template let-col let-user="rowData" pTemplate="body">
                                {{ user.activated ? 'Sim' : (user.activated != null ? 'Não' : null ) }}
                            </ng-template>
                        </p-column>

                    </basis-datatable>

                    <div class="ui-g-12 ui-md-2">
                        <app-botoes-exportacao [query]="query" resourceName="users" fileName="usuários">
                        </app-botoes-exportacao>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <p-confirmDialog [header]="this.getLabel('Global.Mensagens.Confirmacao')" #dialog>
        <p-footer>
            <button type="button" pButton icon="fa-close" [label]="this.getLabel('Não')" (click)="dialog.reject()"></button>
            <button type="button" pButton icon="fa-check" [label]="this.getLabel('Sim')" (click)="dialog.accept()"></button>
        </p-footer>
    </p-confirmDialog>
