<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">

            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-g ui-md-12" style="justify-content: flex-end; margin-bottom: 25px; margin-top: 25px">
                        <div class="ui-md-2" *ngIf="!isView">
                            <app-green-button [buttonLabel]="'Global.Botoes.Novo' | translate" id="idNovoFormFuncaoDados" buttonIcon="ui-icon-add"
                                              (click)="openDialog(false)">
                            </app-green-button>
                        </div>
                    </div>

                    <div>
                        <app-memory-datatable [disableDelete]="this.isView" [disableEdit]="this.isView"
                                              [disableClone]="this.isView" [disableCrud]="this.isView"
                                              [showCrud]="true"
                                              [value]="funcoesDados" id="idTabelaFuncaoDados"
                                              (buttonClick)="datatableClick($event)"
                                              (selectRow)="selectRow($event)"
                                              (dblclick)="onRowDblclick($event)"
                                              [responsive]="true" scrollable="true" scrollWidth="100%">

                                        <p-column
                                              field="name"
                                              filter="true"
                                              filterMatchMode="contains"
                                              name="nomeFuncaoDadosFormComponent"
                                              id="idNomeFuncaoDadosFormComponent"
                                              [header]="this.getLabel('Cadastros.FuncaoDados.Nome')"
                                              sortable="true"
                                              (sortFunction)="sortColumn($event)"
                                              [style]="{'width': '200px'}">
                                        </p-column>
              
                                        <p-column
                                            field="fatorAjusteFilter"
                                            filter="true"
                                            filterMatchMode="contains"
                                            name="fatorAjusteFuncaoDadosFormComponent"
                                            id="idFatorAjusteFuncaoDadosFormComponent"
                                            [header]="this.getLabel('Cadastros.FuncaoDados.Deflator')"
                                            sortable="true"
                                            (sortFunction)="sortColumn($event)"
                                            [style]="{'width': '200px'}">
                                        </p-column>
            
                                        <p-column
                                            field="funcionalidade.modulo.nome"
                                            filter="true"
                                            filterMatchMode="contains"
                                            name="nomeModuloFuncaoDadosFormComponent"
                                            id="idNomeModuloFuncaoDadosFormComponent"
                                            [header]="this.getLabel('Cadastros.FuncaoDados.Modulo')"
                                            sortable="true"
                                            (sortFunction)="sortColumn($event)"
                                            [style]="{'width': '200px'}">
                                        </p-column>
            
                                        <p-column
                                            field="funcionalidade.nome"
                                            filter="true"
                                            filterMatchMode="contains"
                                            name="nomeFuncionalidadeFuncaoDadosFormComponent"
                                            id="idNomeFuncionalidadeFuncaoDadosFormComponent"
                                            [header]="this.getLabel('Cadastros.FuncaoDados.Funcionalidade')"
                                            sortable="true"
                                            (sortFunction)="sortColumn($event)"
                                            [style]="{'width': '200px'}">
                                        </p-column>
            
                                        <p-column
                                            field="tipo"
                                            filter="true"
                                            filterMatchMode="contains"
                                            name="tipoFuncaoDadosFormComponent"
                                            id="idTipoFuncaoDadosFormComponent"
                                            [header]="this.getLabel('Cadastros.FuncaoDados.Classificacao')"
                                            sortable="true"
                                            (sortFunction)="sortColumn($event)"
                                            [style]="{'width': '200px'}">
                                        </p-column>
            
                                        <p-column
                                            field="derFilter"
                                            filter="true"
                                            filterMatchMode="contains"
                                            name="derFuncaoDadosFormComponent"
                                            id="idDerFuncaoDadosFormComponent"
                                            [header]="this.getLabel('Cadastros.FuncaoDados.DER(TD)')"
                                            sortable="true"
                                            (sortFunction)="sortColumn($event)"
                                            [style]="{'width': '200px'}">
                                        </p-column>
            
                                        <p-column
                                            field="rlrFilter"
                                            filter="true"
                                            filterMatchMode="contains"
                                            name="rlrFuncaoDadosFormComponent"
                                            id="idRlrFuncaoDadosFormComponent"
                                            [header]="this.getLabel('Cadastros.FuncaoDados.RLR(TR)')"
                                            sortable="true"
                                            (sortFunction)="sortColumn($event)"
                                            [style]="{'width': '200px'}">
                                        </p-column>
            
                                        <p-column
                                            field="complexidade"
                                            filter="true"
                                            filterMatchMode="contains"
                                            name="complexidadeFuncaoDadosFormComponent"
                                            id="idComplexidadeFuncaoDadosFormComponent"
                                            [header]="this.getLabel('Cadastros.FuncaoDados.Complexidade')"
                                            sortable="true"
                                            (sortFunction)="sortColumn($event)"
                                            [style]="{'width': '200px'}">
                                        </p-column>
            
                                        <p-column
                                            field="grossPF"
                                            filter="true"
                                            filterMatchMode="contains"
                                            name="pfTotalFuncaoDadosFormComponent"
                                            id="idPfTotalFuncaoDadosFormComponent"
                                            [header]="this.getLabel('Cadastros.FuncaoDados.PFAjustado')"
                                            sortable="true"
                                            (sortFunction)="sortColumn($event)"
                                            [style]="{'width': '200px'}">
                                        </p-column>
            
                                        <p-column
                                            field="pf"
                                            filter="true"
                                            filterMatchMode="contains"
                                            name="pfFuncaoDadosFormComponent"
                                            id="idPfFuncaoDadosFormComponent"
                                            [header]="this.getLabel('Cadastros.FuncaoDados.RLR(TR)')"
                                            sortable="true"
                                            (sortFunction)="sortColumn($event)"
                                            [style]="{'width': '200px'}">
                                        </p-column>
            
                                       <!-- <p-column
                                            field="sustantation"
                                            filter="true"
                                            filterMatchMode="contains"
                                            name="sustentantionFuncaoDadosFormComponent"
                                            id="idSustentantionFuncaoDadosFormComponent"
                                            [header]="this.getLabel('Cadastros.FuncaoDados.PossuiFundamentacao')"
                                            sortable="true"
                                            (sortFunction)="sortColumn($event)"
                                            [style]="{'width': '200px'}">
                                            <ng-template let-sustentation="rowData.sustantation"
                                                                pTemplate="body">
                                                {{ sustentation ? this.getLabel('Global.Botoes.Sim') : this.getLabel('Global.Botoes.Nao') }}
                                            </ng-template>
                                        </p-column>-->
                        </app-memory-datatable>
                    </div>
                </div>
            </div>

            <!--RESUMO-->
            <div [hidden]="[true]">
                <div class="ui-g" *ngIf="funcoesDados.length > 0">
                    <hr>
                    <div class="ui-g-12">
                        <app-analise-funcao-resumo-table [linhasResumo]="resumo.all">
                        </app-analise-funcao-resumo-table>
                    </div>
                </div>
            </div>

            <!-- DIALOG: ADICIONAR E EDITAR FUNÇÃO DE DADOS -->
            <p-dialog [closable]="false" [(visible)]="showDialog" [(header)]="textHeader"
                      [contentStyle]="{'height': ['windowHeightDialog']}"
                      [width]="[windowWidthDialog]">


                <app-analise-modulo-funcionalidade [erroModulo]="erroModulo" [isFuncaoDados]="true"
                     (moduloSelectedEvent)="moduloSelected($event)"
                     (funcionalidadeSelectedEvent)="functionalitySelected($event)">
                </app-analise-modulo-funcionalidade>

                <div *ngIf="!isEdit">
                    <div class="ui-g" *ngIf="!showMultiplos">
                        <div class="ui-g-9">
                            <label translate="Cadastros.FuncaoDados.NomeProcessoElementar">Nome do Processo Elementar *</label>
                            <p-autoComplete
                                    maxlength="2000"
                                    [(ngModel)]="currentFuncaoDados.name"
                                    [suggestions]="baselineResults"
                                    id="idNomeFormFuncaoDados"
                                    (completeMethod)="searchBaseline($event)"
                                    (onSelect)="recuperarNomeSelecionado($event)"
                                    datakey="id">
                                    <ng-template let-currentFuncaoDados pTemplate="name">
                                        <div class="ui-helper-clearfix" >
                                            <div style="font-size:15px;float:left;margin:10px 10px 0 0">{{currentFuncaoDados.name}}</div>
                                        </div>
                                    </ng-template>
                            </p-autoComplete>
                            <span class="md-inputfield">
                                <div *ngIf="nomeInvalido && !currentFuncaoDados.name"
                                     class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
                                    Campo obrigatório.
                                </div>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <app-blue-button [buttonLabel]="this.getLabel('Global.Botoes.Multiplos')" id="idBtnMultiplosFormFuncaoDados"
                                             (click)="buttonMultiplos()">
                            </app-blue-button>
                        </div>
                    </div>

                    <div class="ui-g" *ngIf="showMultiplos">
                        <div class="ui-g-9">
                            <label translate="Cadastros.FuncaoDados.NomeProcessos">Nomes dos Processos *</label>
                            <textarea pInputTextarea
                                      maxlength="2000"
                                      [(ngModel)]="text"
                                      style="white-space: nowrap; overflow: auto;"
                                      [autoResize]="false"
                                      id="idNomesFormFuncaoDados"
                                      (keyup.enter)="textChanged()"
                                      (keyup.backspace)="textChanged()"
                                      (keyup.delete)="textChanged()"
                                      (change)="textChanged()"
                                      [rows]="6" [cols]="180"
                                      name="{{ label }}">
                         </textarea>
                        </div>
                        <div class="ui-g-3">
                            <app-blue-button [buttonLabel]="this.getLabel('Global.Botoes.Unitario')" id="idBtnUnitarioFormFuncaoDados"
                                             (click)="buttonMultiplos()">
                            </app-blue-button>
                        </div>
                    </div>
                </div>

                <div *ngIf="isEdit">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12 ui-sm-12" style="margin-bottom: 25px">
                            <label translate="Cadastros.FuncaoDados.NomeProcessoElementar">Nome do Processo Elementar *</label>
                            <input
                                    maxlength="2000"
                                    type="text" class="ui-inputtext"
                                    id="idNomesEditFormFuncaoDados"
                                    [(ngModel)]="currentFuncaoDados.name">
                        </div>
                    </div>
                </div>


                <div class="ui-g">
                    <div class="ui-g-3 ui-md-12 ui-sm-12">
                        <label translate="Cadastros.FuncaoDados.Classificacao*">Classificação *</label>
                        <p-dropdown [filter]="true" [options]="classificacoes" id="idClassificacoesFormFuncaoDados"
                                    [(ngModel)]="currentFuncaoDados.tipo" [placeholder]="this.getLabel('Cadastros.FuncaoDados.SelecioneClass')"
                                    name="classificacao"
                                    [autoWidth]="false" (onChange)="classValida()">
                        </p-dropdown>
                        <span class="md-inputfield">
                            <div *ngIf="classInvalida" class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                        </span>
                    </div>

                </div>

                <div class="ui-g">
                    <div class="ui-g-3 ui-md-12 ui-sm-12">
                        <label translate="Cadastros.FuncaoDados.Deflator*">Deflator *</label>
                        <p-dropdown
                                    [filter]="true"
                                    [options]="fatoresAjuste"
                                    [(ngModel)]="currentFuncaoDados.fatorAjuste"
                                    [disabled]="!isContratoSelected()"
                                    id="idDeflatorFormFuncaoDados"
                                    [placeholder]="fatoresAjusteDropdownPlaceholder()"
                                    (onChange)="contratoSelecionado()"
                                    name="fatorAjuste"
                                    [autoWidth]="false">
                        </p-dropdown>
                        <span class="md-inputfield">
                            <div *ngIf="erroDeflator" class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                        </span>
                    </div>


                    <div class="ui-g-3 ui-md-6 ui-sm-12" [hidden]="hideShowQuantidade">
                        <label translate="Cadastros.FuncaoDados.Quantidade*">Quantidade *</label>
                        <input type="number" class="ui-inputtext" min="1" [(ngModel)]="currentFuncaoDados.quantidade"
                               id="idQuantidadeFormFuncaoDados">
                        <span class="md-inputfield">
                            <div *ngIf="erroUnitario" class="ui-message ui-messages-error"  translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                        </span>
                    </div>
                </div>

                <div class="ui-g-6 ui-md-6 ui-sm-12" [hidden]="hideElementTDTR">
                    <h2 translate="Cadastros.FuncaoDados.RLR(TR)*">RLR (TR) *</h2>
                    <div class="ui-g-12" style="padding: 0px">
                        <app-analise-der-chips [(values)]="rlrsChips" (onChange)="adicionar()" id="idRLRFormFuncaoDados">
                        </app-analise-der-chips>
                    </div>
                    <div class="ui-g-12" style="padding: 0px">
                        <span class="md-inputfield">
                            <div *ngIf="erroTR && rlrsChips.length == 0" class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                        </span>
                    </div>
                </div>

                <div class="ui-g-6 ui-md-6 ui-sm-12" [hidden]="hideElementTDTR">
                    <h2 translate="Cadastros.FuncaoDados.DER(TD)*">DER (TD) *</h2>
                    <div class="ui-g-12" style="padding: 0px">
                        <app-analise-der-chips [(values)]="dersChips" id="idDERFormFuncaoDados" (onChange)="adicionar()">
                        </app-analise-der-chips>
                    </div>
                    <div class="ui-g-12" style="padding: 0px">
                        <span class="md-inputfield">
                            <div *ngIf="erroTD && dersChips.length == 0" class="ui-message ui-messages-error"  translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                        </span>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12 ui-sm-12">
                    <label translate="Cadastros.FuncaoDados.Fundamentacao">Fundamentação</label>
                    <span class="md-inputfield">
                <ckeditor
                        maxlength="5000"
                        [rows]="3"
                        id="idFundamentacaoFormFuncaoDados"
                        [cols]="180"
                        [editor]="Editor"
                        [config]="config"
                        [disabled]="isDisabled"
                        pInputTextarea name="funcaoDadosSustentacao"
                        [(ngModel)]="currentFuncaoDados.sustantation">
                </ckeditor>
                    </span>
                </div>

                <div class="ui-g ui-md-12 ui-sm-12" style="justify-content: flex-end">
                    <div class="ui-md-3 ui-sm-12" *ngIf="isEdit">
                        <app-white-button [buttonLabel]="'Global.Botoes.Cancelar' | translate" id="idBtmCancelarFormFuncaoDados" (click)="cancelar()">
                        </app-white-button>
                    </div>

                    <div class="ui-g-3 ui-md-3 ui-sm-12" *ngIf="!isEdit">
                        <app-white-button [buttonLabel]="'Global.Botoes.Fechar' | translate" id="idBtnFecharFormFuncaoDados" (click)="cancelar()">
                        </app-white-button>
                    </div>

                    <div class="ui-md-3 ui-sm-12">
                        <app-blue-button [buttonLabel]="'Global.Botoes.Salvar' | translate" id="idSalvarFormFuncaoDados" buttonIcon="ui-icon-add"
                                         (click)="buttonSaveEdit()">
                        </app-blue-button>
                    </div>
                </div>
            </p-dialog>
            <!-- Fim Dialog adicionar função de dados  -->

        </div>
    </div>
</div>
