<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      
      <app-analise-modulo-funcionalidade
        (moduloSelectedEvent)="moduloSelected($event)"
        (funcionalidadeSelectedEvent)="funcionalidadeSelected($event)">
      </app-analise-modulo-funcionalidade>
      
      <div class="ui-g">
        <div class="ui-g-12" style="margin-bottom: 25px">
          <p-dropdown [options]="fatoresAjuste | fatorAjusteToSelectItem"
            [(ngModel)]="currentFuncaoDados.fatorAjuste" 
            disabled="{{ !isContratoSelected() }}"
            placeholder="{{ fatoresAjusteDropdownPlaceholder() }}"
            name="fatorAjuste" [autoWidth]="false">
          </p-dropdown>
        </div>
      </div>

      <div class="ui-g ui-md-12" style="justify-content: flex-end">
        <div class="ui-md-3">
          <app-green-button buttonLabel="Adicionar"
            buttonIcon="ui-icon-add" (click)="adicionar()">
          </app-green-button>
        </div>
      </div>

    </div>
  </div>
</div>