<div class=" ui-g ui-fluid rec-senha-template  ">
    <div class="ui-g-12 container-rec-senha">
        <div class=" card card-w-title rec-senha-panel">
            <form novalidate #recSenhaForm="ngForm" name="rec-senhaForm" (ngSubmit)="sendResetPassword()" role="form">

                <img class="logo" src="../../assets/layout/images/login/abaco.png">

                <h1 style="margin-top: -10px;" class=" title p-b-34 p-t-27 "> Recuperar Senha </h1>
                <div class="ui-g">
                    <div style="margin-top: -50px; text-align: center;">
                        <label class="text-label"> Digite seu usuário ou e-mail que enviaremos um link
                            para definir uma nova senha. </label>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-sm-12 input">
                        <input required type="text" [(ngModel)]="this.campo" name="email"
                            [placeholder]="this.getLabel('Usuário ou E-mail')" pInputText />
                        <span class="email" data-placeeholder=""></span>
                    </div>

                    <div style="margin-top: -10px;" class="ui-g-12 rec-senha-btn">
                        <button pButton type="submit">
                            <span class="p-text-center">Enviar e-mail de redefinição</span>
                        </button>
                    </div>
                    <div class="ui-g-12 rec-senha-btn">
                        <a id="button-rec" routerLink="/"> ou Fazer login </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>