<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ funcaoTransacao.id ? 'Editar Funcao Transacao' : 'Cadastrar Funcao Transacao' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g">
          <div class="ui-g-6" [hidden]="!funcaoTransacao.id">
            <span class="md-inputfield">
              <input type="text" class="ui-inputtext" name="id" pInputText [(ngModel)]="funcaoTransacao.id" readonly/>
              <label>ID</label>
            </span>
          </div>          
          <div class="ui-g-6">
            <p-dropdown [options]="dropdownTipo" placeholder="TipoFuncaoTransacao" name="tipo" [(ngModel)]="funcaoTransacao.tipo" [autoWidth]="false"></p-dropdown>
          </div>
          <div class="ui-g-6">
            <p-dropdown [options]="dropdownComplexidade" placeholder="Complexidade" name="complexidade" [(ngModel)]="funcaoTransacao.complexidade" [autoWidth]="false"></p-dropdown>
          </div>
          <div class="ui-g-6">
            <span class="md-inputfield">
              <p-spinner size="30" name="pf" [(ngModel)]="funcaoTransacao.pf" decimalSeparator="" thousandSeparator=""></p-spinner>
              <label>Pf</label>
            </span>
          </div>
          <div class="ui-g-6">
            <p-dropdown [options]="analises" optionLabel="id" placeholder="Analise" name="analise" [(ngModel)]="funcaoTransacao.analise" [autoWidth]="false" dataKey="id"></p-dropdown>
          </div>
          <div class="ui-g-6">
            <p-dropdown [options]="fatorajustes" optionLabel="nome" placeholder="FatorAjuste" name="fatorAjuste" [(ngModel)]="funcaoTransacao.fatorAjuste" [autoWidth]="false" dataKey="id"></p-dropdown>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-2">
            <button pButton type="button" label="Cancelar" routerLink="/funcaoTransacao"></button>
          </div>
          <div class="ui-g-2">
            <button pButton type="submit" label="Salvar" [disabled]="editForm.form.invalid || isSaving" ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>