<div>
    <h2>
        <span jhiTranslate="abacoApp.analise.home.title">Analises</span>

        <button class="btn btn-primary float-right create-analise" [routerLink]="['/', { outlets: { popup: ['analise-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="abacoApp.analise.home.createLabel">
            Create new Analise
            </span>
        </button>

    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'abacoApp.analise.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="analises">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">

             <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span></th>
             <th jhiSortBy="numeroOs"><span jhiTranslate="abacoApp.analise.numeroOs">Numero Os</span></th>
             <th jhiSortBy="pfTotal"><span jhiTranslate="abacoApp.analise.organization">Organization</span></th>
             <th jhiSortBy="sistema.nome"><span jhiTranslate="abacoApp.analise.sistema">Sistema</span></th>

             <th jhiSortBy="tipoAnalise"><span jhiTranslate="abacoApp.analise.tipoAnalise">Tipo Analise</span></th>
             <th jhiSortBy="tipoContagem"><span jhiTranslate="abacoApp.analise.tipoContagem">Tipo Contagem</span></th>
             <th jhiSortBy="pfTotal"><span jhiTranslate="abacoApp.analise.pfTotal">Pf Total</span></th>
             <th jhiSortBy="propositoContagem"><span jhiTranslate="abacoApp.analise.pfTotalAdj">Gross PF</span></th>

             <th jhiSortBy="created"><span jhiTranslate="abacoApp.analise.created">Created date</span></th>
             <th jhiSortBy="edited"><span jhiTranslate="abacoApp.analise.edited">Edited date</span></th>
             <th></th>


            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let analise of analises ;trackBy: trackId">
                <td><a [routerLink]="['../analise', analise.id ]">{{analise.id}}</a></td>
                <td>{{analise.numeroOs}}</td>



                <td>{{analise.organizacao?.nome}}</td>
                <td>
                    <div *ngIf="analise.sistema">
                        <a [routerLink]="['../sistema', analise.sistema?.id ]" >{{analise.sistema?.nome}}</a>
                    </div>
                </td>

                <td jhiTranslate="{{'abacoApp.TipoAnalise.' + analise.tipoAnalise}}">{{analise.tipoAnalise}}</td>
                <td jhiTranslate="{{'abacoApp.MetodoContagem.' + analise.tipoContagem}}">{{analise.tipoContagem}}</td>
                <td>{{analise.pfTotal}}</td>
                <td>{{analise.adjustPFTotal}}</td>

                <td>{{analise.created | date:'yyyy-MM-dd hh:mm'}}</td>
                <td>{{analise.edited | date:'yyyy-MM-dd hh:mm'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../analise', analise.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                           <!-- <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span> -->
                        </button>
                        <button type="submit"
                                [routerLink]="['../analise/editor', analise.id]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <!--<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span> -->
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'analise/'+ analise.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <!-- <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>-->
                        </button>
                        <button type="button"
                                (click)="showReportForm(analise)"

                                class="btn btn-toolbar btn-sm">
                            <span class="fa fa-file-pdf-o"></span>
                            <!-- <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>-->
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="analises && analises.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>


    <modal #reportModal>
        <modal-header [show-close]="true">
            <h4 class="modal-title"> <span  jhiTranslate="global.titles.confirm">Title</span></h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <label jhiTranslate="abacoApp.analise.organization" for="field_organ">Organization</label>
                <span id="field_organ">{{selectedAnalise?.organizacao?.nome}} </span>

            </div>
            <div class="form-group">
                <label jhiTranslate="abacoApp.analise.sistema" for="field_sistema">Sistema</label>
                <span id="field_sistema">{{selectedAnalise?.numeroOs}} </span>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="abacoApp.analise.tipoAnalise" for="field_tipoAnalise">Tipo Analise</label>
                <span id="field_tipoAnalise">{{selectedAnalise?.tipoAnalise}} </span>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="abacoApp.analise.reportType">Report Type</label>
                <div style="margin-left:20px">
                    <input style="padding-top: 3px;padding-left:0px;margin-top: 3px;" type="radio" name="reportType" value="{{REPORT_SIMPLE_TYPE}}" [(ngModel)]="selectType" checked>
                    <span jhiTranslate="abacoApp.analise.simple">Simple</span>
                </div>
                <div style="margin-left:20px;margin-top: 7px;">
                    <input style="padding-top: 3px;padding-left:0px;margin-top: 3px;" type="radio" name="reportType" value="{{REPORT_DETAILED_TYPE}}" [(ngModel)]="selectType">
                    <span jhiTranslate="abacoApp.analise.detailed">Detailed</span>
                </div>
            </div>
        </modal-body>

        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" jhiTranslate="entity.action.cancel">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onNavigate()" jhiTranslate="entity.action.continue">Continue</button>
        </modal-footer>
    </modal>

</div>
