


<div>
    <h2>
        <span jhiTranslate="abacoApp.analise.home.title">Analises</span>
        <button class="btn btn-primary float-right create-analise" [routerLink]="['/', { outlets: { popup: ['analise-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="abacoApp.analise.home.createLabel">
            Create new Analise
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'abacoApp.analise.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="analises">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="abacoApp.analise.numeroOs">Numero Os</span></th>
            <th><span jhiTranslate="abacoApp.analise.tipoContagem">Tipo Contagem</span></th>
            <th><span jhiTranslate="abacoApp.analise.valorAjuste">Valor Ajuste</span></th>
            <th><span jhiTranslate="abacoApp.analise.pfTotal">Pf Total</span></th>
            <th><span jhiTranslate="abacoApp.analise.escopo">Escopo</span></th>
            <th><span jhiTranslate="abacoApp.analise.fronteiras">Fronteiras</span></th>
            <th><span jhiTranslate="abacoApp.analise.documentacao">Documentacao</span></th>
            <th><span jhiTranslate="abacoApp.analise.tipoAnalise">Tipo Analise</span></th>
            <th><span jhiTranslate="abacoApp.analise.propositoContagem">Proposito Contagem</span></th>
            <th><span jhiTranslate="abacoApp.analise.sistema">Sistema</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let analise of analises ;trackBy: trackId">
                <td><a [routerLink]="['../analise', analise.id ]">{{analise.id}}</a></td>
                <td>{{analise.numeroOs}}</td>
                <td jhiTranslate="{{'abacoApp.MetodoContagem.' + analise.tipoContagem}}">{{analise.tipoContagem}}</td>
                <td>{{analise.valorAjuste}}</td>
                <td>{{analise.pfTotal}}</td>
                <td>{{analise.escopo}}</td>
                <td>{{analise.fronteiras}}</td>
                <td>{{analise.documentacao}}</td>
                <td jhiTranslate="{{'abacoApp.TipoAnalise.' + analise.tipoAnalise}}">{{analise.tipoAnalise}}</td>
                <td>{{analise.propositoContagem}}</td>
                <td>
                    <div *ngIf="analise.sistema">
                        <a [routerLink]="['../sistema', analise.sistema?.id ]" >{{analise.sistema?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../analise', analise.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'analise/'+ analise.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'analise/'+ analise.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
