
<style>
    .file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
</style>

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" >

    <div class="modal-header">
        <h4 class="modal-title" id="myAnaliseLabel" jhiTranslate="abacoApp.analise.home.createOrEditLabel">Create or edit a Analise</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>

    <tabset #staticTabs>
        <tab style="padding-left: 30px;padding-right: 30px;" >
            <span *tabHeading jhiTranslate="abacoApp.analise.general">
              Geral
         </span>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!analise.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="analise.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.analise.numeroOs" for="field_numeroOs">Numero Os</label>
            <input type="text" class="form-control" name="numeroOs" id="field_numeroOs"
                [(ngModel)]="analise.numeroOs"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="abacoApp.analise.sistema" for="field_sistema">Sistema</label>
            <select class="form-control" id="field_sistema" name="sistema" [(ngModel)]="analise.sistema" (change)="onSystemChange($event.target.value)">
                <option [ngValue]="null" selected disabled jhiTranslate="abacoApp.analise.select">Select</option>
                <option [ngValue]="sistemaOption.id === analise.sistema?.id ? analise.sistema : sistemaOption" *ngFor="let sistemaOption of sistemas; trackBy: trackSistemaById">{{sistemaOption.nome}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.analise.tipoContagem" for="field_tipoContagem">Tipo Contagem</label>
            <select class="form-control" name="tipoContagem" [(ngModel)]="analise.tipoContagem" (focus)="savePreviousValue()"  (ngModelChange)="onCountingTypeChange($event)" id="field_tipoContagem" >
                <option value="DETALHADA" jhiTranslate="abacoApp.MetodoContagem.DETALHADA">DETALHADA</option>
                <option value="INDICATIVA" jhiTranslate="abacoApp.MetodoContagem.INDICATIVA">INDICATIVA</option>
                <option value="ESTIMADA" jhiTranslate="abacoApp.MetodoContagem.ESTIMADA">ESTIMADA</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.analise.valorAjuste" for="field_valorAjuste">Valor Ajuste</label>
            <input type="number" class="form-control" name="valorAjuste" id="field_valorAjuste"
                [(ngModel)]="analise.valorAjuste"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.analise.pfTotal" for="field_pfTotal">Pf Total</label>
            <input type="text" class="form-control" name="pfTotal" id="field_pfTotal" disabled
                [(ngModel)]="analise.pfTotal"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.analise.escopo" for="field_escopo">Escopo</label>
            <textarea class="form-control" name="escopo" id="field_escopo"
                      [(ngModel)]="analise.escopo"
                      maxlength="4000" ></textarea>
            <div [hidden]="!(editForm.controls.escopo?.dirty && editForm.controls.escopo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.escopo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                   This field cannot be longer than 4000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.analise.fronteiras" for="field_fronteiras">Fronteiras</label>
            <textarea class="form-control" name="fronteiras" id="field_fronteiras"
                [(ngModel)]="analise.fronteiras"
                maxlength="4000" ></textarea>
            <div [hidden]="!(editForm.controls.fronteiras?.dirty && editForm.controls.fronteiras?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fronteiras?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                   This field cannot be longer than 4000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.analise.documentacao" for="field_documentacao">Documentacao</label>
            <textarea class="form-control" name="documentacao" id="field_documentacao"
                [(ngModel)]="analise.documentacao"
                maxlength="4000" ></textarea>
            <div [hidden]="!(editForm.controls.documentacao?.dirty && editForm.controls.documentacao?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.documentacao?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                   This field cannot be longer than 4000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.analise.tipoAnalise" for="field_tipoAnalise">Tipo Analise</label>
            <select class="form-control" name="tipoAnalise" [(ngModel)]="analise.tipoAnalise" id="field_tipoAnalise" >
                <option value="DESENVOLVIMENTO" jhiTranslate="abacoApp.TipoAnalise.DESENVOLVIMENTO">DESENVOLVIMENTO</option>
                <option value="MELHORIA" jhiTranslate="abacoApp.TipoAnalise.MELHORIA">MELHORIA</option>
                <option value="APLICACAO" jhiTranslate="abacoApp.TipoAnalise.APLICACAO">APLICACAO</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.analise.propositoContagem" for="field_propositoContagem">Proposito Contagem</label>
            <textarea class="form-control" name="propositoContagem" id="field_propositoContagem"
                [(ngModel)]="analise.propositoContagem"
            maxlength="4000" ></textarea>
            <div [hidden]="!(editForm.controls.propositoContagem?.dirty && editForm.controls.propositoContagem?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.propositoContagem?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                   This field cannot be longer than 4000 characters.
                </small>
            </div>
        </div>

    </div>

        </tab>


        <tab  style="padding-left: 30px;padding-right: 30px;" >
            <span *tabHeading jhiTranslate="abacoApp.analise.funcaoDados">
               Funcao de Dados
            </span>

            <form #dadosForm="ngForm" >

                <div class="row" style="margin-top:30px;">
                    <div class="form-group col-sm-6  required" style="text-align:left;">

                        <label for="field_factor" class="control-label" jhiTranslate="abacoApp.analise.factorAdjustment">Fator Ajuste:</label>

                        <select id="field_factor" name="factor" class="form-control" [(ngModel)]="selectedFactor" (change)="onFactorChange($event.target.value)">
                            <option [ngValue]="null"  selected jhiTranslate="abacoApp.analise.select">Select</option>
                            <option [ngValue]="factor" *ngFor="let factor of factors; trackBy: trackFactorById">{{getFactorTitle(factor)}}</option>
                        </select>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-sm-6  required" style="text-align:left;">
                        <label for="field_module" class="control-label" jhiTranslate="abacoApp.analise.module">Modulo:</label>

                        <select id="field_module" name="module" class="form-control" [(ngModel)]="selectedModulo" (change)="onModuleChange($event.target.value)" required>
                            <option [ngValue]="null" disabled selected jhiTranslate="abacoApp.analise.select">Select</option>
                            <option [ngValue]="module" *ngFor="let module of modules; trackBy: trackModulleById">{{module.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6  required">
                        <button type="button" class="btn btn-primary" value="+ Criar novo Modulo" style="float:right"  [routerLink]="['/', { outlets: { popup: analise.sistema!=null?'modulo-new/'+analise.sistema?.id:'modulo-new' } }]">
                            <span class="fa fa-plus"></span>

                            <span jhiTranslate="abacoApp.analise.createNewModule"> Criar novo Modulo</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6  required" style="text-align:left;">
                        <label for="field_function" class="control-label" jhiTranslate="abacoApp.analise.functional">Functionalidade:</label>

                        <select id="field_function" name="function" class="form-control" [(ngModel)]="selectedFunc" required>
                            <option [ngValue]="null" disabled selected jhiTranslate="abacoApp.analise.select">Select</option>
                            <option [ngValue]="f" *ngFor="let f of filteredFunc; trackBy: trackFuncById">{{f.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6  required">
                        <button type="button" class="btn btn-primary" value="+ Criar novo Modulo" style="float:right"   [routerLink]="['/', { outlets: { popup: selectedModulo!=null?'funcionalidade-new/'+selectedModulo.id:'funcionalidade-new' } }]">
                            <span class="fa fa-plus"></span>
                            <span jhiTranslate="abacoApp.analise.createNewFunctional">Criar nova Functionalidade</span></button>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6  required" style="text-align:left;">
                        <label for="field_class" class="control-label" jhiTranslate="abacoApp.analise.classification">Clossificado:</label>

                        <select id="field_class" name="class" class="form-control" [(ngModel)]="selectedLogicalFile" required>
                            <option [ngValue]="null" disabled selected jhiTranslate="abacoApp.analise.select">Select</option>
                            <option [ngValue]="file" *ngFor="let file of logicalFiles;" jhiTranslate="abacoApp.analise.{{file.title}}">{{file.title}}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6  required" style="text-align:left;">
                        <label for="field_process" class="control-label" jhiTranslate="abacoApp.analise.elementaryProcessName">Name Processo Elementar:</label>
                        <input id="field_process" name="process" class="form-control" [(ngModel)]="elementaryProcess" required/>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-3" >
                        <label for="field_ret" class="control-label" jhiTranslate="abacoApp.analise.det">DER</label>
                        <textarea id="field_ret" [disabled]="is_disabled" name="ret" class="form-control" style="height: 140px;" [(ngModel)]="det" required> </textarea>

                    </div>
                    <div class="form-group col-sm-3">
                        <label for="field_det" class="control-label" jhiTranslate="abacoApp.analise.ret">RLR</label>
                        <textarea id="field_det" [disabled]="is_disabled" name="det" class="form-control" style="height: 140px;" [(ngModel)]="ret" required> </textarea>

                    </div>
                    <div class="form-group col-sm-4" style="margin-left:60px;">
                        <div class="table-responsive">
                            <label for="total-table1" class="control-label" jhiTranslate="abacoApp.analise.summary">Resumo</label>
                            <table id="total-table1" class="table table-striped" [mfData]="totals" #mf="mfDataTable">
                                <thead>
                                <tr>
                                    <th style="width:15%;"></th>
                                    <th jhiTranslate="abacoApp.analise.none"> Sam </th>
                                    <th jhiTranslate="abacoApp.analise.low"> Baixa </th>
                                    <th jhiTranslate="abacoApp.analise.media"> Média </th>
                                    <th jhiTranslate="abacoApp.analise.high"> Alta </th>
                                    <th jhiTranslate="abacoApp.analise.total"> Total </th>
                                    <th jhiTranslate="abacoApp.analise.pf"> PF </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let total of totals;">
                                    <td jhiTranslate="abacoApp.analise.{{logicalFiles[total.input].title}}"> {{logicalFiles[total.input].title}} </td>
                                    <td> {{total.none}} </td>
                                    <td> {{total.low}} </td>
                                    <td> {{total.medium}} </td>
                                    <td> {{total.high}} </td>
                                    <td> {{total.total}} </td>
                                    <td> {{total.pf}} </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6  required" style="text-align:left;">
                        <label for="field_sustantation" class="control-label" jhiTranslate="abacoApp.analise.sustantation">Sustantation:</label>

                        <textarea style="height: 140px;" class="form-control" name="sustantation" id="field_sustantation"
                                  [(ngModel)]="sustantation"
                                  maxlength="4000" ></textarea>
                        <div [hidden]="!(editForm.controls.sustantation?.dirty && editForm.controls.sustantation?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.fronteiras?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                                This field cannot be longer than 4000 characters.
                            </small>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-sm-6" >
                    <label for="fileUploader" class="control-label">Attachments:</label>


                     <input type="file" class="form-control"
                           ngFileSelect
                           [options]="options"
                           (onUpload)="handleUpload($event)"
                           (beforeUpload)="beforeUpload($event)" id="fileUploader"/>




                    </div>

                </div>


                <div class="row" [hidden]="!files.length">
                    <div class="form-group col-sm-6" >
                        <div class="table-responsive">

                            <table id="atachments" class="table table-striped" [mfData]="files" #mf="mfDataTable">
                                <thead>
                                <tr>
                                    <th style="width:45%;">File Name</th>
                                    <th>Size</th>
                                    <th>Date of</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let file of files;">
                                    <td><a href="/uploaded/{{file.filename}}" target="_blank"> {{file.originalName}} </a></td>
                                    <td> {{humanFileSize(file.sizeOf)}} </td>
                                    <td> {{file.dateOf  | date: 'dd/MM/yyyy HH:mm'}} </td>
                                    <td style="text-align: center"> <a  (click)="removeFile(file)"> <i class="fa fa-trash" style="font-size:24px"></i> </a></td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-bottom-width: 1px;border-bottom-style: groove;">
                    <div class="form-group col-sm-6  required">
                        <button class="btn btn-primary" id="buttonAdd" value="" style="float:right"  [disabled]="!dadosForm.form.valid" (click)="add()">Adicionar</button>
                    </div>
                </div>

            </form>

            <div class="row">
                <div class="table-responsive">
                    <table id="process_table" class="table table-striped" [mfData]="listOfProcess" #mf="mfDataTable" >
                        <thead>
                        <tr>
                            <th style="width:15%;" jhiTranslate="abacoApp.analise.factorAdjustment">Fator Ajuste</th>
                            <th jhiTranslate="abacoApp.analise.module"> Modulo </th>
                            <th jhiTranslate="abacoApp.analise.functional"> Functionalidade </th>
                            <th jhiTranslate="abacoApp.analise.name"> Name </th>
                            <th jhiTranslate="abacoApp.analise.classification"> Classificado </th>
                            <th style="width:60px" jhiTranslate="abacoApp.analise.ret"> RLR </th>
                            <th style="width:60px" jhiTranslate="abacoApp.analise.det"> DER </th>
                            <th jhiTranslate="abacoApp.analise.complexcity"> Complexidade </th>
                            <th jhiTranslate="abacoApp.analise.pf"> PF </th>
                            <th jhiTranslate="abacoApp.analise.action"> Acdo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let process of listOfProcess; trackBy: trackProcessById">
                            <td><span *ngIf="process.factor">{{process.factor.nome}} </span> </td>
                            <td>{{process.module.nome}} </td>
                            <td>{{process.func.nome}} </td>
                            <td>{{process.name}} </td>
                            <td jhiTranslate="abacoApp.analise.{{logicalFiles[process.classification].title}}"> {{logicalFiles[process.classification].title}} </td>
                            <td>{{process.ret}}</td>
                            <td>{{process.det}}</td>
                            <td jhiTranslate="abacoApp.analise.{{complexities[process.complexity].toLowerCase()}}" style="text-transform: uppercase;" >{{complexities[process.complexity]}} </td>
                            <td>{{process.pf}}</td>
                            <td><a  (click)="edit(process)"> <i class="fa fa-edit" style="font-size:24px"></i></a>
                                <a  (click)="remove(process)"> <i class="fa fa-trash" style="font-size:24px"></i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </tab>
        <tab  style="padding-left: 30px;padding-right: 30px;">
            <span *tabHeading jhiTranslate="abacoApp.analise.funcaoTransacao">
               Função de Transação
            </span>
            <form #tranForm="ngForm">
                <div class="row" style="margin-top:30px;">
                    <div class="form-group col-sm-6  required" style="text-align:left;">

                        <label for="field_func_factor" class="control-label" jhiTranslate="abacoApp.analise.factorAdjustment">Fotor Ajuste:</label>
                        <select id="field_func_factor"  name = "tranFactor" class="form-control" (change)="onFactorChangeTran($event.target.value)"  [(ngModel)]="selectedTranFactor" >
                            <option [ngValue]="null"  selected jhiTranslate="abacoApp.analise.select">Select</option>
                            <option [ngValue]="factor" *ngFor="let factor of factors; trackBy: trackFactorById">{{getFactorTitle(factor)}}</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-sm-6  required" style="text-align:left;">
                        <label for="field_func_module" class="control-label" jhiTranslate="abacoApp.analise.module">Modulo:</label>
                        <select id="field_func_module" name = "tranModule" class="form-control"  [(ngModel)]="selectedTranModulo" (change)="onModuleTranChange($event.target.value)" required>
                            <option [ngValue]="null" disabled selected jhiTranslate="abacoApp.analise.select">Select</option>
                            <option [ngValue]="module" *ngFor="let module of modules; trackBy: trackModulleById">{{module.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6  required">
                        <button type="button" class="btn btn-primary" value="+ Criar novo Modulo" style="float:right"  [routerLink]="['/', { outlets: { popup: analise.sistema!=null?'modulo-new/'+analise.sistema?.id:'modulo-new' }  }]">
                            <span class="fa fa-plus"></span>
                            <span jhiTranslate="abacoApp.analise.createNewModule"> Criar novo Modulo</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6  required" style="text-align:left;">
                        <label for="field_func_funcal" class="control-label" jhiTranslate="abacoApp.analise.functional">Functionalidade:</label>
                        <select id="field_func_funcal" name = "tranFucal" class="form-control" [(ngModel)]="selectedTranFunc" required>
                            <option [ngValue]="null" disabled selected jhiTranslate="abacoApp.analise.select">Select</option>
                            <option [ngValue]="f" *ngFor="let f of filteredTranFunc; trackBy: trackFuncById">{{f.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6  required">
                        <button type="button" class="btn btn-primary" value="+ Criar novo Modulo" style="float:right" [routerLink]="['/', { outlets: { popup: selectedTranModulo!=null?'funcionalidade-new/'+selectedTranModulo.id:'funcionalidade-new' } }]">
                            <span class="fa fa-plus"></span>
                            <span jhiTranslate="abacoApp.analise.createNewFunctional">Criar nova Functionalidade</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6  required" style="text-align:left;">
                        <label for="id5" class="control-label" jhiTranslate="abacoApp.analise.classification">Clossificado:</label>

                        <select id="id5" class="form-control" name = "tranClass" [(ngModel)]="selectedOutputType" required >
                            <option [ngValue]="null" disabled selected jhiTranslate="abacoApp.analise.select">Select</option>
                            <option [ngValue]="file" *ngFor="let file of outputTypes;" jhiTranslate="abacoApp.analise.{{file.title}}">{{file.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6  required" style="text-align:left;">

                        <label for="id6" class="control-label" jhiTranslate="abacoApp.analise.elementaryProcessName">Name Processo Elementar:</label>
                        <input id="id6" name = "tranName" class="form-control"  [(ngModel)]="elementaryTranProcess" required />

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="id7" class="control-label" jhiTranslate="abacoApp.analise.det">DER</label>
                        <textarea id="id7" class="form-control"  [disabled]="is_disabledTran" name="tranDet" style="height: 140px;" [(ngModel)]="detTran" required> </textarea>

                    </div>
                    <div class="form-group col-sm-3">
                        <label for="id8" class="control-label" jhiTranslate="abacoApp.analise.ftr">FTR</label>
                        <textarea id="id8" class="form-control"  [disabled]="is_disabledTran" name="tranRet" style="height: 140px;" [(ngModel)]="retTran" required> </textarea>

                    </div>
                    <div class="form-group col-sm-4" style="margin-left:60px;margin-top: -60px;">
                        <div class="table-responsive">
                            <label for="table1" class="control-label" jhiTranslate="abacoApp.analise.summary">Resumo</label>
                            <table id="table1" class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width:15%;"></th>
                                    <th jhiTranslate="abacoApp.analise.none"> Sam </th>
                                    <th jhiTranslate="abacoApp.analise.low"> Baixa </th>
                                    <th jhiTranslate="abacoApp.analise.media"> Média </th>
                                    <th jhiTranslate="abacoApp.analise.high"> Alta </th>
                                    <th jhiTranslate="abacoApp.analise.total"> Total </th>
                                    <th jhiTranslate="abacoApp.analise.pf"> PF </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let total1 of totalsTran;">
                                    <td jhiTranslate="abacoApp.analise.{{outputTypes[total1.input-2].title}}"> {{outputTypes[total1.input-2].title}} </td>
                                    <td> {{total1.none}} </td>
                                    <td> {{total1.low}} </td>
                                    <td> {{total1.medium}} </td>
                                    <td> {{total1.high}} </td>
                                    <td> {{total1.total}} </td>
                                    <td> {{total1.pf}} </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6  required" style="text-align:left;">
                        <label for="field_sustantationTran" class="control-label" jhiTranslate="abacoApp.analise.sustantation">Sustantation:</label>

                        <textarea style="height: 140px;" class="form-control" name="sustantationTran" id="field_sustantationTran"
                                  [(ngModel)]="sustantationTran"
                                  maxlength="4000" ></textarea>
                        <div [hidden]="!(editForm.controls.sustantationTran?.dirty && editForm.controls.sustantationTran?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.fronteiras?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                                This field cannot be longer than 4000 characters.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6" >
                        <label for="fileTranUploader" class="control-label">Attachments:</label>

                        <form>
                        <input type="file" class="form-control"
                               ngFileSelect
                               [options]="optionsTran"
                                id="fileTranUploader"/>
                        </form>


                    </div>

                </div>


                <div class="row" [hidden]="!filesTran.length">
                    <div class="form-group col-sm-6" >
                        <div class="table-responsive">

                            <table id="atachmentsTran" class="table table-striped" [mfData]="filesTran" #mf="mfDataTable">
                                <thead>
                                <tr>
                                    <th style="width:45%;">File Name</th>
                                    <th>Size</th>
                                    <th>Date of</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let file1 of filesTran;">
                                    <td><a href="/uploaded/{{file1.filename}}" target="_blank"> {{file1.originalName}} </a></td>
                                    <td> {{humanFileSize(file1.sizeOf)}} </td>
                                    <td> {{file1.dateOf  | date: 'dd/MM/yyyy HH:mm'}} </td>
                                    <td style="text-align: center"> <a  (click)="removeTranFile(file1)"> <i class="fa fa-trash" style="font-size:24px"></i> </a></td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row" style="border-bottom-width: 1px;border-bottom-style: groove;">
                    <div class="form-group col-sm-6  required">
                        <button class="btn btn-primary" style="float:right"  id="buttonAddTran"  [disabled]="!tranForm.form.valid" (click)="addTran()">Adicionar</button>
                    </div>
                </div>

            </form>
            <div class="row">
                <div class="table-responsive">
                    <table id="table2" class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width:15%;" jhiTranslate="abacoApp.analise.factorAdjustment">Fator Ajuste</th>
                            <th jhiTranslate="abacoApp.analise.module"> Modulo </th>
                            <th jhiTranslate="abacoApp.analise.functional"> Functionalidade </th>
                            <th jhiTranslate="abacoApp.analise.name"> Name </th>
                            <th jhiTranslate="abacoApp.analise.classification"> Classificado </th>
                            <th style="width:60px" jhiTranslate="abacoApp.analise.ftr"> FTR </th>
                            <th style="width:60px" jhiTranslate="abacoApp.analise.det"> DER </th>
                            <th jhiTranslate="abacoApp.analise.complexcity"> Complexidade </th>
                            <th jhiTranslate="abacoApp.analise.pf"> PF </th>
                            <th jhiTranslate="abacoApp.analise.action"> Acdo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let process of listOfTranProcess;">
                            <td><span *ngIf="process.factor">{{process.factor.nome}}</span> </td>
                            <td>{{process.module.nome}} </td>
                            <td>{{process.func.nome}} </td>
                            <td>{{process.name}} </td>
                            <td jhiTranslate="abacoApp.analise.{{outputTypes[process.classification-2].title}}"> {{outputTypes[process.classification-2].title}} </td>
                            <td>{{process.ret}}</td>
                            <td>{{process.det}}</td>
                            <td jhiTranslate="abacoApp.analise.{{complexities[process.complexity].toLowerCase()}}" style="text-transform: uppercase;">{{complexities[process.complexity]}} </td>
                            <td>{{process.pf}}</td>
                            <td>
                                <a  (click)="editTran(process)"> <i class="fa fa-edit" style="font-size:24px"></i></a>
                                <a  (click)="removeTran(process)"> <i class="fa fa-trash" style="font-size:24px"></i></a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
        <tab style="padding-left: 30px;padding-right: 30px;">
            <span *tabHeading jhiTranslate="abacoApp.analise.summary">
               Summary
            </span>
            <div class="row" style="margin-top:30px;">
                <div class="form-group col-sm-6  required" style="text-align:left;">
                    <table id="table5" class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width:15%;"></th>
                            <th jhiTranslate="abacoApp.analise.none"> Sem </th>
                            <th jhiTranslate="abacoApp.analise.low"> Baixa </th>
                            <th jhiTranslate="abacoApp.analise.media"> Média </th>
                            <th jhiTranslate="abacoApp.analise.high"> Alta </th>
                            <th jhiTranslate="abacoApp.analise.total"> Total </th>
                            <th jhiTranslate="abacoApp.analise.pf"> PF </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  *ngFor="let total of summary;">
                            <td jhiTranslate="abacoApp.analise.{{total.input<=1?logicalFiles[total.input].title:outputTypes[total.input-2].title}}"> {{total.input<=1?logicalFiles[total.input].title:outputTypes[total.input-2].title}} </td>
                            <td> {{total.none}} </td>
                            <td> {{total.low}} </td>
                            <td> {{total.medium}} </td>
                            <td> {{total.high}} </td>
                            <td> {{total.total}} </td>
                            <td> {{total.pf}} </td>
                        </tr>

                        <tr>
                            <td> Total </td>
                            <td> {{totalRow.none}} </td>
                            <td> {{totalRow.low}} </td>
                            <td> {{totalRow.medium}} </td>
                            <td> {{totalRow.high}} </td>
                            <td> {{totalRow.total}} </td>
                            <td> {{totalRow.pf.toFixed(2)}} </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <label for="id12" class="control-label">Observações</label>
                <textarea id="id12" class="form-control" style="height: 140px;"> </textarea>
            </div>
        </tab>

    </tabset>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>

    <span id="confirmText" style="display: none" jhiTranslate="abacoApp.analise.confirmRemove"></span>


</form>
