
<div *ngIf="sistema">
    <h2><span jhiTranslate="abacoApp.sistema.detail.title">Sistema</span> {{sistema.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="abacoApp.sistema.sigla">Sigla</span></dt>
        <dd>
            <span>{{sistema.sigla}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.sistema.nome">Nome</span></dt>
        <dd>
            <span>{{sistema.nome}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.sistema.numeroOcorrencia">Numero Ocorrencia</span></dt>
        <dd>
            <span>{{sistema.numeroOcorrencia}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.sistema.organizacao">Organizacao</span></dt>
        <dd>
            <div *ngIf="sistema.organizacao">
                <a [routerLink]="['/organizacao', sistema.organizacao?.id]">{{sistema.organizacao?.nome}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sistema/'+ sistema.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
