

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySistemaLabel" jhiTranslate="abacoApp.sistema.home.createOrEditLabel">Create or edit a Sistema</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!sistema.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sistema.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.sistema.sigla" for="field_sigla">Sigla</label>
            <input type="text" class="form-control" name="sigla" id="field_sigla"
                   [(ngModel)]="sistema.sigla"
                   maxlength="20" />
            <div [hidden]="!(editForm.controls.sigla?.dirty && editForm.controls.sigla?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.sigla?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                    This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.sistema.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                   [(ngModel)]="sistema.nome"
                   required />
            <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.sistema.numeroOcorrencia" for="field_numeroOcorrencia">Numero Ocorrencia</label>
            <input type="text" class="form-control" name="numeroOcorrencia" id="field_numeroOcorrencia"
                   [(ngModel)]="sistema.numeroOcorrencia"
            />
        </div>

        <div class="form-group">
            <label jhiTranslate="abacoApp.sistema.organizacao" for="field_organizacao">Organizacao</label>
            <select class="form-control" id="field_organizacao" name="organizacao" [(ngModel)]="sistema.organizacao" >
                <option [ngValue]="null"></option>
                <option [ngValue]="organizacaoOption.id === sistema.organizacao?.id ? sistema.organizacao : organizacaoOption" *ngFor="let organizacaoOption of organizacaos; trackBy: trackOrganizacaoById">{{organizacaoOption.nome}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
