        <div class="ui-g-12">
            <div class="ui-g-6">
                <div class="ui-g-12">
                    <div class="ui-g ui-md-12" style="margin-bottom: 05px; margin-top: 05px">
                        <div class="ui-g-12 ui-md-10 ui-sm-12" style="margin-bottom: 05px">
                            <label translate="Cadastros.FuncaoTransacao.Modulo"></label>
                            <p-dropdown #modDropDown [filter]="true" optionLabel="nome" name="modulo"
                                [placeholder]="this.getLabel('Analise.Analise.Selecione')"
                                (onChange)="moduloSelected($event.value)" [(ngModel)]="moduloSelecionado"
                                [options]="modulos" [autoWidth]="false">
                            </p-dropdown>
                        </div>
                    </div>
                    <span class="md-inputfield">
                        <div *ngIf="!modPesquisa" class="ui-message ui-messages-error"
                            translate="Global.Mensagens.CampoObrigatorio">
                            Campo obrigatório.
                        </div>
                    </span>
                </div>
            </div>

            <div class="ui-g-6">
                <div class="ui-g-12">
                    <div class="ui-g ui-md-12" style="margin-bottom: 05px; margin-top: 05px">
                        <div class="ui-g-12 ui-md-10 ui-sm-12" style="margin-bottom: 05px">
                            <label translate="Cadastros.FuncaoTransacao.Funcionalidade">Funcionalidade</label>
                            <p-dropdown #funcDropDown [filter]="true" required id="idTipoContagemFormAnalise"
                                name="funcionalidades" optionLabel="nome"
                                [placeholder]="this.getLabel('Analise.Analise.Selecione')"
                                (onChange)="funcionalidadeSelected($event.value)" [options]="funcionalidades"
                                [autoWidth]="false" [(ngModel)]="funcionalidadeAtual">
                            </p-dropdown>
                        </div>
                    </div>
                    <span class="md-inputfield">
                        <div *ngIf="!funcPesquisa" class="ui-message ui-messages-error"
                            translate="Global.Mensagens.CampoObrigatorio">
                            Campo obrigatório.
                        </div>
                    </span>
                </div>
            </div>

            <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: px; margin-top: 05px">

                <div class="ui-g-2 ui-md-2 ui-sm-12">
                    <app-blue-button id="idBtnPesquisarPesquisar-ft" buttonIcon="ui-icon-search"
                        [buttonLabel]="'Global.Botoes.Pesquisar' | translate" (click)="performSearch()">
                    </app-blue-button>
                </div>

                <div class="ui-g-2 ui-md-2 ui-sm-12">
                    <app-white-button [buttonLabel]="'Global.Botoes.LimparPesquisa' | translate"
                        id="idBtnLimparPesquisaPesquisa-ft" buttonIcon="ui-icon-clear-all"
                        (click)="limparPesquisa(modDropDown, funcDropDown, deflaDropDown)">
                    </app-white-button>
                </div>
            </div>

            <p-fieldset [legend]="this.getLabel('Analise.Analise.Fases')" [collapsed]="false">
                <div class="ui-g-12 ui-md-12 ui-sm-12" style="margin-bottom: 05px">
                    <p-dataTable dataKey="id"
                        [value]="fn"
                        selectionMode="multiple"
                        [(selection)]="selections"
                        #datatable>

                        <p-column selectionMode="multiple" [style]="{'width':'5%'}" >
                        </p-column>

                        <p-column [header]="this.getLabel('Cadastros.FuncaoTransacao.Modulo')"
                            [style]="{'width': '25%'}">
                            <ng-template let-nomeModulo="rowData.nomeModulo" pTemplate="body">
                                {{ nomeModulo }}
                            </ng-template>
                        </p-column>

                        <p-column [header]="this.getLabel('Cadastros.FuncaoTransacao.Funcionalidade')"
                            [style]="{'width': '25%'}">
                            <ng-template let-nomeFuncionalidade="rowData.nomeFuncionalidade" pTemplate="body">
                                {{ nomeFuncionalidade}}
                            </ng-template>
                        </p-column>

                        <p-column field="name" [header]="this.getLabel('Cadastros.FuncaoTransacao.Nome')"
                            [style]="{'width': '25%'}">
                        </p-column>

                        <p-column field="classificacao" header="Classif." [style]="{'width': '10%'}">
                        </p-column>                        
                    </p-dataTable>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-3 ui-md-4 ui-sm-6">
                        <label translate="">Deflator</label>
                        <p-dropdown #deflaDropDown [filter]="true" [options]="fatoresAjuste"
                            [disabled]="!isContratoSelected()"
                            [placeholder]="this.getLabel('Analise.Analise.Selecione')" name="fatorAjuste"
                            [autoWidth]="false" (onChange)="mudarDeflator($event.value)" [(ngModel)]="novoDeflator">
                        </p-dropdown>
                        <span class="md-inputfield">
                                <div *ngIf="!deflaPesquisa" class="ui-message ui-messages-error"
                                    translate="Global.Mensagens.CampoObrigatorio">
                                    Campo obrigatório.
                                </div>
                        </span>
                    </div>
                    <div class="ui-g-3 ui-md-4 ui-sm-6" [hidden]="hideShowQuantidade">
                        <label translate="Cadastros.FuncaoDados.Quantidade*">Quantidade *</label>
                        <input type="number" class="ui-inputtext" min="1" name="quantidadeINM" (input)="alterarQuatindade($event.target.value)" >
                        <span class="md-inputfield">
                            <div *ngIf="erroUnitario" class="ui-message ui-messages-error"
                                 translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                        </span>
                    </div>
                </div>

            </p-fieldset>
        </div>

        <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 5px; margin-top: 5px">

            <div class="ui-g-2 ui-md-2 ui-sm-12">
                <app-white-button [buttonLabel]="'Global.Botoes.Fechar' | translate"
                    id="idBtnLimparPesquisaComponentAnalise" buttonIcon="ui-icon-clear-all"
                    (click)="retornarParaTelaDeFT()">
                </app-white-button>
            </div>

            <div class="ui-g-2 ui-md-2 ui-sm-12">
                <app-green-button id="idBtnPesquisarComponentSistema" buttonIcon="ui-icon-arrowstop-1-e"
                    [buttonLabel]="'Global.Botoes.Gerar' | translate" (click)="montarFuncoesTransacao()">
                </app-green-button>
            </div>
        </div>
