
<div *ngIf="funcaoDados">
    <h2><span jhiTranslate="abacoApp.funcaoDados.detail.title">Funcao Dados</span> {{funcaoDados.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="abacoApp.funcaoDados.tipo">Tipo</span></dt>
        <dd>
            <span jhiTranslate="{{'abacoApp.TipoFuncaoDados.' + funcaoDados.tipo}}">{{funcaoDados.tipo}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.funcaoDados.complexidade">Complexidade</span></dt>
        <dd>
            <span jhiTranslate="{{'abacoApp.Complexidade.' + funcaoDados.complexidade}}">{{funcaoDados.complexidade}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.funcaoDados.pf">Pf</span></dt>
        <dd>
            <span>{{funcaoDados.pf}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.funcaoDados.analise">Analise</span></dt>
        <dd>
            <div *ngIf="funcaoDados.analise">
                <a [routerLink]="['/analise', funcaoDados.analise?.id]">{{funcaoDados.analise?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="abacoApp.funcaoDados.fatorAjuste">Fator Ajuste</span></dt>
        <dd>
            <div *ngIf="funcaoDados.fatorAjuste">
                <a [routerLink]="['/fator-ajuste', funcaoDados.fatorAjuste?.id]">{{funcaoDados.fatorAjuste?.nome}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="abacoApp.funcaoDados.alr">Alr</span></dt>
        <dd>
            <div *ngIf="funcaoDados.alr">
                <a [routerLink]="['/alr', funcaoDados.alr?.id]">{{funcaoDados.alr?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'funcao-dados/'+ funcaoDados.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
