

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFuncaoDadosLabel" jhiTranslate="abacoApp.funcaoDados.home.createOrEditLabel">Create or edit a Funcao Dados</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!funcaoDados.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="funcaoDados.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.funcaoDados.tipo" for="field_tipo">Tipo</label>
            <select class="form-control" name="tipo" [(ngModel)]="funcaoDados.tipo" id="field_tipo" >
                <option value="ALI" jhiTranslate="abacoApp.TipoFuncaoDados.ALI">ALI</option>
                <option value="AIE" jhiTranslate="abacoApp.TipoFuncaoDados.AIE">AIE</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="abacoApp.funcaoDados.analise" for="field_analise">Analise</label>
            <select class="form-control" id="field_analise" name="analise" [(ngModel)]="funcaoDados.analise" >
                <option [ngValue]="null"></option>
                <option [ngValue]="analiseOption.id === funcaoDados.analise?.id ? funcaoDados.analise : analiseOption" *ngFor="let analiseOption of analises; trackBy: trackAnaliseById">{{analiseOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="abacoApp.funcaoDados.fatorAjuste" for="field_fatorAjuste">Fator Ajuste</label>
            <select class="form-control" id="field_fatorAjuste" name="fatorAjuste" [(ngModel)]="funcaoDados.fatorAjuste" >
                <option [ngValue]="null"></option>
                <option [ngValue]="fatorAjusteOption.id === funcaoDados.fatorAjuste?.id ? funcaoDados.fatorAjuste : fatorAjusteOption" *ngFor="let fatorAjusteOption of fatorajustes; trackBy: trackFatorAjusteById">{{fatorAjusteOption.nome}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.funcaoDados.complexidade" for="field_complexidade">Complexidade</label>
            <select class="form-control" name="complexidade" [(ngModel)]="funcaoDados.complexidade" id="field_complexidade" >
                <option value="BAIXA" jhiTranslate="abacoApp.Complexidade.BAIXA">BAIXA</option>
                <option value="MEDIA" jhiTranslate="abacoApp.Complexidade.MEDIA">MEDIA</option>
                <option value="ALTA" jhiTranslate="abacoApp.Complexidade.ALTA">ALTA</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.funcaoDados.pf" for="field_pf">Pf</label>
            <input type="number" class="form-control" name="pf" id="field_pf"
                   [(ngModel)]="funcaoDados.pf"
            />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
