<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ tipoFase.id ? 'Editar Tipo de Fase' : 'Cadastrar Tipo de Fase' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g">
          <div class="ui-g-12" style="margin-bottom: 25px">
            <span class="md-inputfield">
              <input type="text" name="nomeTipoFase" [(ngModel)]="tipoFase.nome" pInputText/>
              <label>Nome</label>
            </span>
          </div>
        </div>
        <div class="ui-g ui-md-12" style="justify-content: center">
          <div class="ui-g-2">
            <app-white-button buttonLabel="Cancelar" routerLink="/tipoFase"></app-white-button>
            <!-- <button pButton type="button" label="Cancelar" routerLink="/tipoFase"></button> -->
          </div>
          <div class="ui-g-2">
            <app-submit-button buttonLabel="Salvar" [disabled]="editForm.form.invalid || isSaving"></app-submit-button>
            <!-- <button pButton type="submit" label="Salvar" [disabled]="editForm.form.invalid || isSaving" ></button> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
