<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12 ui-sm-12">
        <div class="card card-w-title">
            <h1 translate="Cadastros.TipoFase.TipoFase">Tipo de Fase</h1>
            <div class="ui-g">

                <div class="ui-g-12 ui-md-12 ui-sm-12">
              <span class="md-inputfield">
                <input type="text" pInputText class="ui-inputtext"
                       name="filtroTipoFase"
                       [(ngModel)]="elasticQuery.value"
                       id="idDescricaoComponentTipoFase"
                       (keyup.enter)="datatable.refresh(elasticQuery.query)"
                       #filter maxlength="100" />
                <label translate="Cadastros.TipoFase.Descricao">Descrição</label>
              </span>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 25px; margin-top: 25px">
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-white-button
                                [buttonLabel]="this.getLabel('Global.Botoes.LimparPesquisa')"
                                buttonIcon="ui-icon-clear-all"
                                id="idBtnLimparComponentTipoFase"
                                (click)="limparPesquisa()">
                        </app-white-button>
                    </div>
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-blue-button
                                [buttonLabel]="this.getLabel('Global.Botoes.Pesquisar')"
                                buttonIcon="ui-icon-search"
                                id="idBtnPesquisarComponentTipoFase"
                                (click)="datatable.refresh(elasticQuery.query)">
                        </app-blue-button>
                    </div>
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-green-button
                                [buttonLabel]="this.getLabel('Global.Botoes.Novo')"
                                id="idBtnNovoComponentTipoFase"
                                routerLink="/tipoFase/new"
                                buttonIcon="ui-icon-add">
                        </app-green-button>
                    </div>
                </div>

                <basis-datatable
                        [url]="searchUrl"
                        (dblclick)="onRowDblclick($event)"
                        (buttonClick)="datatableClick($event)"
                        [rows]="20"
                        [rowsPerPageOptions]="rowsPerPageOptions"
                        id="idTabelaComponentTipoFase"
                        [showPaginationFooter]="true"
                        #datatable>
                    <p-column [header]="getLabel('Cadastros.TipoFase.Codigo')" field="id" id="idCodigoTabelaComponentTipoFase"
                              [sortable]="true"></p-column>
                    <p-column [header]="getLabel('Cadastros.TipoFase.Nome')" field="nome" id="idNomeTabelComponentTipoFase" [sortable]="true"></p-column>
                </basis-datatable>

                <div class="ui-g-12 ui-md-2">
                    <app-botoes-exportacao resourceName="tipoFase" fileName="TipoFase" id="idBtnExportacaoComponentTipoFase">
                    </app-botoes-exportacao>
                </div>

            </div>
        </div>
    </div>
</div>
<p-confirmDialog [header]="this.getLabel('Global.Mensagens.Confirmacao')" #dialog>
    <p-footer>
        <button type="button" pButton icon="fa-close" [label]="this.getLabel('Global.Botoes.Nao')" (click)="dialog.reject()"
                id="idBtnNaoComponentTipoFase"></button>
        <button type="button" pButton icon="fa-check" [label]="this.getLabel('Global.Botoes.Sim')" (click)="dialog.accept()"
                id="idBtnSimComponentTipoFase"></button>
    </p-footer>
</p-confirmDialog>
