<div class="ui-g ui-fluid" *ngIf="organizacao">
  <div class="ui-g-12">
    <div class="card card-w-title">

      <h1 translate="Cadastros.Organizacao.Organizacao">Organização</h1>

      <div class="ui-g">

        <div class="ui-g-4">
          <img src="data:image/png;base64,{{logo}}" style="max-width:100%; height:auto;" alt="" >
        </div>

      </div>

      <div class="ui-g">

        <div class="ui-g-12 ui-md-12 ui-sm-12">
          <label>{{this.getLabel('Cadastros.Organizacao.Sigla:}} {{ organizacao.sigla }}</label>
        </div>
        <div class="ui-g-12 ui-md-12 ui-sm-12">
          <label>{{this.getLabel('Cadastros.Organizacao.Nome:}} {{ organizacao.nome }}</label>
        </div>
        <div class="ui-g-12 ui-md-12 ui-sm-12">
          <label translate="Cadastros.Organizacao.CNPJ:">CNPJ: </label>
          <input id="idCNPJDetailOrganizacao" type="text" name="cnpj" mask="99.999.999/9999-99" [ngModel]="organizacao.cnpj" style="border-style: none" readonly/>
        </div>
        <div class="ui-g-12 ui-md-12 ui-sm-12">
          <label>{{this.getLabel('Cadastros.Organizacao.NumeroOcorrencia:}} {{ organizacao.numeroOcorrencia }}</label>
        </div>
        <div class="ui-g-12 ui-md-12 ui-sm-12">
          <label>{{this.getLabel('Cadastros.Organizacao.Ativo:}} {{ organizacao.ativo ? this.getLabel('Global.Botoes.Sim') : this.getLabel('Global.Botoes.Nao') }}</label>
        </div>
      </div>

      <div class="ui-g" style="margin-bottom: 25px">
        <h4 translate="Cadastros.Organizacao.Contratos">Contratos</h4>

          <app-memory-datatable
            [value]="organizacao.contracts"
            [immutable]="false" 
            id="idTabelaOrganizacaoDetailOrganizacao"
            #contratosDataTable>
            
            <p-column 
            [header]="this.getLabel('Cadastros.Organizacao.NumeroContrato')"
              field="numeroContrato">
            </p-column>
            
            <p-column
            [header]="this.getLabel('Cadastros.Organizacao.InicioVigencia')" 
              field="dataInicioVigencia">
              <ng-template 
                let-col 
                let-dataInicioVigencia="rowData" 
                pTemplate="body">
                {{ dataInicioVigencia[col.field] | date: 'dd/MM/y' }}
              </ng-template>
            </p-column>
            
            <p-column 
              [header]="this.getLabel('Cadastros.Organizacao.FinalVigencia')"
              field="dataFimVigencia">
              <ng-template 
                let-col 
                let-dataFimVigencia="rowData" 
                pTemplate="body">
                {{ dataFimVigencia[col.field] | date: 'dd/MM/y' }}
              </ng-template>
            </p-column>

            <p-column 
              [header]="this.getLabel('Cadastros.Organizacao.Manuais')" 
              [sorteble]="true">
              <ng-template let-col let-row="rowData" pTemplate="body">
                <li *ngFor="let manualContrato of row.manualContrato">
                  {{ manualContrato.manual.nome }}
                </li>
              </ng-template>
            </p-column>
            
            <p-column 
              [header]="this.getLabel('Cadastros.Organizacao.Ativo')" 
              field="ativo">
              <ng-template 
                let-col 
                let-ativo="rowData" 
                pTemplate="body">
                {{ ativo[col.field] ? this.getLabel('Global.Botoes.Sim') : this.getLabel('Global.Botoes.Nao') }}
              </ng-template>
            </p-column>
          </app-memory-datatable>

        </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <button pButton type="button" id="idBtnVoltarDetailOrganizacao" [label]="this.getLabel('Global.Botoes.Voltar')" routerLink="/organizacao"></button>
        </div>
      </div>
    </div>
  </div>
</div>
