<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-12 ui-sm-12">
    <div class="card card-w-title">
      <h1>Organização</h1>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-sm-12">
          <span class="md-inputfield">
            <input type="text" pInputText class="ui-inputtext" [(ngModel)]="elasticQuery.value"
              (keyup.enter)="datatable.refresh(elasticQuery.query)"
              #filter />
            <label>Descrição</label>
          </span>
        </div>
      </div>
      <div class="ui-g">

        <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 25px; margin-top: 25px">
              <div class="ui-g-2 ui-md-2 ui-sm-12">
                <app-white-button 
                  buttonLabel="Limpar Pesquisa" 
                  id="idBtnLimparPesquisaComponentOrganizacao"
                  buttonIcon="ui-icon-clear-all" 
                  (click)="limparPesquisa()">
                </app-white-button>
              </div>
              <div class="ui-g-2 ui-md-2 ui-sm-12">
                <app-blue-button 
                  buttonLabel="Pesquisar" 
                  buttonIcon="ui-icon-search" 
                  id="idBtnPesquisarComponentOrganizacao"
                  (click)="datatable.refresh(elasticQuery.query)">
                </app-blue-button>
              </div>
              <div class="ui-g-2 ui-md-2 ui-sm-12">
                <app-green-button 
                  buttonLabel="Novo" 
                  id="idBtnNovoComponentOrganizacao"
                  buttonIcon="ui-icon-add" 
                  routerLink="/organizacao/new"
                ></app-green-button>
              </div>
        </div>

        <basis-datatable 
          [url]="searchUrl"
          (dblclick)="onRowDblclick($event)"
          (buttonClick)="datatableClick($event)"
          [rows]="20"
          [rowsPerPageOptions]="rowsPerPageOptions"
          [showPaginationFooter]="true"
          id="idTabelaComponentOrganizacao"
          #datatable>
          <p-column header="Sigla" field="sigla" [sortable]="true" ></p-column>
          <p-column header="Nome" field="nome" [sortable]="true"></p-column>
          <p-column header="CNPJ" field="cnpj" [sortable]="true">
            <ng-template  let-col let-item="rowData" pTemplate="body">
              {{ item.cnpj | cpfCnpj }}
            </ng-template>
          </p-column>
          <p-column header="Número da Ocorrência" field="numeroOcorrencia" [sortable]="true"></p-column>
          <p-column header="Ativo" field="ativo" [sortable]="true">
            <ng-template let-col let-ativo="rowData" pTemplate="body">
              {{ ativo[col.field] ? 'Sim' : (ativo[col.field] != null ? 'Não' : null) }}
            </ng-template>
          </p-column>
        </basis-datatable>

        <div class="ui-g-12 ui-md-2">
          <app-botoes-exportacao resourceName="organizacao" >
          </app-botoes-exportacao>
        </div>

      </div>
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmação" #dialog>
  <p-footer>
    <button type="button" id="idBtnNaoDeleteComponentOrganizacao" pButton icon="fa-close" label="Não" (click)="dialog.reject()"></button>
    <button type="button" id="idBtnSimDeleteComponentOrganizacao" pButton icon="fa-check" label="Sim" (click)="dialog.accept()"></button>
  </p-footer>
</p-confirmDialog>
