<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ organizacao.id ? 'Editar Organização' : 'Cadastrar Organização' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g">
          <div class="ui-g-6" [hidden]="!organizacao.id">
            <span class="md-inputfield">
              <input type="text" class="ui-inputtext" name="id" pInputText [(ngModel)]="organizacao.id" readonly/>
              <label>ID</label>
            </span>
          </div>          
          <div class="ui-g-6">
            <span class="md-inputfield">
              <input type="text" name="nome" [(ngModel)]="organizacao.nome" pInputText/>
              <label>Nome</label>
            </span>
          </div>
          <div class="ui-g-6">
            <span class="md-inputfield">
              <input type="text" name="cnpj" [(ngModel)]="organizacao.cnpj" pInputText/>
              <label>Cnpj</label>
            </span>
          </div>
          <div class="ui-g-6">
              <div class="ui-g">
                <div class="ui-g-12 ui-md-2">
                  <label>Ativo</label>
              </div>
              <div class="ui-g-12 ui-md-2">
                <p-radioButton name="ativo" [value]="true" label="Sim" [(ngModel)]="organizacao.ativo"></p-radioButton>
              </div>
              <div class="ui-g-12 ui-md-2">
                <p-radioButton name="ativo" [value]="false" label="Não" [(ngModel)]="organizacao.ativo"></p-radioButton>
              </div>
            </div>
          </div>
          <div class="ui-g-6">
            <span class="md-inputfield">
              <input type="text" name="numeroOcorrencia" [(ngModel)]="organizacao.numeroOcorrencia" pInputText/>
              <label>Numero Ocorrencia</label>
            </span>
          </div>

          <div class="ui-g">
            <h4>Contratos</h4>

            <div class="ui-g ui-md-12" style="justify-content: flex-end">
              <div class="ui-md-3">
                <button pButton type="text" label="Novo Contrato" icon="ui-icon-add"
                  (click)="abrirDialogCadastroContrato()"></button>
              </div>
            </div>
            
            <p-dataTable [value]="organizacao.contratos" #contratosDataTable>
              <p-column header="Número do Contrato" field="numeroContrato"></p-column>
              <p-column header="Ínicio Vigência" field="dataInicioVigencia"></p-column>
              <p-column header="Final Vigência" field="dataFimVigencia"></p-column>
              <p-column header="Manual" field="manual.nome"></p-column>
              <p-column header="Ativo (TODO)" field="ativo"></p-column>
            </p-dataTable>
             
          </div>

        </div>

        <p-dialog header="Contrato" [(visible)]="mostrarDialogCadastroContrato"
          [contentStyle]="{'overflow':'visible'}" [width]="800" [height]="600">
          <div class="ui-g">
            <div class="ui-g-6">
              <span class="md-inputfield">
                <input type="text" name="nome" [(ngModel)]="novoContrato.numeroContrato" pInputText/>
                <label>Número do Contrato</label>
              </span>
            </div>
            <div class="ui-g-6">
                <p-dropdown [options]="manuais" optionLabel="manual" placeholder="Manual" name="manualDropdown" [(ngModel)]="novoContrato.manual" [autoWidth]="false" dataKey="id"></p-dropdown>
            </div>
            <div class="ui-g-6">
              <span class="md-inputfield">
                <p-calendar [(ngModel)]="novoContrato.dataInicioVigencia"
                  [monthNavigator]="true" [yearNavigator]="true" 
                  dateFormat="dd/mm/yy" yearRange="2000:2020"></p-calendar>
                <label>Data de Início da Vigência</label>
              </span>
            </div>
            <div class="ui-g-6">
                <span class="md-inputfield">
                <p-calendar [(ngModel)]="novoContrato.dataFimVigencia"
                  [monthNavigator]="true" [yearNavigator]="true"
                  dateFormat="dd/mm/yy" yearRange="2000:2020"></p-calendar>
                <label>Data Final da Vigência</label>
                </span>
              </div>
          </div>
        </p-dialog>

        <div class="ui-g">
          <div class="ui-g-2">
            <button pButton type="button" label="Cancelar" routerLink="/organizacao"></button>
          </div>
          <div class="ui-g-2">
            <button pButton type="submit" label="Salvar" [disabled]="editForm.form.invalid || isSaving" ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>