<div class="ui-g ui-fluid">

  <div class="ui-g-12 ui-md-12 ui-sm-12">

    <div class="card card-w-title">

      <h1>Sistemas</h1>
      <div class="ui-g">

        <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 5px">
          <span class="md-inputfield">
            <input
                    type="text"
                    pInputText class="ui-inputtext"
                    [(ngModel)]="searchParams.sigla"
                    id="idSiglaComponentSistema"
                    (keyup.enter)="performSearch()"
                    maxlength="20"
                    #filter />
            <label>Sigla</label>
          </span>
        </div>

        <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 5px">
          <span class="md-inputfield">
            <input
                    type="text"
                    pInputText class="ui-inputtext"
                    id="idNomeSistemaComponentSistema"
                    [(ngModel)]="searchParams.nomeSistema"
                    (keyup.enter)="performSearch()"
                    maxlength="100"
                    #filter />
            <label>Nome do Sistema</label>
          </span>
        </div>

        <div class="ui-g-4 ui-md-4 ui-sm-12">
          <p-dropdown
                  [filter]="true"
                  [options]="organizations"
                  id="idOrganizacaoComponentSistema"
                  optionLabel="nome"
                  [(ngModel)]="searchParams.organizacao"
                  [placeholder]="'Organizacao'">
          </p-dropdown>
        </div>

      </div>

      <div class="ui-g">
        <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 25px; margin-top: 25px">
          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-white-button
                    [buttonLabel]="'Limpar Pesquisa'"
                    id="idBtnLimparPesquisaComponentSistema"
                    buttonIcon="ui-icon-clear-all"
                    (click)="limparPesquisa()">
            </app-white-button>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-blue-button
                    [buttonLabel]="'Pesquisar'"
                    id="idBtnPesquisarComponentSistema"
                    buttonIcon="ui-icon-search"
                    (click)="performSearch()">
            </app-blue-button>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-green-button
                    [buttonLabel]="'Novo'"
                    id="idBtnNovoComponentSistema"
                    routerLink="/sistema/new"
                    buttonIcon="ui-icon-add">
            </app-green-button>
          </div>
        </div>

        <basis-datatable
            type="server"
            [url]="searchUrl"
            (buttonClick)="datatableClick($event)"
            id="idTabelaComponentSistema"
            [rows]="20"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [showPaginationFooter]="true"
            #datatable>
          <p-column header="Sigla" field="sigla" [sortable]="true"></p-column>
          <p-column header="Nome" field="nome" [sortable]="true"></p-column>
          <p-column header="Número ocorrência" field="numeroOcorrencia" [sortable]="true"></p-column>
          <p-column header="Organização" field="organizacao.nome" [sortable]="true">
            <ng-template let-col let-sistema="rowData" pTemplate="body">
              {{ sistema.organizacao.nome }}
            </ng-template>
          </p-column>
        </basis-datatable>

        <div class="ui-g-12 ui-md-2">
          <app-botoes-exportacao [query]="elasticQuery.value" resourceName="sistema" fileName="sistema" id="idBtnExportacaoComponentSistema">
          </app-botoes-exportacao>
        </div>

      </div>

    </div>

  </div>

</div>

<p-confirmDialog [header]="this.getLabel('Confirmação')" #dialog>
  <p-footer>
    <button type="button" pButton icon="fa-close" [label]="this.getLabel('Não')" (click)="dialog.reject()"></button>
    <button type="button" pButton icon="fa-check" [label]="this.getLabel('Sim')" (click)="dialog.accept()"></button>
  </p-footer>
</p-confirmDialog>
