
<div *ngIf="organizacao">
    <h2><span jhiTranslate="abacoApp.organizacao.detail.title">Organizacao</span> {{organizacao.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="abacoApp.organizacao.nome">Nome</span></dt>
        <dd>
            <span>{{organizacao.nome}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.organizacao.cnpj">Cnpj</span></dt>
        <dd>
            <span>{{organizacao.cnpj}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.organizacao.ativo">Ativo</span></dt>
        <dd>
            <span>{{organizacao.ativo}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.organizacao.numeroOcorrencia">Numero Ocorrencia</span></dt>
        <dd>
            <span>{{organizacao.numeroOcorrencia}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.organizacao.contrato">Contrato</span></dt>
        <dd>
            <div *ngIf="organizacao.contrato">
                <a [routerLink]="['/contrato', organizacao.contrato?.id]">{{organizacao.contrato?.numeroContrato}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'organizacao/'+ organizacao.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
