/* You can add global styles to this file, and also import other style files */
body .ui-widget-overlay {
    background-color: rgb(88, 87, 92, 0.8)!important;
    opacity: 1;
}

.ui-table .ui-table-scrollable-header-box {
    margin-right: 0px !important;
}


#idTabelaComponentAnalise th:nth-child(9) {
  width: 75px !important;
}
#idTabelaComponentAnalise td:nth-child(9) {
  width: 75px !important;
}
#idTabelaComponentAnalise th:nth-child(8) {
  width: 75px !important;
}
#idTabelaComponentAnalise td:nth-child(8) {
  width: 75px !important;
}
#idTabelaComponentAnalise th:nth-child(7) {
  width: 100px !important;
}
#idTabelaComponentAnalise td:nth-child(7) {
  width: 100px !important;
}
#idTabelaComponentAnalise th:nth-child(6) {
  width: 100px !important;
}
#idTabelaComponentAnalise td:nth-child(6) {
  width: 100px !important;
}
#idTabelaComponentAnalise th:nth-child(4) {
  width: 150px !important;
}
#idTabelaComponentAnalise td:nth-child(4) {
  width: 150px !important;
}
#idTabelaComponentAnalise th:nth-child(10) {
  width: 95px !important;
  padding: 0px;
}
#idTabelaComponentAnalise td:nth-child(10) {
  width: 95px !important;
}
#idTabelaComponentAnalise th:nth-child(11) {
  width: 85px !important;
  padding: 0px;
}
#idTabelaComponentAnalise td:nth-child(11) {
  width: 85px !important;
  text-align: center;
}
