
<div *ngIf="der">
    <h2><span jhiTranslate="abacoApp.der.detail.title">Der</span> {{der.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="abacoApp.der.nome">Nome</span></dt>
        <dd>
            <span>{{der.nome}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.der.rlr">Rlr</span></dt>
        <dd>
            <div *ngIf="der.rlr">
                <a [routerLink]="['/rlr', der.rlr?.id]">{{der.rlr?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'der/'+ der.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
