<div class="ui-g ui-fluid">
        <div class="card card-w-title">
            <div class="ui-g">
                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <span class="md-inputfield">
                        <input
                            type="text"
                            pInputText class="ui-inputtext"
                            [(ngModel)]="nameSearch"
                            id="idNameSearch"
                            maxlength="50">
                        <label>Nome da função</label>
                    </span>
                </div>
                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown #modDropDown
                        id="idModuloSelecionado"
                        [filter]="true"
                        optionLabel="nome"
                        name="modulo"
                        [placeholder]="this.getLabel('Selecione um Módulo')"
                        (onChange)="moduloSelected($event.value)"
                        [(ngModel)]="moduloSelecionado"
                        [options]="modulos"
                        [autoWidth]="false">
                    </p-dropdown>
                </div>
                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown #funcDropDown
                        [filter]="true"
                        id="idFuncionalidadeAtual"
                        name="funcionalidades"
                        optionLabel="nome"
                        [placeholder]="this.getLabel('Selecione uma Funcionalidade')"
                        (onChange)="funcionalidadeSelected($event.value)"
                        [options]="funcionalidades"
                        [autoWidth]="false"
                        [(ngModel)]="funcionalidadeAtual">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: px; margin-top: 05px">
                <div class="ui-g-2 ui-md-2 ui-sm-12">
                    <app-blue-button id="idBtnPesquisarPesquisar-ft" buttonIcon="ui-icon-search"
                        [buttonLabel]="'Pesquisar'" (click)="performSearch()">
                    </app-blue-button>
                </div>
                <div class="ui-g-2 ui-md-2 ui-sm-12">
                    <app-white-button [buttonLabel]="'Limpar Pesquisa'"
                        id="idBtnLimparPesquisaPesquisa-ft" buttonIcon="ui-icon-clear-all"
                        (click)="limparPesquisa()">
                    </app-white-button>
                </div>
            </div>
            <p-fieldset [legend]="this.getLabel('Funções')" [collapsed]="false">
                <div class="ui-g">

                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-6 ui-sm-6" style="margin-bottom: 15px;">
                            <p-dropdown #deflaDropDown [filter]="true" [options]="fatoresAjuste"
                                [disabled]="!isContratoSelected()"
                                [placeholder]="this.getLabel('Deflator')" name="fatorAjuste"
                                [autoWidth]="false" (onChange)="mudarDeflator($event.value)" [(ngModel)]="novoDeflator">
                            </p-dropdown>
                            <span class="md-inputfield">
                                    <div *ngIf="!deflaPesquisa" class="ui-message ui-messages-error">
                                        Campo obrigatório.
                                    </div>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-sm-6" [hidden]="hideShowQuantidade">
                            <label>Quantidade *</label>
                            <input type="number" class="ui-inputtext" min="1" name="quantidadeINM" (input)="alterarQuatindade($event.target.value)" >
                            <span class="md-inputfield">
                                <div *ngIf="erroUnitario" class="ui-message ui-messages-error">
                                    Campo obrigatório.
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g" style="margin-bottom: 05px">
                        <p-table
                            [value]="fn"
                            [paginator]="true" [rows]="10"
                            [rowsPerPageOptions]="[10,25,50]"
                            [(selection)]="selections" #table>
                            <ng-template pTemplate="caption">
                                {{isFuncaoDados? 'Função de dados':'Função de transação'}}
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="text-align:left; width: 3em;"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                                    <th pSortableColumn="fase.nome">Módulo <p-sortIcon></p-sortIcon>
                                        <input class="column-filter-input" (click)="$event.stopPropagation()" pInputText type="text" (input)="table.filter($event.target.value, 'nomeModulo', 'contains')"/>
                                    </th>
                                    <th pSortableColumn="fase.nomeFuncionalidade">Funcionalidade <p-sortIcon></p-sortIcon>
                                        <input class="column-filter-input" (click)="$event.stopPropagation()" pInputText type="text" (input)="table.filter($event.target.value, 'nomeFuncionalidade', 'contains')"/>
                                    </th>
                                    <th pSortableColumn="fase.name">Nome <p-sortIcon></p-sortIcon>
                                        <input class="column-filter-input" (click)="$event.stopPropagation()" pInputText type="text" (input)="table.filter($event.target.value, 'name', 'contains')"/>
                                    </th>
                                    <th pSortableColumn="fase.classificacao" style="text-align: center; width: 9em;">Classificação <p-sortIcon></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-funcao>
                                <tr class="ui-selectable-row" >
                                    <td >
                                        <p-tableCheckbox [value]="funcao"></p-tableCheckbox>
                                    </td>
                                    <td>
                                        {{funcao.nomeModulo}}
                                    </td>
                                    <td>
                                        {{funcao.nomeFuncionalidade}}
                                    </td>
                                    <td>
                                        {{funcao.name}}
                                    </td>
                                    <td style="text-align: center;" >
                                        {{funcao.classificacao}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class=" ui-g-12 ui-helper-clearfix" style="text-align: left">
                            <div class="ui-g-12 ui-md-2 ui-sm-2" >
                                <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;"></button>
                            </div>
                            <div class="ui-g-12 ui-md-2 ui-sm-2" >
                                <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" ></button>
                            </div>
                        </div>

                    </div>
                </div>
            </p-fieldset>
        </div>

        <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 5px; margin-top: 5px">
            <div class="ui-g-2 ui-md-2 ui-sm-12">
                <app-white-button [buttonLabel]="'Fechar'"
                    id="idBtnLimparPesquisaComponentAnalise" buttonIcon="ui-icon-clear-all"
                    (click)="retornarParaTelaDeFT()">
                </app-white-button>
            </div>
            <div class="ui-g-2 ui-md-2 ui-sm-12">
                <app-green-button id="idBtnPesquisarComponentSistema" buttonIcon="ui-icon-arrowstop-1-e"
                    [buttonLabel]="'Gerar'" (click)="montarFuncoes()">
                </app-green-button>
            </div>
        </div>
</div>
