<p-tabView (onChange)="handleChange($event)">
    <p-tabPanel [header]="this.getLabel('Geral')" [selected]= "true">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                        <div>
                            <div class="ui-g">
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                    <label>Organização</label>
                                    <p-dropdown
                                            [filter]="true"
                                            dataKey="id"
                                            id="idOrganizacaoSaveFormAnalise"
                                            name="organizacao"
                                            optionLabel="nome"
                                            [disabled]="disabledOptionsforEdit()"
                                            [placeholder]="this.getLabel('Selecione')"
                                            [options]="organizacoes"
                                            [(ngModel)]="analise.organizacao"
                                            (onChange)="setSistemaOrganizacao($event.value)">
                                    </p-dropdown>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                    <label >Sistema</label>
                                    <p-dropdown
                                            [filter]="true"
                                            dataKey="id"
                                            id="idSistemaSaveFormAnalise"
                                            optionLabel="sigla"
                                            [disabled]="disabledOptionsforEdit()"
                                            [placeholder]="this.getLabel('Selecione')"
                                            (onChange)="getSistemaSelecionado()"
                                            name="sistema"
                                            [options]="sistemas"
                                            [(ngModel)]="analise.sistema"
                                            >
                                    </p-dropdown>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                    <label>Equipe Responsável</label>
                                    <p-dropdown
                                            [filter]="true"
                                            dataKey="id"
                                            id="idEquipeResponsavelSaveFormAnalise"
                                            name="equipeResponsavel"
                                            optionLabel="nome"
                                            [disabled]="disabledOptionsforEdit()"
                                            [placeholder]="this.getLabel('Selecione')"
                                            [disabled]="hideShowSelectEquipe"
                                            [options]="equipeResponsavel"
                                            [(ngModel)]="analise.equipeResponsavel"
                                            >
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 05px; margin-top: 05px" *ngIf="analise.equipeResponsavel">
                            <div class="ui-g">
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                    <label >Identificador da Analise *</label>
                                        <span class="md-inputfield">
                                        <input
                                            required
                                            type="text"
                                            maxlength="100"
                                            id="idIdentificadorAnaliseFormAnalise"
                                            name="identificadorAnalise"
                                            [(ngModel)]="analise.identificadorAnalise"
                                            pInputText
                                        />
                                        <div *ngIf="editForm.controls['identificadorAnalise']
                                            && !editForm.controls['identificadorAnalise'].valid
                                            && (editForm.controls['identificadorAnalise'].touched
                                            || editForm.submitted)"
                                            class="ui-message ui-messages-error" >
                                                Campo obrigatório.
                                         </div>
                                    </span>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                    <label>Número O.S.*</label>
                                    <span class="md-inputfield">
                                        <input
                                            required
                                            type="text"
                                            maxlength="100"
                                            id="idnumeroOsAnaliseFormAnalise"
                                            name="numeroOsAnalise"
                                            [(ngModel)]="analise.numeroOs"
                                            pInputText
                                        />
                                        <div *ngIf="editForm.controls['numeroOsAnalise']
                                            && !editForm.controls['numeroOsAnalise'].valid
                                            && (editForm.controls['numeroOsAnalise'].touched
                                            || editForm.submitted)"
                                            class="ui-message ui-messages-error">
                                                Campo obrigatório.
                                         </div>
                                    </span>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                    <label >Data Criação da O.S. *</label>
                                        <span class="md-inputfield">
                                        <p-calendar
                                                required
                                                name="dataCriacaoOrdemServico"
                                                [(ngModel)]="analise.dataCriacaoOrdemServico"
                                                id="idDataCriacaoOrdemServicoFormAnalise"
                                                dateFormat="dd/mm/yy"
                                                showIcon="true">
                                        </p-calendar>
                                        <div *ngIf="editForm.controls['dataCriacaoOrdemServico']
                                            && !editForm.controls['dataCriacaoOrdemServico'].valid
                                            && (editForm.controls['dataCriacaoOrdemServico'].touched
                                            || editForm.submitted)"
                                            class="ui-message ui-messages-error">
                                                Campo obrigatório.
                                         </div>
                                     </span>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                    <label>Contrato *</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            id="idContratoFormAnalise"
                                            dataKey="id"
                                            optionLabel="numeroContrato"
                                            [placeholder]="this.getLabel('Selecione')"
                                            (onChange)="contratoSelected($event.value)"
                                            [disabled]="disabledOptionsforEdit()"
                                            name="contrato"
                                            [options]="contratos"
                                            [(ngModel)]="analise.contrato"
                                            >
                                    </p-dropdown>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                    <label >Manual *</label>
                                    <p-dropdown
                                            required
                                            [filter]="true"
                                            id="idManual"
                                            name="manual"
                                            [disabled]="disabledOptionsforEdit()"
                                            [options]="manuaisCombo"
                                            (onChange)="setManual($event.value)"
                                            [(ngModel)]="analise.manual"
                                            
                                            datakey="id">
                                        <div class="row">
                                            <ng-template let-manualSelc pTemplate="selectedItem">
                                                {{manualSelc.label}}
                                            </ng-template>
                                        </div>
                                    </p-dropdown>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                    <label >Status *</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            id="idStatusFormAnalise"
                                            dataKey="id"
                                            [placeholder]="this.getLabel('Selecione um status')"
                                            name="status"
                                            optionLabel="nome"
                                            [options]="statusCombo"
                                            [(ngModel)]="analise.status">
                                    </p-dropdown>
                                    <div *ngIf="editForm.controls['status']
                                        && !editForm.controls['status'].valid
                                        && (editForm.controls['status'].touched
                                        || editForm.submitted)"
                                        class="ui-message ui-messages-error">
                                            Campo obrigatório.
                                        </div>
                                </div>
                                <div [ngClass]="(disabledOptionsforEdit())? '(ui-g-4 ui-md-4 ui-sm-12)' : '(ui-g-6 ui-md-6 ui-sm-12)'"
                                     style="margin-bottom: 05px">
                                    <label>Método de Contagem *</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            id="idMetodoContagemFormAnalise"
                                            [placeholder]="this.getLabel('Selecione um contrato')"
                                            name="metodoContagem"
                                            [options]="metodosContagem"
                                            [(ngModel)]="analise.metodoContagem"
                                            [disabled]="disabledTipoContagemEdit()"
                                            (onChange)="alterarMetodoContagem()">
                                    </p-dropdown>
                                </div>
                                <div [ngClass]="(disabledOptionsforEdit())? '(ui-g-4 ui-md-4 ui-sm-12)' : '(ui-g-6 ui-md-6 ui-sm-12)'"
                                     style="margin-bottom: 05px">
                                    <label>Tipo de Contagem *</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            id="idTipoContagemFormAnalise"
                                            name="tiposAnalise"
                                            [placeholder]="this.getLabel('Selecione')"
                                            [options]="tiposAnalise"
                                            [disabled]="disabledTipoContagemEdit()"
                                            [(ngModel)]="analise.tipoAnalise"
                                            >
                                    </p-dropdown>
                                </div>

                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px"
                                     *ngIf="analise.id">
                                    <label >Usuários</label>
                                    <p-multiSelect
                                            [filter]="true"
                                            required
                                            dataKey="id"
                                            name="usersMultiselect"
                                            [(options)]="users"
                                            [(ngModel)]="analise.users"
                                            optionLabel="nome"
                                            selectedItemsLabel="{0} Usuários Selecionados"
                                            #usersMultiselect='ngModel'>
                                    </p-multiSelect>
                                </div>
                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px" >
                                    <label >Propósito da Contagem</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                maxlength="4000"
                                                pInputTextarea name="propositoContagem"
                                                id="idPropositoContagemFormAnalise"
                                                [(ngModel)]="analise.propositoContagem">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px"
                                >
                                    <label >Escopo da Contagem</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                maxlength="4000"
                                                pInputTextarea name="escopo"
                                                id="idEscopoContagemFormAnalise"
                                                [(ngModel)]="analise.escopo">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px"
                                >
                                    <label >Fronteira</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                maxlength="4000"
                                                pInputTextarea name="fronteiras"
                                                id="idFronteirasFormAnalise"
                                                [(ngModel)]="analise.fronteiras">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px"
                                >
                                    <label>Documentação</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                maxlength="4000"
                                                required
                                                pInputTextarea name="documentacao"
                                                id="idDocumentacaoFormAnalise"
                                                [(ngModel)]="analise.documentacao">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g-4 ui-md-4 ui-sm-12">

                                    <div class="ui-g-6 ui-md-6 ui-sm-12">
                                        {{this.getLabel('Aguardar prazo de garantia')}} {{diasGarantia > 0 ? this.getLabel('de ') + diasGarantia + this.getLabel(' dias')
                                        : null}}?
                                    </div>

                                    <div class="ui-g-3 ui-md-2 ui-sm-12">
                                        <p-radioButton
                                                name="baseline_imediatamente"
                                                [label]="this.getLabel('Sim')"
                                                id="idAguardarPrazoGarantiaSimFormAnalise"
                                                [value]="true"
                                                [(ngModel)]="analise.baselineImediatamente">
                                        </p-radioButton>
                                    </div>

                                    <div class="ui-g-3 ui-md-2 ui-sm-12">
                                        <p-radioButton
                                                name="baseline_imediatamente"
                                                [label]="this.getLabel('Não')"
                                                id="idAguardarPrazoGarantiaNaoFormAnalise"
                                                [value]="false"
                                                [(ngModel)]="analise.baselineImediatamente">
                                        </p-radioButton>
                                    </div>

                                </div>

                                <div class="ui-g-4 ui-md-4 ui-sm-12">

                                    <div class="ui-g-6 ui-md-6 ui-sm-12">
                                        Incorporar a Baseline
                                    </div>
                                    <div class="ui-g-3 ui-md-2 ui-sm-12">
                                        <p-radioButton
                                                name="baseline_enviar_baseline"
                                                [label]="this.getLabel('Sim')"
                                                id="idEnviarBaselineSimFormAnalise"
                                                [value]="true"
                                                [(ngModel)]="analise.enviarBaseline">
                                        </p-radioButton>
                                    </div>
                                    <div class="ui-g-3 ui-md-2 ui-sm-12">
                                        <p-radioButton
                                                name="baseline_enviar_baseline"
                                                [label]="this.getLabel('Não')"
                                                id="idEnviarBaselineNaoFormAnalise"
                                                [value]="false"
                                                [(ngModel)]="analise.enviarBaseline">
                                        </p-radioButton>
                                    </div>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px; margin-top: 05px" >
                                    <span class="md-inputfield">
                                        <p-calendar
                                                [required]="analise.baselineImediatamente"
                                                name="dataHomologacao"
                                                [(ngModel)]="analise.dataHomologacao"
                                                id="idDataHomolagacaoFormAnalise"
                                                dateFormat="dd/mm/yy"
                                                showIcon="true">
                                        </p-calendar>
                                        <label>{{this.getLabel('Data Homologação')}} {{analise.baselineImediatamente ? " *" : null}}</label>
                                    </span>
                                </div>
                                <p-fieldset [legend]="this.getLabel('Fases')" [toggleable]="true" [collapsed]="true">
                                    <div class="ui-g-12 ui-md-12 ui-sm-12" style="margin-bottom: 05px">
                                        <p-table
                                                dataKey="id"
                                                [rowHover]="true"
                                                [emptyMessage]="this.getLabel('Selecione um Contrato para escolher Fases')"
                                                [value]="esforcoFases"
                                                id="idTabelaFases"
                                                [resizableColumns]="true"
                                                [(selection)]="analise.esforcoFases">
                                            <ng-template pTemplate="caption">
                                                Fase
                                            </ng-template>
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="text-align:left"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                                                    <th pSortableColumn="fase.nome">Nome <p-sortIcon></p-sortIcon></th>
                                                    <th pSortableColumn="esforco">Esforço <p-sortIcon></p-sortIcon></th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-esforcoFase>
                                                <tr class="ui-selectable-row">
                                                    <td >
                                                        <p-tableCheckbox [value]="esforcoFase"></p-tableCheckbox>
                                                    </td>
                                                    <td>
                                                        {{esforcoFase.fase.nome}}
                                                    </td>
                                                    <td>
                                                        {{esforcoFase.esforco}}%
                                                    </td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="footer">
                                                <tr>
                                                    <td colspan="3" style="text-align:center">{{this.getLabel('Total')}} {{ totalEsforcoFases() }}%</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </p-fieldset>
                                <div class="ui-g-12 ui-md-12 ui-sm-12" style="margin-bottom: 05px">
                                    <label>Observações</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                [rows]="3"
                                                id="idObservacoesFormAnalise"
                                                [cols]="180"
                                                maxlength="4000"
                                                autoResize=true
                                                pInputTextarea name="observacoes"
                                                [(ngModel)]="analise.observacoes">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g ui-md-12"
                                     style="justify-content: center; margin-bottom: 05px; margin-top: 05px">
                                    <div class="ui-g-12 ui-md-12 ui-lg-2" style="margin-bottom: 05px">
                                        <app-white-button
                                                [buttonLabel]="'Voltar' "
                                                id="idBtnVoltarFormAnalise"
                                                routerLink="/analise">
                                        </app-white-button>
                                    </div>
                                    <div class="ui-g-12 ui-md-12 ui-lg-2" style="margin-bottom: 05px">
                                        <app-green-button
                                                type="submit"
                                                id="idBtnSalvarFormAnalise"
                                                [buttonLabel]="'Salvar' "
                                                (click)="save()">
                                        </app-green-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </p-tabPanel>

    <p-tabPanel [header]="this.getLabel('Funções Dados')" [disabled]="disableAba" ></p-tabPanel>

    <p-tabPanel [header]="this.getLabel('Funções Transação')"[disabled]="disableFuncaoTrasacao"></p-tabPanel>

    <p-tabPanel [header]="this.getLabel('Resumo')" [disabled]="disableAba" ></p-tabPanel>
</p-tabView>

<!-- Dialog confirmação deleção -->
<p-confirmDialog [header]="this.getLabel('Confirmação')" #dialog>
    <p-footer>
        <button type="button" pButton icon="fa-close" [label]="'Não' "
                (click)="dialog.reject()"></button>
        <button type="button" pButton icon="fa-check" [label]="'Sim' "
                (click)="dialog.accept()"></button>
    </p-footer>
</p-confirmDialog>
