
<div *ngIf="esforcoFase">
    <h2><span jhiTranslate="abacoApp.esforcoFase.detail.title">Esforco Fase</span> {{esforcoFase.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="abacoApp.esforcoFase.esforco">Esforco</span></dt>
        <dd>
            <span>{{esforcoFase.esforco}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.esforcoFase.manual">Manual</span></dt>
        <dd>
            <div *ngIf="esforcoFase.manual">
                <a [routerLink]="['/manual', esforcoFase.manual?.id]">{{esforcoFase.manual?.nome}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="abacoApp.esforcoFase.fase">Fase</span></dt>
        <dd>
            <div *ngIf="esforcoFase.fase">
                <a [routerLink]="['/fase', esforcoFase.fase?.id]">{{esforcoFase.fase?.nome}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'esforco-fase/'+ esforcoFase.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
