

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEsforcoFaseLabel" jhiTranslate="abacoApp.esforcoFase.home.createOrEditLabel">Create or edit a Esforco Fase</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!esforcoFase.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="esforcoFase.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.esforcoFase.esforco" for="field_esforco">Esforco</label>
            <input type="number" class="form-control" name="esforco" id="field_esforco"
                [(ngModel)]="esforcoFase.esforco"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="abacoApp.esforcoFase.manual" for="field_manual">Manual</label>
            <select class="form-control" id="field_manual" name="manual" [(ngModel)]="esforcoFase.manual" >
                <option [ngValue]="null"></option>
                <option [ngValue]="manualOption.id === esforcoFase.manual?.id ? esforcoFase.manual : manualOption" *ngFor="let manualOption of manuals; trackBy: trackManualById">{{manualOption.nome}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="abacoApp.esforcoFase.fase" for="field_fase">Fase</label>
            <select class="form-control" id="field_fase" name="fase" [(ngModel)]="esforcoFase.fase" >
                <option [ngValue]="null"></option>
                <option [ngValue]="faseOption.id === esforcoFase.fase?.id ? esforcoFase.fase : faseOption" *ngFor="let faseOption of fases; trackBy: trackFaseById">{{faseOption.nome}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
