<div class="ui-g ui-fluid">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<h1>{{ user.id ? this.getLabel('Cadastros.Usuarios.EditarUsuario') : this.getLabel('Cadastros.Usuarios.CadastrarUsuario') }}</h1>
			<form name="editForm" role="form" novalidate (ngSubmit)="save(editForm)" #editForm="ngForm">
				<div class="ui-g">

					<div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px">
                        <span class="md-inputfield">
                            <input
                                    type="text"
                                    name="firstNameUser"
                                    #firstNameUser='ngModel'
                                    maxlength="50"
                                    [(ngModel)]="user.firstName"
                                    pInputText required/>
                            <label translate="Cadastros.Usuarios.PrimeiroNome*">Primeiro Nome *</label>
                            <div *ngIf="editForm.controls['firstNameUser']
                              && !editForm.controls['firstNameUser'].valid
                              && (editForm.controls['firstNameUser'].touched
                              || editForm.submitted)"
                               class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                        </span>
					</div>
					<div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px">
                        <span class="md-inputfield">
                            <input
                                    type="text"
                                    name="lastNameUser"
                                    maxlength="50"
                                    #lastNameUser='ngModel'
                                    [(ngModel)]="user.lastName"
                                    pInputText required/>
                            <label translate="Cadastros.Usuarios.UltimoNome*">Último Nome *</label>
                            <div *ngIf="editForm.controls['lastNameUser']
                            && !editForm.controls['lastNameUser'].valid
                            && (editForm.controls['lastNameUser'].touched
                            || editForm.submitted)"
                                 class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px">
                        <span class="md-inputfield">
                            <input
                                    [disabled]="this.desabilitado()"
                                    type="text"
                                    name="loginUser"
                                    maxlength="99"
                                    [(ngModel)]="user.login"
                                    #loginUser='ngModel'
                                    pInputText required/>
                            <label translate="Cadastros.Usuarios.Login*">Login *</label>
                            <div *ngIf="editForm.controls['loginUser']
                                    && !this.desabilitado()
                                    && !editForm.controls['loginUser'].valid
                                    && (editForm.controls['loginUser'].touched
                                    || editForm.submitted)"
                                    class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                            </span>
                                    </div>

                                    <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px">
                            <span class="md-inputfield">
                            <input type="email"
                                    name="email"
                                    [(ngModel)]="user.email"
                                    pInputText
                                    maxlength="100"
                                    #email='ngModel'
                                    required email/>
                            <label translate="Cadastros.Usuarios.Email*">E-mail *</label>
                            <div *ngIf="editForm.controls['email']
                                    && !editForm.controls['email'].valid
                                    && this.user.email
                                    && (editForm.controls['email'].touched
                                    || editForm.submitted)"
                                    class="ui-message ui-messages-error" translate="Cadastros.Usuarios.EmailInvalido">
                                    Email Inválido
                            </div>
                            <div *ngIf="editForm.controls['email']
                                && !this.desabilitado()
                                && !editForm.controls['email'].valid
                                && !this.user.email
                                && (editForm.controls['email'].touched
                                || editForm.submitted)"
                                class="ui-message ui-messages-error" translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px">
						<div class="ui-g">
							<div class="ui-g-12 ui-md-4">
								<label translate="Cadastros.Usuarios.Ativo">Ativo</label>
							</div>
							<div class="ui-g-12 ui-md-4">
								<p-radioButton name="user_ativo"
								               [disabled]="this.desabilitado()"
								               [value]="true"
								               [label]="this.getLabel('Global.Botoes.Sim')"
								               [(ngModel)]="user.activated">
								</p-radioButton>
							</div>
							<div class="ui-g-12 ui-md-4">
								<p-radioButton name="user_ativo"
								               [disabled]="this.desabilitado()"
								               [value]="false"
								               [label]="this.getLabel('Global.Botoes.Nao')"
								               [(ngModel)]="user.activated">
								</p-radioButton>
							</div>
						</div>
					</div>
                    <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px">
                        <span>
                            <h3 class="first" translate="Cadastros.Usuarios.Perfil*">Perfil *</h3>
                            <p-multiSelect
                                    [disabled]="this.desabilitado()"
                                    name="authoritiesMultiselect"
                                    [defaultLabel]="this.getLabel('Cadastros.Usuarios.SelecionePerfil')"
                                    [options]="authorities"
                                    [(ngModel)]="user.authorities"
                                    dataKey="artificialId"
                                    optionLabel="description"
                                    selectedItemsLabel="{0} perfis selecionados"
                                    #authoritiesMultiselect='ngModel'
                                    required>
                            </p-multiSelect>
                            <div *ngIf="editForm.controls['authoritiesMultiselect']
                                && !this.desabilitado()
                                && !editForm.controls['authoritiesMultiselect'].valid
                                && (editForm.controls['authoritiesMultiselect'].touched
                                || editForm.submitted)">
                                <span style="color: red" translate="Global.Mensagens.CampoObrigatorio">Campo obrigatório.</span>
                            </div>
                        </span>
                    </div>
					<div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px">
                        <span>
                            <h3 class="first" translate="Cadastros.Usuarios.Organizacao*">Organização *</h3>
                            <p-multiSelect
                                    (onChange)="setOrganizacao($event.value)"
                                    [disabled]="this.desabilitado()"
                                    name="organizacoesMultiSelect"
                                    [options]="organizacoes"
                                    [(ngModel)]="user.organizacoes"
                                    dataKey="id"
                                    [defaultLabel]="this.getLabel('Cadastros.Usuarios.SelecioneOrganizacao')"
                                    optionLabel="nome"
                                    selectedItemsLabel="{0} organizações selecionadas"
                                    #organizacoesMultiSelect='ngModel'
                                    required>
                            </p-multiSelect>
                            <div *ngIf="editForm.controls['organizacoesMultiSelect']
                                && !this.desabilitado()
                                && !editForm.controls['organizacoesMultiSelect'].valid
                                && (editForm.controls['organizacoesMultiSelect'].touched
                                || editForm.submitted)">
                                <span style="color: red" translate="Global.Mensagens.CampoObrigatorio">Campo obrigatório.</span>
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 25px">
                        <span>
                            <h3 class="first" translate="Cadastros.Usuarios.Equipe*">Equipe *</h3>
                            <p-multiSelect
                                    [disabled]="this.disableEquipeDropdown()"
                                    name="equipesMultiSelect"
                                    [(options)]="tipoEquipes"
                                    [(ngModel)]="user.tipoEquipes"
                                    dataKey="id"
                                    [defaultLabel]="this.getLabel('Cadastros.Usuarios.SelecioneEquipe')"
                                    optionLabel="nome"
                                    selectedItemsLabel="{0} equipes selecionadas"
                                    #equipesMultiSelect='ngModel'
                                    required>
                            </p-multiSelect>
                            <div *ngIf="editForm.controls['equipesMultiSelect']
                                    && !this.desabilitado() && !this.disableEquipeDropdown()
                                    && !editForm.controls['equipesMultiSelect'].valid
                                    && (editForm.controls['equipesMultiSelect'].touched
                                    || editForm.submitted)">
                                <span style="color: red" translate="Global.Mensagens.CampoObrigatorio">Campo obrigatório.</span>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="justify-content: center; margin-top: 25px;">
                    <div class="ui-g-2 ui-md-2 ui-sm-12" *ngIf="this.isAdmin">
                        <app-white-button [buttonLabel]="this.getLabel('Global.Botoes.Cancelar')"
                                          routerLink="/admin/user"></app-white-button>
                    </div>
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-submit-button [buttonLabel]="this.getLabel('Global.Botoes.Salvar')"
                                           [disabled]="editForm.form.invalid || isSaving"></app-submit-button>
                    </div>
                </div>
			</form>
		</div>
	</div>
</div>
