<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ user.id ? 'Editar Usuário' : 'Cadastrar Usuário' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g">
          <div class="ui-g-4" style="margin-bottom: 25px">
            <span class="md-inputfield" >
              <input id="firstName" type="text" name="firstNameUser" maxlength="254" [(ngModel)]="user.firstName" pInputText required/>
              <label>Primeiro Nome</label>
            </span>
          </div>
          <div class="ui-g-4" style="margin-bottom: 25px">
            <span class="md-inputfield" >
              <input id="lastName" type="text" name="lastNameUser" maxlength="254" [(ngModel)]="user.lastName" pInputText required/>
              <label>Último Nome</label>
            </span>
          </div>
          <div class="ui-g-4" style="margin-bottom: 25px">
            <span class="md-inputfield">
              <input id="login" type="text" name="loginUser" maxlength="99" [(ngModel)]="user.login" pInputText required/>
              <label>Login</label>
            </span>
          </div>
          <div class="ui-g-4" style="margin-bottom: 25px">
            <span class="md-inputfield">
              <input type="text" name="email" [(ngModel)]="user.email" pInputText/>
              <label>Email</label>
            </span>
          </div>
          <div class="ui-g-12" style="margin-bottom: 25px">
            <div class="ui-g">
              <div class="ui-g-12 ui-md-1">
                <label>Ativo</label>
              </div>
              <div class="ui-g-12 ui-md-1">
                <p-radioButton name="user_ativo" [value]="true" label="Sim"
                  [(ngModel)]="user.activated"></p-radioButton>
              </div>
              <div class="ui-g-12 ui-md-1">
                <p-radioButton name="user_ativo" [value]="false" label="Não"
                  [(ngModel)]="user.activated"></p-radioButton>
              </div>
            </div>
          </div>

          <div class="ui-g-6" style="margin-bottom: 25px">
            <h3 class="first">Perfil</h3>
            <p-multiSelect name="authoritiesMultiselect2"
              defaultLabel="Selecione ao menos um perfil"
              [options]="authorities"
              [(ngModel)]="user.authorities"
              dataKey="artificialId"
              optionLabel="name"
              selectedItemsLabel="{0} perfis selecionados"></p-multiSelect>

          </div>

          <div class="ui-g-6" style="margin-bottom: 25px">
            <h3 class="first">Organização</h3>
            <p-multiSelect name="organizacoesMultiSelect" [options]="organizacoes"
              [(ngModel)]="user.organizacoes" dataKey="id"
              defaultLabel="Selecione ao menos uma organização" optionLabel="nome"
              selectedItemsLabel="{0} organizações selecionadas">
            </p-multiSelect>
          </div>

        <div class="ui-g-6" style="margin-bottom: 25px">
          <h3 class="first">Equipe</h3>
          <p-multiSelect name="equipesMultiSelect" [options]="tipoEquipes"
            [(ngModel)]="user.tipoEquipes" dataKey="id"
            defaultLabel="Selecione ao menos uma equipe" optionLabel="nome"
            selectedItemsLabel="{0} equipes selecionadas">
          </p-multiSelect>
        </div>

      </div>

        <div class="ui-g" style="justify-content: center; margin-top: 25px;">
          <div class="ui-g-2">
            <app-white-button buttonLabel="Cancelar" routerLink="/admin/user"></app-white-button>
            <!-- <button pButton type="button" label="Cancelar" routerLink="/admin/user"></button> -->
          </div>
          <div class="ui-g-2">
            <app-submit-button buttonLabel="Salvar" [disabled]="editForm.form.invalid || isSaving"></app-submit-button>
            <!-- <button pButton type="submit" label="Salvar" [disabled]="editForm.form.invalid || isSaving" ></button> -->
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
