
<div *ngIf="funcionalidade">
    <h2><span jhiTranslate="abacoApp.funcionalidade.detail.title">Funcionalidade</span> {{funcionalidade.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="abacoApp.funcionalidade.nome">Nome</span></dt>
        <dd>
            <span>{{funcionalidade.nome}}</span>
        </dd>
        <dt><span jhiTranslate="abacoApp.funcionalidade.modulo">Modulo</span></dt>
        <dd>
            <div *ngIf="funcionalidade.modulo">
                <a [routerLink]="['/modulo', funcionalidade.modulo?.id]">{{funcionalidade.modulo?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="abacoApp.funcionalidade.funcaoDados">Funcao Dados</span></dt>
        <dd>
            <div *ngIf="funcionalidade.funcaoDados">
                <a [routerLink]="['/funcao-dados', funcionalidade.funcaoDados?.id]">{{funcionalidade.funcaoDados?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="abacoApp.funcionalidade.funcaoTransacao">Funcao Transacao</span></dt>
        <dd>
            <div *ngIf="funcionalidade.funcaoTransacao">
                <a [routerLink]="['/funcao-transacao', funcionalidade.funcaoTransacao?.id]">{{funcionalidade.funcaoTransacao?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'funcionalidade/'+ funcionalidade.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
