

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFuncionalidadeLabel" jhiTranslate="abacoApp.funcionalidade.home.createOrEditLabel">Create or edit a Funcionalidade</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!funcionalidade.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="funcionalidade.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="abacoApp.funcionalidade.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                [(ngModel)]="funcionalidade.nome"
            required />
            <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="abacoApp.funcionalidade.modulo" for="field_modulo">Modulo</label>
            <select class="form-control" id="field_modulo" name="modulo" [(ngModel)]="funcionalidade.modulo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="moduloOption.id === funcionalidade.modulo?.id ? funcionalidade.modulo : moduloOption" *ngFor="let moduloOption of modulos; trackBy: trackModuloById">{{moduloOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="abacoApp.funcionalidade.funcaoDados" for="field_funcaoDados">Funcao Dados</label>
            <select class="form-control" id="field_funcaoDados" name="funcaoDados" [(ngModel)]="funcionalidade.funcaoDados" >
                <option [ngValue]="null"></option>
                <option [ngValue]="funcaoDadosOption.id === funcionalidade.funcaoDados?.id ? funcionalidade.funcaoDados : funcaoDadosOption" *ngFor="let funcaoDadosOption of funcaodados; trackBy: trackFuncaoDadosById">{{funcaoDadosOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="abacoApp.funcionalidade.funcaoTransacao" for="field_funcaoTransacao">Funcao Transacao</label>
            <select class="form-control" id="field_funcaoTransacao" name="funcaoTransacao" [(ngModel)]="funcionalidade.funcaoTransacao" >
                <option [ngValue]="null"></option>
                <option [ngValue]="funcaoTransacaoOption.id === funcionalidade.funcaoTransacao?.id ? funcionalidade.funcaoTransacao : funcaoTransacaoOption" *ngFor="let funcaoTransacaoOption of funcaotransacaos; trackBy: trackFuncaoTransacaoById">{{funcaoTransacaoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
