<div class="ui-g">

  <div class="ui-g-12 ui-md-12 ui-sm-12">
    <p-chips 
      id="chips"
      [(ngModel)]="values"
      addOnTab="true"
      addOnBlur="true"
      (onAdd)="onAddValue($event.value)"
      (onRemove)="onRemove($event.value)">

      <ng-template let-item pTemplate="item">
        <span
          class="ui-chips-token-label ng-star-inserted"
          (dblclick)="doubleClickChip(item)">
          {{ item.text }}
        </span>
      </ng-template>
    </p-chips>

    <div *ngIf="tamanhoChip"
          class="ui-message ui-messages-error">
          Limite de caracteres excedido (255)
    </div>
    
  </div>

  <div class="ui-g-3 ui-md-3 ui-sm-12" *ngIf="relacionarDers">
    <app-analise-referenciador-ar
      (funcaoDadosReferenciadaEvent)="funcaoDadosReferenciada($event)"
      (dersReferenciadosEvent)="dersReferenciados($event)">
    </app-analise-referenciador-ar>
  </div>

  <div class="ui-g-3 ui-md-3 ui-sm-12">
    <button 
      pButton 
      type="button"
      id="idBtnAdicionarMultiplosComponentDerChips"
      class="blue-btn flat ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
      label="Adicionar Múltiplos"
      (click)="abrirDialogAddMultiplos()">
    </button>
  </div>

  <div class="ui-g-3 ui-md-3 ui-sm-12">
    <button 
      pButton 
      type="button"
      id="idBtnLimparMultiplosComponentDerChips"
      label="Limpar"
      (click)="limparMultiplos()">
    </button>
  </div>

  <div class="ui-g-12 ui-md-12 ui-sm-12">
    <span>
      {{ showTotal() }}
    </span>
  </div>
  
  <div class="ui-g-12 ui-md-12 ui-sm-12" *ngIf="deveMostrarDuplicatas()">
    <span >
      Valores duplicados: {{ duplicatesResult.duplicatasFormatadas() }}
    </span>
  </div>

</div>

<p-dialog 
  header="Adicionar múltiplos"
  [(visible)]="mostrarDialogAddMultiplos"
  id="idAdicionarMultiplosComponentDerChips"
  [contentStyle]="{'overflow': 'visible'}"
  [width]="800">

  <div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-sm-12" style="margin-bottom: 25px">
      <app-analise-der-text 
        [(value)]="addMultiplosTexto"
        id="idAddMultiplosComponentDerChips">
      </app-analise-der-text>
        <div *ngIf="validaMultiplos"
          class="ui-message ui-messages-error">
            O campo possui valores duplicado!
        </div>
        <div *ngIf="validaMultiplosRegistrados"
          class="ui-message ui-messages-error">
            Registro já cadastrado!
        </div>
    </div>

    <div class="ui-g ui-md-12" style="justify-content: flex-end">
      <div class="ui-g-2 ui-md-2 ui-sm-2">
        <button
          pButton
          type="button"
          id="idBtnCancelarComponentDerChips"
          class=" abaco-white-btn flat ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
          label="Cancelar" 
          (click)="fecharDialogAddMultiplos()">
        </button>
      </div>

      <div class="ui-g-2 ui-md-2 ui-sm-2">
        <button
          pButton
          type="button"
          id="idBtnAdicionarComponentDerChips"
          class="green-btn flat ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
          label="Adicionar"
          (click)="adicionarMultiplos()">
        </button>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Editar"
  [(visible)]="mostrarDialogEdicao"
  [contentStyle]="{'overflow': 'visible'}" 
  [width]="800">

  <div class="ui-g">

    <textarea 
      pInputTextarea
      [(ngModel)]="textoEdicao"
      id="idTextoEdicaoComponentDerChips"
      style="white-space: nowrap; overflow: auto;"
      [rows]="1" 
      [cols]="180">
    </textarea>
    
    <div class="ui-g ui-md-12" style="justify-content: flex-end">
      <div class="ui-g-2 ui-md-2 ui-sm-12">
        <button 
          pButton 
          type="button"
          id="idBtnCancelarDialogComponentDerChips"
          class=" abaco-white-btn flat ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
          label="Cancelar" 
          (click)="fecharDialogEdicao()">
        </button>
      </div>

      <div class="ui-g-2 ui-md-2 ui-sm-12">
        <button
          pButton
          type="button"
          class="green-btn flat ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
          label="Editar"
          id="idBtnEditarComponentDerChips" 
          (click)="editarChip()">
        </button>
      </div>
    </div>

  </div>

</p-dialog>