<div class="ui-g">
  <div class="ui-g-10">
    <p-chips 
      id="chips"
      [(ngModel)]="values"
      field="text"
      addOnTab="true"
      addOnBlur="true"
      (onAdd)="onAddValue($event.value)"
      (onRemove)="onRemove($event.value)">
    </p-chips>
  </div>

  <div class="ui-g-2">
    <button pButton type="button"
      class="blue-btn flat ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
      label="Adicionar múltiplos"
      (click)="abrirDialogAddMultiplos()">
    </button>
  </div>

  <div class="ui-g-12">
    <span>
      {{ showTotal() }}
    </span>
  </div>
  <div class="ui-g-12" *ngIf="deveMostrarDuplicatas()">
    <span >
      Valores duplicados: {{ duplicatesResult.duplicatasFormatadas() }}
    </span>
  </div>

</div>

<p-dialog header="Adicionar múltiplos" [(visible)]="mostrarDialogAddMultiplos"
  [contentStyle]="{'overflow': 'visible'}" [width]="800">
  <div class="ui-g">
    <div class="ui-g-12" style="margin-bottom: 25px">
      <app-analise-der-text [(value)]="addMultiplosTexto"></app-analise-der-text>
    </div>

    <div class="ui-g ui-md-12" style="justify-content: flex-end">
      <div class="ui-g-2">
        <button pButton type="button"
          class=" abaco-white-btn flat ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
          label="Cancelar" (click)="fecharDialogAddMultiplos()">
        </button>
      </div>
      <div class="ui-g-2">
        <button pButton type="button"
          class="green-btn flat ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
          label="Adicionar" (click)="adicionarMultiplos()">
        </button>
      </div>
    </div>
  </div>
</p-dialog>