<div class="ui-g">
  <div class="ui-g-12">
    <p-chips 
      [(ngModel)]="values"
      field="text"
      addOnTab="true"
      addOnBlur="true"
      (onAdd)="onAddValue($event.value)"
      (onRemove)="onRemove($event.value)">
    </p-chips>
  </div>

  <div class="ui-g-12">
    <span>
      {{ showTotal() }}
    </span>
  </div>
  <div class="ui-g-12" *ngIf="deveMostrarDuplicatas()">
    <span >
      Valores duplicados: {{ duplicatesResult.duplicatasFormatadas() }}
    </span>
  </div>

</div>