<div class="ui-g ui-fluid" *ngIf="modulo">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1 translate="Cadastros.Modulo.VisualizarModulo">Visualizar Modulo</h1>
      <div class="ui-g">
        <div class="ui-g-6">
          <span class="md-inputfield">
            <input type="text" class="ui-inputtext" name="id" pInputText [(ngModel)]="modulo.id" readonly/>
            <label translate="Cadastros.Modulo.ID">ID</label>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="md-inputfield">
            <input type="text" name="nome" pInputText [ngModel]="modulo.nome" readonly/>
            <label translate="Cadastros.Modulo.Nome">Nome</label>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="md-inputfield">
            <input type="text" name="sistema" pInputText [ngModel]="modulo.sistema.id" readonly/>
            <label translate="Cadastros.Modulo.Sistema">Sistema</label>
          </span>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-2">
          <button pButton type="button" [label]="this.getLabel('Voltar')" routerLink="/modulo"></button>
        </div>
      </div>
    </div>
  </div>
</div>