<h1 style="text-align: center; font-weight: 500; margin-bottom: 3%">Modelos Treinados</h1>

<div class="ui-g-12 ui-md-12" style="margin-left:4%">
    <div class="ui-g-11 ui-md-11">
        <p-table #dt [value] = "modelosTreinadosView" dataKey="id"
            [rows]="5" [showCurrentPageReport]="false" [rowsPerPageOptions]="[5,10,25,50]" [(selection)]="modelSelect"  selectionMode="single"
            [paginator]="true" >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="dataTreinamento">Data Treinamento <p-sortIcon field="dataTreinamento"></p-sortIcon></th>
                    <th pSortableColumn="totalLoss"> Total Loss <p-sortIcon field="totalLoss"></p-sortIcon></th>
                    <th pSortableColumn="stepsTreinamento">Steps Treinamento <p-sortIcon field="stepsTreinamento"></p-sortIcon></th>
                    <th pSortableColumn="uuid">UUID<p-sortIcon field="uuid"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-modelo>
                <tr [pSelectableRow] = modelo >
                    <td >
                        <p class ="style-td" >{{ modelo.dataTreinamento | date: 'dd/MM/yy - HH:mm:ss'}}</p>
                    </td>
                    <td>
                        <p class ="style-td">{{ modelo.totalLoss }}</p>
                    </td>
                    <td>
                        <p class ="style-td">{{ modelo.stepsTreinamento }}</p>
                    </td>
                    <td>
                        <p class ="style-td">{{ modelo.uuid }}</p>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="ui-g-1 ui-md-1">
        <div class="buttonVizuModel">
            <p-button icon="pi pi-search" (click) = "vizualizarModelo(modelSelect)" ></p-button>
        </div>
    </div>
</div>
