/* You can add global styles to this file, and also import other style files */
body .ui-messages.ui-messages-error {
  display: none !important;
}

body .ui-messages.ui-messages-success {
  display: none !important;
}

#chips .ui-chips-input-token {
  width: 100%;
}

#chips .ui-chips-input-token input {
  width: 100%;
}

span.ui-chips-token-label.ng-star-inserted {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

li.ui-chips-token.ui-state-highlight.ui-corner-all.ng-star-inserted {
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 2px;
}

.abaco-white-btn {
  background-color: #fff !important;
  color: #373a3c !important;
  border: solid;
  border-width: thin;
  border-color: #ccc;
}

.abaco-white-btn:hover{
  background-color: #f2f2f2 !important;
  color: #373a3c !important;
  border: solid;
  border-width: thin;
  border-color: #ccc;
}

.side-button {
  margin-bottom: 10%;
}

.dynamic-table-container {
  display: inline-flex;
}

.btn-table > *  {
  margin: 6px;
  display: grid;
}

.table-container {
  width: 100%;
  margin: 5px;
}

.table-next-containter {
  margin: 6px;
  display: inline-block;
}

.form-fields-container {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 6px;;
}

.form-buttons-container {
  justify-content: center;
  margin-bottom: 10px;
}

