/* You can add global styles to this file, and also import other style files */
body .ui-messages.ui-messages-error {
  display: none !important;
}

body .ui-messages.ui-messages-success {
  display: none !important;
}

#chips .ui-chips-input-token {
  width: 100%;
}

#chips .ui-chips-input-token input {
  width: 100%;
}