<div class="ui-g ui-fluid">

  <div class="ui-g-12">

    <div class="card card-w-title">

      <h1>Sistemas</h1>
      <div class="ui-g">

        <div class="ui-g-4">
          <span class="md-inputfield">
            <input 
              type="text" 
              pInputText class="ui-inputtext" 
              [(ngModel)]="searchParams.sigla"
              (keyup.enter)="performSearch()"
              #filter />
            <label>Sigla</label>
          </span>
        </div>

        <div class="ui-g-4">
          <span class="md-inputfield">
            <input 
              type="text" 
              pInputText class="ui-inputtext" 
              [(ngModel)]="searchParams.nomeSistema"
              (keyup.enter)="performSearch()"
              #filter />
            <label>Nome do Sistema</label>
          </span>
        </div>

        <div class="ui-g-4">
          <span class="md-inputfield">
            <!-- <input type="text" pInputText class="ui-inputtext" [(ngModel)]="elasticQuery.value"
              (keyup.enter)="datatable.refresh(elasticQuery.query)"
              #filter /> -->
              <p-dropdown 
                [options]="organizations" 
                [(ngModel)]="searchParams.organizacao" 
                dataKey="nome" 
                optionLabel="nome" 
                [autoWidth]="false" 
                placeholder="Organização">
              </p-dropdown>
          </span>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g ui-md-12" style="justify-content: center">
          <div class="ui-md-2">
            <app-white-button 
              buttonLabel="Limpar Pesquisa" 
              buttonIcon="ui-icon-clear-all" 
              (click)="limparPesquisa()">
            </app-white-button>
          </div>

          <div class="ui-md-2">
            <app-blue-button 
              buttonLabel="Pesquisar" 
              buttonIcon="ui-icon-search" 
              (click)="performSearch()">
            </app-blue-button>
          </div>

          <div class="ui-md-2">
            <app-green-button 
              buttonLabel="Novo Sistema" 
              routerLink="/sistema/new" 
              buttonIcon="ui-icon-add">
            </app-green-button>
          </div>
        </div>

        <basis-datatable [url]="searchUrl"
          (buttonClick)="datatableClick($event)" #datatable>
          <p-column header="Sigla" field="sigla" [sortable]="true"></p-column>
          <p-column header="Nome" field="nome" [sortable]="true"></p-column>
          <p-column header="Número da Ocorrência" field="numeroOcorrencia" [sortable]="true"></p-column>
          <p-column header="Organização" field="organizacao.nome" [sortable]="true"></p-column>
        </basis-datatable>
        
      </div>

    </div>

  </div>

</div>

<p-confirmDialog header="Confirmação" #dialog>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="Não" (click)="dialog.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Sim" (click)="dialog.accept()"></button>
  </p-footer>
</p-confirmDialog>
