<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ sistema.id ? 'Editar Sistema' : 'Cadastrar Sistema' }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm"
        (keydown.enter)="$event.preventDefault()">
        <div class="ui-g">         
          <div class="ui-g-2" style="margin-bottom: 25px">
            <span class="md-inputfield">
              <input type="text" name="siglaSistema" [(ngModel)]="sistema.sigla" pInputText/>
              <label>Sigla</label>
            </span>
          </div>
          <div class="ui-g-10" style="margin-bottom: 25px">
            <span class="md-inputfield">
              <input type="text" name="nomeSistema" [(ngModel)]="sistema.nome" pInputText/>
              <label>Nome do Sistema</label>
            </span>
          </div>
          <div class="ui-g-4" style="margin-bottom: 25px">
            <span class="md-inputfield">
              <input type="text" name="numeroOcorrenciaSistema" [(ngModel)]="sistema.numeroOcorrencia" pInputText/>
              <label>Número da Ocorrência</label>
            </span>
          </div>
          <div class="ui-g-8" style="margin-bottom: 25px">
            <p-dropdown [options]="organizacaos" optionLabel="nome" placeholder="Organização"
              name="organizacao" [(ngModel)]="sistema.organizacao" [autoWidth]="false" dataKey="id"></p-dropdown>
          </div>
        </div>

        <div class="ui-g">
          <h4 style="margin-bottom: 0px; margin-top: 0px;">
            Módulos
          </h4>

          <div class="ui-g ui-md-12" style="justify-content: flex-end">
            <div class="ui-md-3">
              <button pButton type="button" label="Novo Módulo" icon="ui-icon-add"
                (click)="abrirDialogModulo()"></button>
            </div>
          </div>

          <!-- Datatable modulos -->        
          <app-memory-datatable [value]="sistema.modulos"
            [editEventName]="editModuloEventName"
            [deleteEventName]="deleteModuloEventName"
            (buttonClick)="datatableClick($event)">
            <p-column header="Código"
              [style]="{width: '25%'}">
              <ng-template let-codigo="rowData.id" pTemplate="body">
                {{ codigo ? codigo : 'Ainda não cadastrado' }}
              </ng-template>
            </p-column>
            <p-column header="Nome" field="nome"></p-column>
          </app-memory-datatable>

        </div>

        <div class="ui-g">
          <h4 style="margin-bottom: 0px;">
            Funcionalidades
          </h4>

          <div class="ui-g ui-md-12" style="justify-content: flex-end">
            <div class="ui-md-3">
              <button pButton type="button" label="Nova Funcionalidade"
                icon="ui-icon-add" (click)="abrirDialogFuncionalidade()"
                [disabled]="!sistema.modulos || sistema.modulos.length == 0">
              </button>
            </div>
          </div>

          <p-dataTable [value]="sistema.funcionalidades"
            [immutable]="false" #funcionalidadesDataTable>
            <p-column header="Módulo" field="modulo.nome"></p-column>
            <p-column header="Nome" field="nome"></p-column>
          </p-dataTable>
        </div>

        <div class="ui-g" style="justify-content: center; margin-top: 25px;">
          <div class="ui-g-2">
            <button pButton type="button" label="Cancelar" routerLink="/sistema"></button>
          </div>
          <div class="ui-g-2">
            <button pButton type="submit" label="Salvar" [disabled]="editForm.form.invalid || isSaving" ></button>
          </div>
        </div>

        <!-- Dialog módulo -->
        <p-dialog header="Módulo" [(visible)]="mostrarDialogModulo"
          [contentStyle]="{'overflow':'visible'}" [width]="800">
          <div class="ui-g">
            <div class="ui-g-12" style="margin-bottom: 25px">
              <span class="md-inputfield">
                <input type="text" name="nomeModulo" [(ngModel)]="novoModulo.nome"
                  pInputText (keydown.enter)="adicionarModulo()"/>
                <label>Nome do Módulo</label>
              </span>
            </div>
          </div>

          <div class="ui-g ui-md-12" style="justify-content: flex-end">
            <div class="ui-g-2">
              <button pButton type="button" label="Cancelar"
                (click)="fecharDialogModulo()"></button>
            </div>
            <div class="ui-g-2">
              <button pButton type="button" label="Salvar" 
                (click)="adicionarModulo()"></button>
            </div>
          </div>
        </p-dialog>

        <!-- Dialog Editar módulo -->
        <p-dialog header="Editar Módulo" [(visible)]="mostrarDialogEditarModulo"
          [contentStyle]="{'overflow':'visible'}" [width]="800">
          <div class="ui-g">
            <div class="ui-g-12" style="margin-bottom: 25px">
              <span class="md-inputfield">
                <input type="text" name="nomeModulo" [(ngModel)]="moduloEmEdicao.nome"
                  pInputText (keydown.enter)="editarModulo()"/>
                <label>Nome do Módulo</label>
              </span>
            </div>
          </div>

          <div class="ui-g ui-md-12" style="justify-content: flex-end">
            <div class="ui-g-2">
              <button pButton type="button" label="Cancelar"
                (click)="fecharDialogEditarModulo()"></button>
            </div>
            <div class="ui-g-2">
              <button pButton type="button" label="Salvar" 
                (click)="editarModulo()"></button>
            </div>
          </div>
        </p-dialog>

        <!-- Dialog confirmação deleção -->
        <p-confirmDialog header="Confirmação" #dialog>
          <p-footer>
            <button type="button" pButton icon="fa-close" label="Não" (click)="dialog.reject()"></button>
            <button type="button" pButton icon="fa-check" label="Sim" (click)="dialog.accept()"></button>
          </p-footer>
        </p-confirmDialog>

        <!-- Dialog funcionalidade -->
        <p-dialog header="Funcionalidade" [(visible)]="mostrarDialogFuncionalidade"
          [contentStyle]="{'overflow':'visible'}" [width]="800">
          <div class="ui-g">
            <div class="ui-g-12" style="margin-bottom: 25px">
              <span class="md-inputfield">
                <input type="text" name="nomeFuncionalidade" 
                  [(ngModel)]="novaFuncionalidade.nome" pInputText />
                <label>Nome da Funcionalidade</label>
              </span>
            </div>
            <div class="ui-g-12" style="margin-bottom: 25px">
              <p-dropdown [options]="sistema.modulos" optionLabel="nome" 
                placeholder="Módulo" name="funcionalidadeModulo"
                [(ngModel)]="novaFuncionalidade.modulo" [autoWidth]="false" 
                dataKey="id">
              </p-dropdown>
            </div>
          </div>

          <div class="ui-g ui-md-12" style="justify-content: flex-end">
            <div class="ui-g-2">
              <button pButton type="button" label="Cancelar"
                (click)="fecharDialogFuncionalidade()"></button>
            </div>
            <div class="ui-g-2">
              <button pButton type="button" label="Salvar" 
                (click)="adicionarFuncionalidade()"></button>
            </div>
          </div>
        </p-dialog>

      </form>
    </div>
  </div>
</div>