<div class="ui-g ui-fluid">

  <div class="ui-g-12 ui-md-12 ui-sm-12">

    <div class="card card-w-title">

      <h1 translate="Cadastros.Sistema.Sistemas">Sistemas</h1>
      <div class="ui-g">

        <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 5px">
          <span class="md-inputfield">
            <input
              type="text"
              (click)= "switchUrlSigla()"
              pInputText class="ui-inputtext"
              [(ngModel)]="searchParams.sigla"
              id="idSiglaComponentSistema"
              (keyup.enter)="performSearch()"
              maxlength="20"
              #filter />
            <label translate="Cadastros.Sistema.Sigla">Sigla</label>
          </span>
        </div>

        <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 5px">
          <span class="md-inputfield">
            <input
              type="text"
              (click)= "switchUrlNomeSistema()"
              pInputText class="ui-inputtext"
              id="idNomeSistemaComponentSistema"
              [(ngModel)]="searchParams.nomeSistema"
              (keyup.enter)="performSearch()"
              maxlength="100"
              #filter />
            <label translate="Cadastros.Sistema.NomeSistema">Nome do Sistema</label>
          </span>
        </div>

        <div class="ui-g-4 ui-md-4 ui-sm-12">
          <p-dropdown
            [filter]="true"
            (click)="switchUrlOrganizacao()"
            [options]="organizations"
            id="idOrganizacaoComponentSistema"
            optionLabel="nome"
            [(ngModel)]="searchParams.organizacao"
            [autoWidth]="false"
            [placeholder]="getLabel('Cadastros.Sistema.Organizacao')">
          </p-dropdown>
        </div>

      </div>

      <div class="ui-g">
        <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 25px; margin-top: 25px">
          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-white-button
            [buttonLabel]="this.getLabel('Global.Botoes.LimparPesquisa')"
              id="idBtnLimparPesquisaComponentSistema"
              buttonIcon="ui-icon-clear-all"
              (click)="limparPesquisa()">
            </app-white-button>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-blue-button
              [buttonLabel]="this.getLabel('Global.Botoes.Pesquisar')"
              id="idBtnPesquisarComponentSistema"
              buttonIcon="ui-icon-search"
              (click)="performSearch()">
            </app-blue-button>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-green-button
              [buttonLabel]="this.getLabel('Global.Botoes.Novo')"
              id="idBtnNovoComponentSistema"
              routerLink="/sistema/new"
              buttonIcon="ui-icon-add">
            </app-green-button>
          </div>
        </div>

        <basis-datatable
          [url]="searchUrl"
          (dblclick)="onRowDblclick($event)"
          (buttonClick)="datatableClick($event)"
          id="idTabelaComponentSistema"
          [rows]="20"
          [rowsPerPageOptions]="rowsPerPageOptions"
          [showPaginationFooter]="true"
          #datatable>
          <p-column [header]="getLabel('Cadastros.Sistema.Sigla')" field="sigla" [sortable]="true"></p-column>
          <p-column [header]="getLabel('Cadastros.Sistema.Nome')" field="nome" [sortable]="true"></p-column>
          <p-column [header]="getLabel('Cadastros.Sistema.NumeroOcorrencia')" field="numeroOcorrencia" [sortable]="true"></p-column>
          <p-column [header]="getLabel('Cadastros.Sistema.Organizacao')" field="organizacao.nome" [sortable]="true"></p-column>
        </basis-datatable>

        <div class="ui-g-12 ui-md-2">
          <app-botoes-exportacao [query]="elasticQuery.value" resourceName="sistema" fileName="sistema" id="idBtnExportacaoComponentSistema">
          </app-botoes-exportacao>
        </div>

      </div>

    </div>

  </div>

</div>

<p-confirmDialog [header]="this.getLabel('Global.Mensagens.Confirmacao')" #dialog>
  <p-footer>
    <button type="button" id="idNaoDeleteComponentSistema" pButton icon="fa-close" [label]="this.getLabel('Global.Botoes.Nao')" (click)="dialog.reject()"></button>
    <button type="button" id="idSimDeleteComponentSistema" pButton icon="fa-check" [label]="this.getLabel('Global.Botoes.Sim')" (click)="dialog.accept()"></button>
  </p-footer>
</p-confirmDialog>
