<div class="ui-g ui-fluid">

  <div class="ui-g-12 ui-md-12 ui-sm-12">

    <div class="card card-w-title">

      <h1>Sistemas</h1>
      <div class="ui-g">

        <div class="ui-g-4 ui-md-4 ui-sm-12">
          <span class="md-inputfield">
            <input 
              type="text" 
              pInputText class="ui-inputtext" 
              [(ngModel)]="searchParams.sigla"
              (keyup.enter)="performSearch()"
              #filter />
            <label>Sigla</label>
          </span>
        </div>

        <div class="ui-g-4 ui-md-4 ui-sm-12">
          <span class="md-inputfield">
            <input 
              type="text" 
              pInputText class="ui-inputtext" 
              [(ngModel)]="searchParams.nomeSistema"
              (keyup.enter)="performSearch()"
              #filter />
            <label>Nome do Sistema</label>
          </span>
        </div>

        <div class="ui-g-4 ui-md-4 ui-sm-12">
          <p-dropdown 
            [filter]="true"
            [options]="organizations" 
            optionLabel="nome" 
            [(ngModel)]="searchParams.organizacao" 
            [autoWidth]="false" 
            placeholder="Organização">
          </p-dropdown>
        </div>

      </div>

      <div class="ui-g">
        <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 25px; margin-top: 25px">
          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-white-button 
              buttonLabel="Limpar Pesquisa" 
              buttonIcon="ui-icon-clear-all" 
              (click)="limparPesquisa()">
            </app-white-button>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-blue-button 
              buttonLabel="Pesquisar" 
              buttonIcon="ui-icon-search" 
              (click)="performSearch()">
            </app-blue-button>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-green-button 
              buttonLabel="Novo" 
              routerLink="/sistema/new" 
              buttonIcon="ui-icon-add">
            </app-green-button>
          </div>
        </div>

        <basis-datatable 
          [url]="searchUrl"
          (buttonClick)="datatableClick($event)"
          [rows]="20"
          [rowsPerPageOptions]="rowsPerPageOptions"
          [showPaginationFooter]="true"
          #datatable>
          <p-column header="Sigla" field="sigla" [sortable]="true"></p-column>
          <p-column header="Nome" field="nome" [sortable]="true"></p-column>
          <p-column header="Número da Ocorrência" field="numeroOcorrencia" [sortable]="true"></p-column>
          <p-column header="Organização" field="organizacao.nome" [sortable]="true"></p-column>
        </basis-datatable>
        
        <div class="ui-g-12 ui-md-2">
          <app-botoes-exportacao resourceName="sistema" >
          </app-botoes-exportacao>
        </div>

      </div>

    </div>

  </div>

</div>

<p-confirmDialog header="Confirmação" #dialog>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="Não" (click)="dialog.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Sim" (click)="dialog.accept()"></button>
  </p-footer>
</p-confirmDialog>
