<div class="ui-g ui-fluid" *ngIf="sistema">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Visualizar Sistema</h1>
      <div class="ui-g">
        <div class="ui-g-2" style="margin-bottom: 25px">
          <label>Sigla: {{ sistema.sigla }}</label>
        </div>
        <div class="ui-g-10" style="margin-bottom: 25px">
          <label>Nome do Sistema: {{ sistema.nome }}</label>
        </div>
        <div class="ui-g-4" style="margin-bottom: 25px">
          <label>Número da Ocorrência: {{ sistema.numeroOcorrencia }}</label>
        </div>
        <div class="ui-g-8" style="margin-bottom: 25px">
          <label>Organização: {{ sistema.organizacao.nome }}</label>
        </div>
      </div>

      <div class="ui-g">
        <h4 style="margin-top: 0px;">
          Módulos
        </h4>

        <p-dataTable 
          [value]="sistema.modulos"
          [immutable]="false" 
          #modulosDataTable>
          <p-column header="Código"
            [style]="{width: '25%'}" 
            field="id">
          </p-column>
          <p-column header="Nome" field="nome"></p-column>
        </p-dataTable>
      </div>

      <div class="ui-g" style="margin-bottom: 25px">
          <h4 style>Funcionalidades</h4>

          <p-dataTable 
            [value]="sistema.funcionalidades"
            [immutable]="false" 
            #funcionalidadesDataTable>
            <p-column header="Módulo" field="modulo.nome"></p-column>
            <p-column header="Nome" field="nome"></p-column>
          </p-dataTable>
      </div>

      <div class="ui-g">
        <div class="ui-g-2">
          <button 
            pButton type="button" 
            label="Voltar" 
            routerLink="/sistema">
          </button>
        </div>
      </div>
      
    </div>
  </div>
</div>
