<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ contrato.id ? this.getLabel('Cadastros.Contratos.EditarContrato') : this.getLabel('Cadastros.Contratos.CadastrarContrato') }}</h1>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="ui-g">
          <div class="ui-g-6" [hidden]="!contrato.id">
            <span class="md-inputfield">
              <input type="text" class="ui-inputtext" name="id" pInputText [(ngModel)]="contrato.id" readonly/>
              <label translate="Cadastros.Contrato.ID">ID</label>
            </span>
          </div>          
          <div class="ui-g-6">
            <span class="md-inputfield">
              <input type="text" name="numeroContrato" [(ngModel)]="contrato.numeroContrato" pInputText/>
              <label translate="Cadastros.Contrato.NumeroContrato">Número Contrato</label>
            </span>
          </div>
          <div class="ui-g-6">
            <span class="md-inputfield">
              <p-calendar name="dataInicioVigencia" [(ngModel)]="contrato.dataInicioVigencia" dateFormat="dd/mm/yy"></p-calendar>
              <label translate="Cadastros.Contrato.DataInicioVigencia">Data Início Vigência</label>
            </span>
          </div>
          <div class="ui-g-6">
            <span class="md-inputfield">
              <p-calendar name="dataFimVigencia" [(ngModel)]="contrato.dataFimVigencia" dateFormat="dd/mm/yy"></p-calendar>
              <label translate="Cadastros.Contrato.DataFimVigencia">Data Fim Vigência</label>
            </span>
          </div>
          <div class="ui-g-6">
            <p-dropdown [filter]="true" [options]="manuals" optionLabel="nome" [placeholder]="this.getLabel('Cadastros.Contrato.Manual')" name="manual" [(ngModel)]="contrato.manual" [autoWidth]="false" dataKey="id"></p-dropdown>
          </div>
          <div class="ui-g-6" style="margin-bottom: 25px">
            <span class="md-inputfield">
              <input 
                type="text" 
                name="diasDeGarantia"
                maxlength="6"
                [(ngModel)]="contrato.diasDeGarantia" 
                pInputText/>
              <label translate="Cadastros.Contrato.DiasGarantia">Dias de garantia</label>
            </span>
          </div>
          <div class = "ui-g-12" style="margin-bottom: 25px">
            <div class="ui-g">
              
              <div class="ui-g-12 ui-md-1">
                <label translate="Cadastros.Contrato.Ativo:">Ativo:</label>
              </div>

              <div class="ui-g-12 ui-md-1">
                <p-radioButton name="contrato_ativo" 
                  [(ngModel)]="contrato.ativo"
                  [value]="true" 
                  [label]="this.getLabel('Global.Botoes.Sim')">
                </p-radioButton>
              </div>

              <div class="ui-g-12 ui-md-2">
                <p-radioButton name="contrato_ativo" 
                  [value]="false" 
                  [label]="this.getLabel('Global.Botoes.Nao')"
                  [(ngModel)]="contrato.ativo">
                </p-radioButton>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-2">
            <button pButton type="button" [label]="this.getLabel('Global.Botoes.Cancelar')" routerLink="/contrato"></button>
          </div>
          <div class="ui-g-2">
            <button pButton type="submit" [label]="this.getLabel('Global.Botoes.Salvar')" [disabled]="editForm.form.invalid || isSaving" ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
