<p-tabView>
    <p-tabPanel header="Geral">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="card card-w-title">

                    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

                        <div>
                            <!-- Inicio dos campos para inclusão -->
                            <div class="ui-g" *ngIf="!isEdicao">
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                    <label>Organização</label>
                                    <p-dropdown
                                            [filter]="true"
                                            dataKey="id"
                                            id="idOrganizacaoSaveFormAnalise"
                                            name="organizacao"
                                            optionLabel="nome"
                                            placeholder="Selecione..."
                                            [options]="organizacoes"
                                            [(ngModel)]="analise.organizacao"
                                            [autoWidth]="false"
                                            (onChange)="setSistemaOrganizacao($event.value)">
                                    </p-dropdown>
                                </div>

                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                    <label>Sistema</label>
                                    <p-dropdown
                                            [filter]="true"
                                            dataKey="id"
                                            id="idSistemaSaveFormAnalise"
                                            optionLabel="sigla"
                                            disabled="{{ !disabledSistemaDropdown() }}"
                                            placeholder="{{ sistemaDropdownPlaceholder() }}"
                                            (onChange)="getSistemaSelecionado()"
                                            name="sistema"
                                            [options]="sistemas"
                                            [(ngModel)]="analise.sistema"
                                            [autoWidth]="false">
                                    </p-dropdown>
                                </div>

                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px">
                                    <label>Equipe Responsável</label>
                                    <p-dropdown
                                            [filter]="true"
                                            dataKey="id"
                                            id="idEquipeResponsavelSaveFormAnalise"
                                            name="equipeResponsavel"
                                            optionLabel="nome"
                                            placeholder="Selecione..."
                                            [disabled]="hideShowSelectEquipe"
                                            [options]="equipeResponsavel"
                                            [(ngModel)]="analise.equipeResponsavel"
                                            [autoWidth]="false">
                                    </p-dropdown>
                                </div>

                                <div class="ui-g ui-md-12 ui-sm-12" style="justify-content: center; margin-top: 05px;">
                                    <div class="ui-g-2 ui-md-2 ui-sm-12">

                                        <app-white-button
                                                buttonLabel="Cancelar"
                                                id="idBtnCancelarSaveFormAnalise"
                                                routerLink="/analise">
                                        </app-white-button>

                                    </div>
                                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                                        <app-analise-botao-salvar></app-analise-botao-salvar>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim dos campos para inclusão -->

                            <div class="ui-g" *ngIf="isEdicao">

                                <!-- Inicio dos campos para alteração -->
                                <div class="ui-g-12 ui-md-12 ui-sm-12">

                                    <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px; margin-top: 05px">
                                        <label>Organização</label>
                                        <p-dropdown
                                                [filter]="true"
                                                dataKey="id"
                                                id="idOrganizacaoEditFormAnalise"
                                                name="organizacao"
                                                optionLabel="nome"
                                                placeholder="Selecione..."
                                                disabled="true"
                                                [options]="organizacoes"
                                                [(ngModel)]="analise.organizacao"
                                                [autoWidth]="false"
                                                (onChange)="setSistamaOrganizacao($event.value)">
                                        </p-dropdown>
                                    </div>
                                    <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px; margin-top: 05px">
                                        <label>Equipe Responsável</label>
                                        <p-dropdown
                                                [filter]="true"
                                                dataKey="id"
                                                id="idEquipeResponsavelEditFormAnalise"
                                                name="equipeResponsavel"
                                                optionLabel="nome"
                                                placeholder="Selecione..."
                                                disabled="true"
                                                [options]="equipeResponsavel"
                                                [(ngModel)]="analise.equipeResponsavel"
                                                [autoWidth]="false"
                                                (onChange)="setSistamaOrganizacao($event.value)">
                                        </p-dropdown>
                                    </div>

                                    <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px; margin-top: 05px">
                                        <label>Sistema</label>
                                        <p-dropdown
                                                [filter]="true"
                                                dataKey="id"
                                                optionLabel="sigla"
                                                disabled="true"
                                                id="idSistemaEditFormAnalise"
                                                placeholder="{{ sistemaDropdownPlaceholder() }}"
                                                (onChange)="getSistemaSelecionado()"
                                                name="sistema"
                                                [options]="sistemas"
                                                [(ngModel)]="analise.sistema"
                                                [autoWidth]="false">
                                        </p-dropdown>
                                    </div>

                                </div>
                                <!-- Fim dos campos para alteração -->
                            </div>

                        </div>

                        <div style="margin-bottom: 05px; margin-top: 05px" *ngIf="isEdicao">
                            <div class="ui-g">

                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px">
                                    <label>Identificador da Analise *</label>
                                    <span class="md-inputfield">
                                        <input
                                                required
                                                type="text"
                                                maxlength="100"
                                                id="idIdentificadorAnaliseFormAnalise"
                                                name="identificadorAnalise"
                                                [(ngModel)]="analise.identificadorAnalise"
                                                pInputText/>
                                    </span>
                                </div>
                             
                                <div class="ui-g-6 ui-md-2 ui-sm-12" style="margin-bottom: 05px">
                                  <label>Data Criação da O. S. *</label>
                                     <span class="md-inputfield">
                                        <p-calendar
                                            required
                                            name="dataCriacaoOrdemServico"
                                            [(ngModel)]="analise.dataCriacaoOrdemServico"
                                            id="idDataCriacaoOrdemServicoFormAnalise"
                                            dateFormat="dd/mm/yy"
                                            showIcon="true"
                                        ></p-calendar>
                                     </span>
                                </div>

                                <div class="ui-g-3 ui-md-2 ui-sm-12" style="margin-bottom: 05px">
                                    <label>Contrato *</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            id="idContratoFormAnalise"
                                            dataKey="id"
                                            optionLabel="numeroContrato"
                                            placeholder="Selecione..."
                                            (onChange)="contratoSelected($event.value)"
                                            name="contrato"
                                            [options]="contratos"
                                            [(ngModel)]="analise.contrato"
                                            [autoWidth]="false">
                                    </p-dropdown>
                                </div>

                                <div class="ui-g-2 ui-md-2 ui-sm-12" style="margin-bottom: 05px">
                                    <label>Manual *</label>
                                    <p-dropdown
                                        required
                                        [filter]="true"
                                        id="idManual"
                                        name="manual"
                                        disabled="{{ !isContratoSelected() }}"
                                        [options]="manuaisCombo"
                                        (onChange)="setManual($event.value)"
                                        [(ngModel)]="analise.manual"
                                        [autoWidth]="false"
                                        datakey="id">
                                    </p-dropdown>
                                </div>
                                
                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px" *ngIf="validacaoCampos">
                                    <label>Método de Contagem *</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            id="idMetodoContagemFormAnalise"
                                            placeholder="{{ needContratoDropdownPlaceholder() }}"
                                            name="metodoContagem"
                                            [options]="metodosContagem"
                                            [disabled]="!this.analise.contrato"
                                            [(ngModel)]="analise.metodoContagem"
                                            [autoWidth]="false"
                                            [disabled]="!this.analise.contrato">
                                    </p-dropdown>
                                </div>

                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px" *ngIf="validacaoCampos">
                                    <label>Tipo de Contagem *</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            id="idTipoContagemFormAnalise"
                                            name="tiposAnalise"
                                            placeholder="Selecione..."
                                            [options]="tiposAnalise"
                                            [(ngModel)]="analise.tipoAnalise"
                                            [autoWidth]="false">
                                    </p-dropdown>
                                </div>
                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px" *ngIf="!validacaoCampos">
                                    <label>Método de Contagem *</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            id="idMetodoContagemFormAnalise"
                                            placeholder="{{ needContratoDropdownPlaceholder() }}"
                                            name="metodoContagem"
                                            [options]="metodosContagem"
                                            [disabled]="!this.analise.contrato"
                                            [(ngModel)]="analise.metodoContagem"
                                            [autoWidth]="false"
                                            [disabled]="!this.analise.contrato">
                                    </p-dropdown>
                                </div>

                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px" *ngIf="!validacaoCampos">
                                    <label>Tipo de Contagem *</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            id="idTipoContagemFormAnalise"
                                            name="tiposAnalise"
                                            placeholder="Selecione..."
                                            [options]="tiposAnalise"
                                            [(ngModel)]="analise.tipoAnalise"
                                            [autoWidth]="false">
                                    </p-dropdown>
                                </div>
                                <div class="ui-g-3 ui-md-4 ui-sm-12" style="margin-bottom: 05px" [hidden]="validacaoCampos">
                                    <label>Deflator</label>
                                    <p-dropdown
                                            [filter]="true"
                                            required
                                            id="idDeflatorFormAnalise"
                                            disabled="{{ !isContratoSelected() }}"
                                            placeholder="{{ needContratoDropdownPlaceholder() }}"
                                            name="fatorAjuste"
                                            [options]="fatoresAjuste"
                                            [(ngModel)]="analise.fatorAjuste"
                                            [autoWidth]="false">
                                    </p-dropdown>
                                </div>
                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px" [hidden]="validacaoCampos">
                                    <label>Propósito da Contagem</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                maxlength="4000"
                                                pInputTextarea name="propositoContagem"
                                                id="idPropositoContagemFormAnalise"
                                                [(ngModel)]="analise.propositoContagem">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px" [hidden]="validacaoCampos">
                                    <label>Escopo da Contagem</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                maxlength="4000"
                                                pInputTextarea name="escopo"
                                                id="idEscopoContagemFormAnalise"
                                                [(ngModel)]="analise.escopo">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px" [hidden]="validacaoCampos">
                                    <label>Fronteira</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                maxlength="4000"
                                                pInputTextarea name="fronteiras"
                                                id="idFronteirasFormAnalise"
                                                [(ngModel)]="analise.fronteiras">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g-6 ui-md-6 ui-sm-12" style="margin-bottom: 05px" [hidden]="validacaoCampos">
                                    <label>Documentação</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                maxlength="4000"
                                                required
                                                pInputTextarea name="documentacao"
                                                id="idDocumentacaoFormAnalise"
                                                [(ngModel)]="analise.documentacao">
                                        </textarea>
                                    </span>
                                </div>

                                <div class="ui-g-4 ui-md-4 ui-sm-12" [hidden]="validacaoCampos">

                                    <div class="ui-g-6 ui-md-6 ui-sm-12">
                                        Aguardar prazo de garantia {{diasGarantia > 0 ? " de " + diasGarantia + " dias"
                                        : null}}?
                                    </div>

                                    <div class="ui-g-3 ui-md-2 ui-sm-12" >
                                        <p-radioButton
                                                name="baseline_imediatamente"
                                                label="Sim"
                                                id="idAguardarPrazoGarantiaSimFormAnalise"
                                                [value]="true"
                                                [(ngModel)]="analise.baselineImediatamente">
                                        </p-radioButton>
                                    </div>

                                    <div class="ui-g-3 ui-md-2 ui-sm-12">
                                        <p-radioButton
                                                name="baseline_imediatamente"
                                                label="Não"
                                                id="idAguardarPrazoGarantiaNaoFormAnalise"
                                                [value]="false"
                                                [(ngModel)]="analise.baselineImediatamente">
                                        </p-radioButton>
                                    </div>

                                </div>

                                <div class="ui-g-4 ui-md-4 ui-sm-12" [hidden]="validacaoCampos">

                                    <div class="ui-g-6 ui-md-6 ui-sm-12">
                                        Incorporar a Baseline
                                    </div>
                                    <div class="ui-g-3 ui-md-2 ui-sm-12" >
                                        <p-radioButton
                                                name="baseline_enviar_baseline"
                                                label="Sim"
                                                id="idEnviarBaselineSimFormAnalise"
                                                [value]="true"
                                                [(ngModel)]="analise.enviarBaseline"
                                                (onClick)="save()">
                                        </p-radioButton>
                                    </div>

                                    <div class="ui-g-3 ui-md-2 ui-sm-12">
                                        <p-radioButton
                                                name="baseline_enviar_baseline"
                                                label="Não"
                                                id="idEnviarBaselineNaoFormAnalise"
                                                [value]="false"
                                                [(ngModel)]="analise.enviarBaseline"
                                                (onClick)="save()">
                                        </p-radioButton>
                                    </div>

                                </div>

                                <div class="ui-g-4 ui-md-4 ui-sm-12" style="margin-bottom: 05px; margin-top: 05px" [hidden]="validacaoCampos">
                                    <span class="md-inputfield">
                                        <p-calendar
                                                [required] = analise.baselineImediatamente
                                                name="dataHomol"
                                                [(ngModel)]="analise.dataHomologacao"
                                                id="idDataHomolagacaoFormAnalise"
                                                dateFormat="dd/mm/yy"
                                                showIcon="true">
                                        </p-calendar>
                                        <label>Data da homologação (software) {{analise.baselineImediatamente ? " *" : null}}</label>
                                    </span>
                                    <!-- <div *ngIf="analise.dataHomologacao"
                                         class="ui-message ui-messages-error">
                                        Campo Obrigatório!
                                    </div> -->

                                </div>

                                <p-fieldset legend="Fases" [toggleable]="true" [collapsed]="true" [hidden]="validacaoCampos">
                                    <div class="ui-g-12 ui-md-12 ui-sm-12" style="margin-bottom: 05px">
                                        <p-dataTable
                                            dataKey="id"
                                            emptyMessage="Selecione um Contrato para escolher Fases"
                                            [value]="esforcoFases"
                                            id="idTabelaFases"
                                            [(selection)]="analise.esforcoFases"
                                            (onHeaderCheckboxToggle)="save()"
                                            (onRowSelect)="save()"
                                            (onRowUnselect)="save()"
                                            [headerCheckboxToggleAllPages]="true">
                                        <p-header>Fases</p-header>
                
                                        <p-column
                                            selectionMode="multiple"
                                            [style]="{'width':'15%'}">
                                        </p-column>
                
                                        <p-column
                                            header="Nome"
                                            field="fase.nome">
                                        </p-column>
                
                                        <p-column
                                            header="Esforço %"
                                            field="esforco">
                                        </p-column>
                
                                        <p-footer
                                            *ngIf="analise.contrato">
                                            Total: {{ totalEsforcoFases() }}%
                                        </p-footer>
                                        </p-dataTable>
                                    </div>
                                </p-fieldset>
                                

                                <div class="ui-g-12 ui-md-12 ui-sm-12" style="margin-bottom: 05px" [hidden]="validacaoCampos">
                                    <label>Observações</label>
                                    <span class="md-inputfield">
                                        <textarea
                                                [rows]="3"
                                                id="idObservacoesFormAnalise"
                                                [cols]="180"
                                                maxlength="4000"
                                                autoResize=true
                                                pInputTextarea name="observacoes"
                                                [(ngModel)]="analise.observacoes">
                                        </textarea>
                                    </span>
                                </div>

                            <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 05px; margin-top: 05px">
                                <div class="ui-g-12 ui-md-12 ui-lg-2" style="margin-bottom: 05px">
                                    <app-white-button
                                            buttonLabel="Voltar"
                                            id="idBtnVoltarFormAnalise"
                                            routerLink="/analise">
                                    </app-white-button>
                                </div>
                                <div class="ui-g-12 ui-md-12 ui-lg-2" style="margin-bottom: 05px">
                                    <app-green-button
                                            type="submit"
                                            id="idBtnSalvarFormAnalise"
                                            buttonLabel="Salvar"
                                            (click)="save()">
                                    </app-green-button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </p-tabPanel>

    <p-tabPanel
            [disabled]="disableAba"
            header="Funções de Dados"
            *ngIf="isEdicao">
        <app-analise-funcao-dados [isView]="!this.isEdicao"></app-analise-funcao-dados>
        <app-white-button
            buttonLabel="Voltar"
            routerLink="/analise">
        </app-white-button>
    </p-tabPanel>

    <p-tabPanel
            [disabled]="!disableFuncaoTrasacao"
            header="Funções de Transação"
            *ngIf="isEdicao">
        <app-analise-funcao-transacao [isView]="!this.isEdicao"></app-analise-funcao-transacao>
        <app-white-button
            buttonLabel="Voltar"
            routerLink="/analise">
        </app-white-button>
    </p-tabPanel>

    <p-tabPanel
            [disabled]="disableAba"
            header="Resumo"
            *ngIf="isEdicao">
        <app-analise-resumo></app-analise-resumo>
        <app-white-button
            buttonLabel="Voltar"
            routerLink="/analise">
        </app-white-button>
        <app-gray-button
            buttonLabel="Gerar Relatório"
            (click)="geraRelatorioPdfDetalhadoBrowser()">
        </app-gray-button>
        <app-red-button
            buttonLabel="Bloquear Análise"
            (click)="bloquearAnalise()">
        </app-red-button>
        <app-blue-button
            buttonLabel="Compartilhar Análise"
            (click)="openCompartilharDialog()">
        </app-blue-button>
    </p-tabPanel>

    <p-dialog header="Compartilhar Análise" [(visible)]="mostrarDialog" [width]="800" [modal]="true" (onHide)="limparSelecaoCompartilhar()">
        <p-dataTable
        [(value)]="equipeShare"
        [headerCheckboxToggleAllPages]="true"
        [(selection)]="selectedEquipes"
        dataKey="equipeId">

            <p-column
                selectionMode="multiple"
                [style]="{'width':'10%'}">
            </p-column>

            <p-column
                header="Equipe"
                field="nomeEquipe">
            </p-column>

            <p-column
                header="Somente visualizar?"
                field="viewOnly"
                [style]="{'width':'12%'}">
                <ng-template let-col let-equipeShare="rowData" pTemplate="body">
                    <p-toggleButton [(ngModel)]="equipeShare.viewOnly" onLabel="Sim" offLabel="Não"></p-toggleButton>
                </ng-template>
            </p-column>
        </p-dataTable>

        <app-green-button buttonLabel="Adicionar" (click)="salvarCompartilhar()" style="float:right; margin-top: 5px"></app-green-button>
        <br/>
        <br/>

        <hr/>
        <h3>Compartilhada com:</h3>
        <p-dataTable
        [(value)]="analise.compartilhadas"
        selectionMode="single"
        [(selection)]="selectedToDelete"
        dataKey="equipeId">
            <p-column
                header="Equipe"
                field="nomeEquipe">
            </p-column>

            <p-column
                header="Somente visualizar?"
                field="viewOnly"
                [style]="{'width':'12%'}">
                <ng-template let-col let-analiseTemp="rowData" pTemplate="body">
                    <p-toggleButton [(ngModel)]="analiseTemp.viewOnly" onLabel="Sim" offLabel="Não" (onChange)="updateViewOnly()"></p-toggleButton>
                </ng-template>
            </p-column>
        </p-dataTable>

        <app-red-button buttonLabel="Remover" (click)="deletarCompartilhar()" style="float:right; margin-top: 5px"></app-red-button>

    </p-dialog>

</p-tabView>

<!-- Dialog confirmação deleção -->
<p-confirmDialog header="Confirmação" #dialog>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="Não" (click)="dialog.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Sim" (click)="dialog.accept()"></button>
    </p-footer>
</p-confirmDialog>
