<div class="ui-g ui-fluid">

    <div class="ui-g-12 ui-md-12 ui-sm-12">

        <div class="card card-w-title">

            <h1 translate="Analise.Analise.Analise">Análise</h1>

            <div class="ui-g">
                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <span class="md-inputfield">
                        <input
                              type="text"
                              pInputText class="ui-inputtext"
                              [(ngModel)]="searchGroup.identificadorAnalise"
                              (keyup.enter)="performSearch()"
                              id="idIdentificadorComponentAnalise"
                              maxlength="50">
                        <label translate="Analise.Analise.Identificador">Identificador</label>
                    </span>
                </div>

                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            [filter]="true"
                            [options]="nomeSistemas"
                            optionLabel="nome"
                            id="idNomeSistemaComponentAnalise"
                            [(ngModel)]="searchGroup.sistema"
                            [autoWidth]="false"
                            [placeholder]="this.getLabel('Analise.Analise.Sistema')">
                    </p-dropdown>
                </div>
                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            id="idUsuarioFiltrotAnalise"
                            [filter]="true"
                            [options]="usuariosOptions"
                            optionLabel="nome"
                            [autoWidth]="false"
                            [(ngModel)]="searchGroup.usuario"
                            [placeholder]="this.getLabel('Analise.Analise.Usuarios')" >
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-g">

                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            id="idOrganizacaoComponentAnalise"
                            [filter]="true"
                            [options]="organizations"
                            optionLabel="nome"
                            [autoWidth]="false"
                            [(ngModel)]="searchGroup.organizacao"
                            [placeholder]="this.getLabel('Analise.Analise.Organizacao')">
                    </p-dropdown>
                </div>

                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            [filter]="true"
                            [options]="teams"
                            optionLabel="nome"
                            id="idTimeComponentAnalise"
                            [autoWidth]="false"
                            [(ngModel)]="searchGroup.equipe"
                            [placeholder]="this.getLabel('Analise.Analise.Equipe')">
                    </p-dropdown>
                </div>
                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown
                            [filter]="true"
                            [options]="metsContagens"
                            id="idMetodoContagemComponentAnalise"
                            [(ngModel)]="searchGroup.metodoContagem"
                            [autoWidth]="false"
                            [placeholder]="this.getLabel('Analise.Analise.MetodoContagem')">
                    </p-dropdown>
                </div>
            </div>

            <div class="ui-g">

                <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 25px; margin-top: 25px">

                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-white-button
                                [buttonLabel]="'Global.Botoes.LimparPesquisa' | translate"
                                id="idBtnLimparPesquisaComponentAnalise"
                                buttonIcon="ui-icon-clear-all"
                                (click)="limparPesquisa()">
                        </app-white-button>
                    </div>

                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-blue-button
                                [buttonLabel]="'Global.Botoes.Pesquisar' | translate"
                                id="idBtnPesquisarComponentAnalise"
                                buttonIcon="ui-icon-search"
                                (click)="performSearch()">
                        </app-blue-button>
                    </div>

                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-green-button
                                [buttonLabel]="'Global.Botoes.Novo' | translate"
                                id="idBtnNovoComponentAnalise"
                                buttonIcon="ui-icon-add"
                                routerLink="new">
                        </app-green-button>
                    </div>
                </div>
                <div *ngIf="enableTable">
                    <basis-datatable
                            [url]="userAnaliseUrl"
                            (dblclick)="onRowDblclick($event)"
                            (buttonClick)="datatableClick($event)"
                            [rows]="20"
                            id="idTabelaComponentAnalise"
                            [rowsPerPageOptions]="rowsPerPageOptions"
                            [showPaginationFooter]="true"
                            (click) = "selectAnalise($event)"
                            resizableColumns="true"
                            #datatable>

                        <basis-datatable-button
                                *ngIf="blocked"
                                name="desbloquear"
                                [tooltip]="this.getLabel('Global.Botoes.Desbloquear')"
                                icon="block"
                                (click)="bloqueiaAnalise(blocked)"
                                class="ui-button-success">
                        </basis-datatable-button>

                        <basis-datatable-button
                                *ngIf="!blocked && inicial"
                                name="bloquear"
                                [tooltip]="this.getLabel('Global.Botoes.Bloquear')"
                                icon="block"
                                (click)="bloqueiaAnalise(blocked)"
                                class="ui-button-danger">
                        </basis-datatable-button>

                        <basis-datatable-button
                                name="compartilhar"
                                [tooltip]="compartilharTooltip()"
                                icon="share"
                                class="ui-button-info"
                                disabled="desabilitarBotaoRelatorio()">
                        </basis-datatable-button>

                        <basis-datatable-button
                                name="clone"
                                [tooltip]="clonarTooltip()"
                                icon="content-copy"
                                disabled="desabilitarBotaoRelatorio()">
                        </basis-datatable-button>

                        <basis-datatable-button
                                name="relatorioBrowserDetalhado"
                                [tooltip]="relatorioTooltip()"
                                icon="description"
                                disabled="desabilitarBotaoRelatorio()">
                        </basis-datatable-button>

                        <basis-datatable-button
                                name="relatorioExcelDetalhado"
                                [tooltip]="relatorioExcelTooltip()"
                                icon="description"
                                disabled="desabilitarBotaoRelatorio()"
                                class="ui-button-success">
                        </basis-datatable-button>

                        <!--<basis-datatable-button
                                name="relatorioAnaliseContagem"
                                [tooltip]="relatorioContagemTooltip()"
                                icon="description"
                                disabled="desabilitarBotaoRelatorio()"
                                class="ui-button-danger">
                        </basis-datatable-button>-->

                        <basis-datatable-button
                                name="cloneParaEquipe"
                                [tooltip]="clonarParaEquipeTooltip()"
                                icon="content-copy"
                                disabled="desabilitarBotaoRelatorio()"
                                class="ui-button-success">
                        </basis-datatable-button>


                        <p-column [header]="this.getLabel('Analise.Analise.Organizacao')" field="organizacao.nome"
                                [sortable]="true">
                        </p-column>

                        <p-column [header]="this.getLabel('Analise.Analise.IdentificadorAnalise')"
                                field="identificadorAnalise" [sortable]="true">
                        </p-column>

                        <p-column [header]="this.getLabel('Analise.Analise.Equipe')" field="equipeResponsavel.nome"
                                [sortable]="true">
                        </p-column>

                        <p-column [header]="this.getLabel('Analise.Analise.Sistema')" field="sistema.nome"
                                [sortable]="true">
                        </p-column>

                        <p-column [header]="this.getLabel('Analise.Analise.MetodoContagem')" field="metodoContagem"
                                [sortable]="true">
                        </p-column>

                        <p-column [header]="this.getLabel('Analise.Analise.PFTotal')" field="pfTotal" [sortable]="true">
                            <ng-template let-col let-pfTotal="rowData.pfTotal" pTemplate="body">
                                {{ pfTotal > 0 ? pfTotal : 0 | number: '00.00'}}
                            </ng-template>
                        </p-column>

                        <p-column [header]="this.getLabel('Analise.Analise.PFAjustado')" field="adjustPFTotal"
                                [sortable]="true">
                            <ng-template let-col let-adjustPFTotal="rowData.adjustPFTotal" pTemplate="body">
                                {{ adjustPFTotal > 0 ? adjustPFTotal : 0 | number: '00.00'}}
                            </ng-template>
                        </p-column>


                        <p-column [header]="this.getLabel('Analise.Analise.DataCriacao')" field="dataCriacaoOrdemServico"
                                [sortable]="true">
                            <ng-template let-col let-dataCriacaoOrdemServico="rowData.dataCriacaoOrdemServico"
                                        pTemplate="body">
                                {{ dataCriacaoOrdemServico | date: 'dd/MM/y - HH:mm' }}
                            </ng-template>
                        </p-column>

                        <p-column [header]="this.getLabel('Analise.Analise.Bloqueado')" field="bloqueiaAnalise"
                                [sortable]="true">
                            <ng-template let-col let-bloqueado="rowData" pTemplate="body">
                                {{ bloqueado[col.field] ? this.getLabel('Global.Botoes.Sim') : this.getLabel('Global.Botoes.Nao') }}
                            </ng-template>
                        </p-column>

                        <p-column [header]="this.getLabel('Analise.Analise.ClonadaParaEquipe')" field="clonadaParaEquipe"
                                [sortable]="true">
                            <ng-template let-col let-bloqueado="rowData" pTemplate="body">
                                {{ bloqueado[col.field] ? this.getLabel('Global.Botoes.Sim') : this.getLabel('Global.Botoes.Nao') }}
                            </ng-template>
                        </p-column>

                        <p-column [header]="this.getLabel('Analise.Analise.Usuarios')" field="users" [sortable]="false">
                            <ng-template let-col let-row="rowData" pTemplate="body">
                                <li *ngFor="let user of row.users">
                                    {{ user.firstName }}
                                </li>
                            </ng-template>
                        </p-column>
                    </basis-datatable>
                    
                    <div class="ui-g-12 ui-md-2">
                        <app-botoes-exportacao [query]="changeUrl()" resourceName="analise" id="idBtnExportacaoComponentAnalise"
                        fileName="analise">
                        </app-botoes-exportacao>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog [header]="getLabel('Global.Mensagens.Confirmacao')" #dialog>
    <p-footer>
        <button type="button" pButton icon="fa-close" [label]="this.getLabel('Global.Botoes.Nao')"
                (click)="dialog.reject()"></button>
        <button type="button" pButton icon="fa-check" [label]="this.getLabel('Global.Botoes.Sim')"
                (click)="dialog.accept()"></button>
    </p-footer>
</p-confirmDialog>

<p-dialog *ngIf="equipeShare" [header]="this.getLabel('Analise.Analise.CompartilharAnalise')"
          [(visible)]="mostrarDialog" [width]="800" [modal]="true" (onHide)="limparSelecaoCompartilhar()">
    <p-dataTable
            [(value)]="equipeShare"
            [headerCheckboxToggleAllPages]="true"
            [(selection)]="selectedEquipes"
            dataKey="equipeId"
            [emptyMessage]="this.getLabel('Analise.Analise.Mensagens.msgNenhumaEquipeNaOrganizaçãoAcessoAnálise')">

        <p-column
                selectionMode="multiple"
                [style]="{'width':'10%'}">
        </p-column>

        <p-column
                [header]="this.getLabel('Analise.Analise.Equipe')"
                field="nomeEquipe">
        </p-column>

        <p-column
                [header]="this.getLabel('Analise.Analise.SomenteVisualizar')"
                field="viewOnly"
                [style]="{'width':'15%'}">
            <ng-template let-col let-equipeShare="rowData" pTemplate="body">
                <p-toggleButton [(ngModel)]="equipeShare.viewOnly" onLabel="Sim" offLabel="Não"></p-toggleButton>
            </ng-template>
        </p-column>
    </p-dataTable>

    <app-green-button [buttonLabel]="this.getLabel('Global.Botoes.Adicionar')" (click)="salvarCompartilhar()"
                      style="float:right; margin-top: 5px"></app-green-button>
    <br/>
    <br/>

    <hr/>
    <h3 translate="Analise.Analise.CompartilhadaCom">Compartilhada com:</h3>
    <p-dataTable
            [(value)]="analiseTemp.compartilhadas"
            selectionMode="single"
            [(selection)]="selectedToDelete"
            dataKey="equipeId"
            [emptyMessage]="this.getLabel('Analise.Analise.Mensagens.msgNenhumaEquipeAcessoAnalise')">
        <p-column
                [header]="this.getLabel('Analise.Analise.Equipe')"
                field="nomeEquipe">
        </p-column>

        <p-column
                [header]="this.getLabel('Analise.Analise.SomenteVisualizar')"
                field="viewOnly"
                [style]="{'width':'15%'}">
            <ng-template let-col let-analiseTemp="rowData" pTemplate="body">
                <p-toggleButton [(ngModel)]="analiseTemp.viewOnly" onLabel="Sim" offLabel="Não"
                                (onChange)="updateViewOnly()"></p-toggleButton>
            </ng-template>
        </p-column>
    </p-dataTable>

    <app-red-button [buttonLabel]="this.getLabel('Global.Botoes.Remover')" (click)="deletarCompartilhar()"
                    style="float:right; margin-top: 5px"></app-red-button>
</p-dialog>
<p-dialog [header]="this.getLabel('Analise.Analise.ClonarParaEquipe')" [(visible)]="showDialogAnaliseCloneTipoEquipe" [width]="500" [minHeight]="300" [modal]="true" >
    <div style="min-height:300px">
        <div class="ui-g" >
            <div class="ui-g-12 ui-md-12 ui-sm-12">
                <p-dropdown
                        [style]="{'width':'100%'}"
                        [filter]="true"
                        [options]="tipoEquipesToClone"
                        optionLabel="nome"
                        id="idCloneToTipoEquipe"
                        [autoWidth]="false"
                        [(ngModel)]="equipeToClone"
                        [placeholder]="this.getLabel('Analise.Analise.Mensagens.msgSelecioneEquipeResponsavel')">
                </p-dropdown>
            </div>
        </div>
        <app-green-button [buttonLabel]="this.getLabel('Global.Botoes.Adicionar')" (click)="cloneAnaliseToEquipe()" style="float:right; margin-top: 5px"></app-green-button>
    </div>
</p-dialog>
<p-dialog [header]="this.getLabel('Analise.Analise.Mensagens.msgCONFIRMAR_BLOQUEIO')" [(visible)]="showDialogAnaliseBlock" [width]="410" [minHeight]="500" [modal]="true" >
    <div *ngIf="analiseTemp && analiseTemp">
        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-label" style="margin-bottom: 05px; margin-top: 05px; min-height:350px;" >
                <label>{{this.getLabel('Analise.Analise.DataHomologacao')}}</label>
                <div class="ui-g-12 ui-md-12 ui-sm-12">
                    <p-calendar
                    name="dataHomologacao"
                    [(ngModel)]="analiseTemp.dataHomologacao"
                    dateFormat="dd/mm/yy"
                    showIcon="true">
                </p-calendar>
            </div>
        </div>
    </div>
    <button type="button" pButton icon="fa-close" (click)="showDialogAnaliseBlock=false" [label]="this.getLabel('Global.Botoes.Cancelar')" style="float:right; margin-top: 5px"></button>
    <button type="button" pButton icon="fa-check" (click)="alterAnaliseBlock()" [label]="this.getLabel('Global.Botoes.Bloquear')" style="float:right; margin-top: 5px"></button>
</p-dialog>