<p-tabView>
  <p-tabPanel header="Geral">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="card card-w-title">
          <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div class="ui-g" >
              <div class="ui-g-12" style="margin-bottom: 25px">
                <span class="md-inputfield">
                  <input type="text" name="numeroOS" [(ngModel)]="analise.numeroOs" pInputText/>
                  <label>Número OS</label>
                </span>
              </div>
              <div class="ui-g-12" style="margin-bottom: 25px">
                <p-dropdown [options]="organizacoes" optionLabel="nome"
                  [(ngModel)]="analise.organizacao" [autoWidth]="false"
                  placeholder="Organização" name="organizacao"
                  (onChange)="organizacaoSelected($event.value)"
                  dataKey="id">
                </p-dropdown>
              </div>
              <div class="ui-g-12" style="margin-bottom: 25px">
                <p-dropdown [options]="contratos" optionLabel="numeroContrato" 
                  [(ngModel)]="analise.contrato" 
                  disabled="{{ !shouldEnableContratoDropdown() }}" 
                  placeholder="{{ contratoDropdownPlaceholder() }}"
                  (onChange)="contratoSelected($event.value)"
                  name="contrato" [autoWidth]="false"
                  dataKey="id">
                </p-dropdown>
              </div>
              <div class="ui-g-12" style="margin-bottom: 25px">
                <p-dropdown [options]="sistemas" optionLabel="nome" 
                  [(ngModel)]="analise.sistema"  
                  disabled="{{ !shouldEnableSistemaDropdown() }}"
                  placeholder="{{ sistemaDropdownPlaceholder() }}"
                  name="sistema" [autoWidth]="false"
                  dataKey="id">
                </p-dropdown>
              </div>
              <div class="ui-g-12" style="margin-bottom: 25px">
                <p-dropdown [options]="metodosContagem"
                  [(ngModel)]="analise.tipoContagem"  
                  disabled="{{ !isContratoSelected() }}"
                  placeholder="{{ tipoDeContagemDropdownPlaceholder() }}"
                  name="tipoContagem" [autoWidth]="false">
                </p-dropdown>
              </div>

              <div class="ui-g-12" style="margin-bottom: 25px">
                <p-dropdown [options]="tiposAnalise"
                  [(ngModel)]="analise.tipoAnalise"  
                  placeholder="Tipo de Análise"
                  name="analise" [autoWidth]="false">
                </p-dropdown>
              </div>

              <div class="ui-g-12" style="margin-bottom: 25px">
                <p-dropdown [options]="fatoresAjuste | fatorAjusteToSelectItem"
                  [(ngModel)]="analise.valorAjuste"
                  disabled="{{ !isContratoSelected() }}"
                  placeholder="{{ fatoresAjusteDropdownPlaceholder() }}"
                  name="valorAjuste" [autoWidth]="false">
                </p-dropdown>
              </div>

              <div class="ui-g-12" style="margin-bottom: 25px">
                <p-dataTable
                  [value]="esforcoFases" [(selection)]="analise.esforcoFases" dataKey="id"
                  [headerCheckboxToggleAllPages]="true"
                  emptyMessage="Selecione um Contrato para escolher Fases">
                  <p-header>Fases</p-header>
                  <p-column selectionMode="multiple"
                    [style]="{'width':'15%'}"></p-column>
                  <p-column header="Nome" field="fase.nome"></p-column>
                  <p-column header="Esforço %" field="esforco"></p-column>
                  <p-footer *ngIf="analise.contrato">Total: {{ totalEsforcoFases() }}%</p-footer>
                </p-dataTable>
              </div>

              <div class="ui-g-12" style="margin-bottom: 25px">
                <span class="md-inputfield">
                  <textarea [rows]="3" [cols]="180" pInputTextarea
                    name="propositoContagem" 
                    [(ngModel)]="analise.propositoContagem">
                  </textarea>
                  <label>Propósito da Contagem</label>
                </span>
              </div>

              <div class="ui-g-12" style="margin-bottom: 25px">
                <span class="md-inputfield">
                  <textarea [rows]="3" [cols]="180" pInputTextarea name="escopo" 
                    [(ngModel)]="analise.escopo">
                  </textarea>
                  <label>Escopo</label>
                </span>
              </div>
              <div class="ui-g-12" style="margin-bottom: 25px">
                <span class="md-inputfield">
                  <textarea [rows]="3" [cols]="180" pInputTextarea name="fronteiras" 
                    [(ngModel)]="analise.fronteiras">
                  </textarea>
                  <label>Fronteira</label>
                </span>
              </div>
              <div class="ui-g-12" style="margin-bottom: 25px">
                <span class="md-inputfield">
                  <textarea [rows]="3" [cols]="180" pInputTextarea name="documentacao" 
                    [(ngModel)]="analise.documentacao">
                  </textarea>
                  <label>Documentação</label>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Função Dados">
    <app-analise-funcao-dados></app-analise-funcao-dados>
  </p-tabPanel>
  <p-tabPanel header="Função Transação">
    <app-analise-funcao-transacao></app-analise-funcao-transacao>
  </p-tabPanel>
  <p-tabPanel header="Resumo">

  </p-tabPanel>
</p-tabView>