<div class="ui-g ui-fluid">

    <div class="ui-g-12 ui-md-12 ui-sm-12">

        <div class="card card-w-title">

            <h1>Análise</h1>

            <div class="ui-g">
                <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <span class="md-inputfield">
                      <input 
                        type="text"
                        (click)="switchUrlIdentificador()" 
                        pInputText class="ui-inputtext"
                        [(ngModel)]="searchParams.identificador"
                        (keyup.enter)="performSearch()"
                        #filter
                        id="idIdentificadorComponentAnalise"
                        maxlength="50">
                      <label>Identificador</label>
                    </span>
                  </div>
      
                  <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown 
                      [filter]="true"
                      (click)=" switchUrlSistema()"
                      [options]="nomeSistemas" 
                      optionLabel="nome" 
                      id="idNomeSistemaComponentAnalise"
                      [(ngModel)]="searchParams.nomeSistema" 
                      [autoWidth]="false" 
                      placeholder="Sistema">
                    </p-dropdown>
                  </div>

                  <div class="ui-g-4 ui-md-4 ui-sm-12">
                    <p-dropdown 
                      [filter]="true"
                      (click)="switchUrlMetodoContagem()"
                      [options]="metsContagens" 
                      optionLabel="text" 
                      id="idMetodoContagemComponentAnalise"
                      [(ngModel)]="searchParams.metContagem" 
                      [autoWidth]="false" 
                      placeholder="Metodo de Contagem">
                    </p-dropdown>
                  </div>
          </div>
          <div class="ui-g">
      
            <div class="ui-g-4 ui-md-6 ui-sm-12">
              <p-dropdown 
                [filter]="true"
                (click)="switchUrlOrganizacao()"
                [options]="organizations" 
                optionLabel="nome" 
                id="idOrganizacaoComponentAnalise"
                [(ngModel)]="searchParams.organizacao" 
                [autoWidth]="false" 
                placeholder="Organização">
              </p-dropdown>
            </div>
            
            <div class="ui-g-4 ui-md-6 ui-sm-12">
              <p-dropdown 
                [filter]="true"
                [options]="teams" 
                (click)="switchUrlEquipe()"
                optionLabel="nome"
                id="idTimeComponentAnalise" 
                [autoWidth]="false" 
                [(ngModel)]="searchParams.team" 
                placeholder="Equipe">
              </p-dropdown>
            </div>
                <div class="ui-g-12 ui-md-12 ui-sm-12"></div>
                    <div class="ui-g-4 ui-md-12 ui-sm-12">
                        <span class="md-inputfield">
                            <input 
                                type="text"
                                (click)="switchUrlDescricao()"
                                pInputText class="ui-inputtext"
                                id="idDescricaoComponentAnalise"
                                [(ngModel)]="searchParams.descricao"
                                (keyup.enter)="performSearch()"
                                #filter/>
                            <label>Descrição</label>
                        </span>
                    </div>
        </div>

            <div class="ui-g">

                    <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 25px; margin-top: 25px">

                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                            <app-white-button
                                    buttonLabel="Limpar Pesquisa"
                                    id="idBtnLimparPesquisaComponentAnalise"
                                    buttonIcon="ui-icon-clear-all"
                                    (click)="limparPesquisa()">
                            </app-white-button>
                        </div>

                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                            <app-blue-button
                                    buttonLabel="Pesquisar"
                                    id="idBtnPesquisarComponentAnalise"
                                    buttonIcon="ui-icon-search"
                                    (click)="performSearch()">
                            </app-blue-button>
                        </div>

                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                            <app-green-button
                                    buttonLabel="Novo"
                                    id="idBtnNovoComponentAnalise"
                                    buttonIcon="ui-icon-add"
                                    routerLink="/analise/new">
                            </app-green-button>
                        </div>

                    </div>

                    <basis-datatable
                            [url]="userAnaliseUrl"
                            (dblclick)="onRowDblclick($event)"
                            (buttonClick)="datatableClick($event)"
                            [rows]="20"
                            id="idTabelaComponentAnalise"
                            [rowsPerPageOptions]="rowsPerPageOptions"
                            [showPaginationFooter]="true"
                            #datatable>

                        <basis-datatable-button 
                                *ngIf="blocked"
                                name="desbloquear"
                                tooltip="Desbloquear"
                                icon="block"
                                (click)="desbloqueiaRelatorio()"
                                class="ui-button-success">
                        </basis-datatable-button>

                        <basis-datatable-button 
                                *ngIf="!blocked && inicial"
                                name="bloquear"
                                tooltip="Bloquear"
                                icon="block"
                                (click)="bloqueiaRelatorio()"
                                class="ui-button-danger">
                        </basis-datatable-button>

                        <basis-datatable-button
                                name="compartilhar"
                                tooltip="Compartilhar Análise"
                                icon="share"
                                class="ui-button-info"
                                disabled="desabilitarBotaoRelatorio()">
                        </basis-datatable-button>
                        
                        <basis-datatable-button
                                name="clone"
                                tooltip="Clonar"
                                icon="content-copy"
                                disabled="desabilitarBotaoRelatorio()">
                        </basis-datatable-button>

                        <basis-datatable-button
                                name="relatorioBrowserDetalhado"
                                tooltip="Relatório Detalhado"
                                icon="description"
                                disabled="desabilitarBotaoRelatorio()">
                        </basis-datatable-button>

                        <p-column header="Organização" field="organizacao.sigla" [sortable]="true"
                                  [style]="{'font-size': '1.0vw'}"></p-column>

                        <p-column header="Identificador Análise" field="identificadorAnalise" [sortable]="true"
                                  [style]="{'font-size': '1.0vw'}"></p-column>
                        <p-column header="Equipe" field="equipeResponsavel.nome" [sortable]="true"
                                  [style]="{'font-size': '1.0vw'}"></p-column>
                        <p-column header="Sistema" field="sistema.sigla" [sortable]="true"
                                  [style]="{'font-size': '1.0vw'}"></p-column>
                        <p-column header="Método de Contagem" field="metodoContagem" [sortable]="true"
                                  [style]="{'font-size': '1.0vw'}"></p-column>

                        <p-column header="PF Total" [sortable]="true" [style]="{'font-size': '1.0vw'}">
                            <ng-template let-col let-pfTotal="rowData.pfTotal" pTemplate="body">
                                {{ pfTotal > 0 ? pfTotal : 0 | number: '00.00'}}
                            </ng-template>
                        </p-column>

                        <p-column header="PF Ajustado" [sortable]="true" [style]="{'font-size': '1.0vw'}">
                            <ng-template let-col let-adjustPFTotal="rowData.adjustPFTotal" pTemplate="body">
                                {{ adjustPFTotal > 0 ? adjustPFTotal : 0 | number: '00.00'}}
                            </ng-template>
                        </p-column>

                        <p-column header="Dias restantes em Garantia" [sortable]="true"
                                  [style]="{'font-size': '1.0vw'}">
                            <ng-template let-dado="rowData" pTemplate="body">
                                {{ dado | datePipe }}
                            </ng-template>
                        </p-column>

                        <p-column header="Data Criação" [sortable]="true" [style]="{'font-size': '1.0vw'}">
                            <ng-template let-col let-createdOn="rowData.createdOn" pTemplate="body">
                                {{ createdOn | date: 'dd/MM/y - HH:mm' }}
                            </ng-template>
                        </p-column>

                        <!-- <p-column header="Data última Alteração" [sortable] = "true">
                          <ng-template let-col let-updatedOn="rowData.audit.updatedOn" pTemplate="body">
                              {{ updatedOn | date: 'dd/MM/y - HH:mm' }}
                          </ng-template>
                        </p-column> -->

                        <p-column header="Bloqueado" field="bloqueiaAnalise" [sortable]="true"
                                  [style]="{'font-size': '1.0vw'}">
                            <ng-template let-col let-bloqueiaAnalise="rowData" pTemplate="body">
                                {{ bloqueiaAnalise[col.field] ? 'Sim' : 'Não' }}
                            </ng-template>
                        </p-column>

                    </basis-datatable>

                    <div class="ui-g-12 ui-md-2">
                        <app-botoes-exportacao resourceName="analise" id="idBtnExportacaoComponentAnalise">
                        </app-botoes-exportacao>
                    </div>

                </div>

        </div>
    </div>

</div>

<p-confirmDialog header="Confirmação" #dialog>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="Não" (click)="dialog.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Sim" (click)="dialog.accept()"></button>
    </p-footer>
</p-confirmDialog>

<p-dialog header="Compartilhar Análise" [(visible)]="mostrarDialog" [width]="800" [modal]="true" (onHide)="limparSelecaoCompartilhar()">
        <p-dataTable
        [(value)]="equipeShare"
        [headerCheckboxToggleAllPages]="true"
        [(selection)]="selectedEquipes"
        dataKey="equipeId">

            <p-column
                selectionMode="multiple"
                [style]="{'width':'10%'}">
            </p-column>

            <p-column
                header="Equipe"
                field="nomeEquipe">
            </p-column>

            <p-column
                header="Somente visualizar?"
                field="viewOnly"
                [style]="{'width':'15%'}">
                <ng-template let-col let-equipeShare="rowData" pTemplate="body">
                    <p-toggleButton [(ngModel)]="equipeShare.viewOnly" onLabel="Sim" offLabel="Não"></p-toggleButton>
                </ng-template>
            </p-column>
        </p-dataTable>

        <app-green-button buttonLabel="Adicionar" (click)="salvarCompartilhar()" style="float:right; margin-top: 5px"></app-green-button>
        <br/>
        <br/>

        <hr/>
        <h3>Compartilhada com:</h3>
        <p-dataTable
        [(value)]="analiseSelecionada.compartilhadas"
        selectionMode="single"
        [(selection)]="selectedToDelete"
        dataKey="equipeId">
            <p-column
                header="Equipe"
                field="nomeEquipe">
            </p-column>

            <p-column
                header="Somente visualizar?"
                field="viewOnly"
                [style]="{'width':'15%'}">
                <ng-template let-col let-analiseTemp="rowData" pTemplate="body">
                    <p-toggleButton [(ngModel)]="analiseTemp.viewOnly" onLabel="Sim" offLabel="Não" (onChange)="updateViewOnly()"></p-toggleButton>
                </ng-template>
            </p-column>
        </p-dataTable>

        <app-red-button buttonLabel="Remover" (click)="deletarCompartilhar()" style="float:right; margin-top: 5px"></app-red-button>

</p-dialog>
