<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-12 ui-sm-12">
    <div class="card card-w-title">
      <h1>Organização</h1>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-sm-12">
          <span class="md-inputfield">
            <input type="text" pInputText class="ui-inputtext" (input)="elasticQuery.value = $event.target.value"
              (keyup.enter)="recarregarDataTable()"
              #filter maxlength="80" />
              <label translate="Cadastros.Organizacao.Descricao">Descrição</label>
          </span>
        </div>
      </div>
      <div class="ui-g">

        <div class="ui-g ui-md-12" style="justify-content: center; margin-bottom: 25px; margin-top: 25px">
              <div class="ui-g-2 ui-md-2 ui-sm-12">
                <app-white-button
                  [buttonLabel]="'Limpar Pesquisa'"
                  id="idBtnLimparPesquisaComponentOrganizacao"
                  buttonIcon="ui-icon-clear-all"
                  (click)="limparPesquisa()">
                </app-white-button>
              </div>
              <div class="ui-g-2 ui-md-2 ui-sm-12">
                <app-blue-button
                  [buttonLabel]="'Pesquisar' "
                  buttonIcon="ui-icon-search"
                  id="idBtnPesquisarComponentOrganizacao"
                  (click)="recarregarDataTable()">
                </app-blue-button>
              </div>
              <div class="ui-g-2 ui-md-2 ui-sm-12">
                <app-green-button
                  [buttonLabel]="'Novo'"
                  id="idBtnNovoComponentOrganizacao"
                  buttonIcon="ui-icon-add"
                  routerLink="/organizacao/new"></app-green-button>
              </div>
        </div>

        <basis-datatable
            type="server"
            [url]="searchUrl"
            (dblclick)="onRowDblclick($event)"
            (click) = "selectOrganizacao()"
            (buttonClick)="onClick($event)"
            [rows]="20"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [showPaginationFooter]="true"
            [showVisibleColumnsControl]="true"
            #datatable>
          <p-column header="Sigla" field="sigla" [sortable]="true" ></p-column>
          <p-column header="Nome" field="nome" [sortable]="true"></p-column>
          <p-column header="CNPJ" field="cnpj" [sortable]="true">
            <ng-template  let-col let-item="rowData" pTemplate="body">
              {{ item.cnpj}}
            </ng-template>
          </p-column>
          <p-column header="Número da Ocorrência" field="numeroOcorrencia" [sortable]="true"></p-column>
          <p-column header="Ativo" field="ativo" [sortable]="true">
            <ng-template let-col let-organizacao="rowData" pTemplate="body">
              {{ organizacao.ativo? 'Sim' : (organizacao.ativo != null ? 'Não' : null) }}
            </ng-template>
          </p-column>

        </basis-datatable>
        <div class="ui-g-12 ui-md-2">
            <app-export-button [dataTable]="datatable" resourceName="organizacaos" >
            </app-export-button>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmação" #dialog>
  <p-footer>
    <button type="button" id="idBtnNaoDeleteComponentOrganizacao" pButton icon="fa-close" label="Não" (click)="dialog.reject()"></button>
    <button type="button" id="idBtnSimDeleteComponentOrganizacao" pButton icon="fa-check" label="Sim" (click)="dialog.accept()"></button>
  </p-footer>
</p-confirmDialog>
